<div class="sidebar-box sidebar-box--two-col">
	<div class="sidebar-box__heading">
		Популярные города
	</div>
	<div class="sidebar-box__content">
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<div class="sidebar-box__text">
					Венеция
					<span class="sidebar-box__price">
						от 15 688 грн
					</span>
				</div>
			</a>
		</div>
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<div class="sidebar-box__text">
					Тунис
					<span class="sidebar-box__price">
						от 15 688 грн
					</span>
				</div>
			</a>
		</div>
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<div class="sidebar-box__text">
					Рим
					<span class="sidebar-box__price">
						от 15 688 грн
					</span>
				</div>
			</a>
		</div>
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<div class="sidebar-box__text">
					Флоренция
					<span class="sidebar-box__price">
						от 15 688 грн
					</span>
				</div>
			</a>
		</div>
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<div class="sidebar-box__text">
					Верона
					<span class="sidebar-box__price">
						от 15 688 грн
					</span>
				</div>
			</a>
		</div>
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<div class="sidebar-box__text">
					Пиза
					<span class="sidebar-box__price">
						от 15 688 грн
					</span>
				</div>
			</a>
		</div>
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<div class="sidebar-box__text">
					Милан
					<span class="sidebar-box__price">
						от 15 688 грн
					</span>
				</div>
			</a>
		</div>
	</div>
</div>
