<div class="sidebar-box sidebar-box--two-col">
	<div class="sidebar-box__heading">
		Популярные страны
	</div>
	<div class="sidebar-box__content">
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<div class="sidebar-box__text">
					Испания
					<span class="sidebar-box__price">
						от 15 688 грн
					</span>
				</div>
			</a>
		</div>
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<div class="sidebar-box__text">
					Италия
					<span class="sidebar-box__price">
						от 15 688 грн
					</span>
				</div>
			</a>
		</div>
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<div class="sidebar-box__text">
					Болгария
					<span class="sidebar-box__price">
						от 15 688 грн
					</span>
				</div>
			</a>
		</div>
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<div class="sidebar-box__text">
					Финляндия
					<span class="sidebar-box__price">
						от 15 688 грн
					</span>
				</div>
			</a>
		</div>
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<div class="sidebar-box__text">
					Бельгия
					<span class="sidebar-box__price">
						от 15 688 грн
					</span>
				</div>
			</a>
		</div>
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<div class="sidebar-box__text">
					Греция
					<span class="sidebar-box__price">
						от 15 688 грн
					</span>
				</div>
			</a>
		</div>
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<div class="sidebar-box__text">
					Нидерланды
					<span class="sidebar-box__price">
						от 15 688 грн
					</span>
				</div>
			</a>
		</div>
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<div class="sidebar-box__text">
					Эстония
					<span class="sidebar-box__price">
						от 15 688 грн
					</span>
				</div>
			</a>
		</div>
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<div class="sidebar-box__text">
					Венгрия
					<span class="sidebar-box__price">
						от 15 688 грн
					</span>
				</div>
			</a>
		</div>
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<div class="sidebar-box__text">
					Австрия
					<span class="sidebar-box__price">
						от 15 688 грн
					</span>
				</div>
			</a>
		</div>
	</div>
</div>
