$font-mont: 'Montserrat', sans-serif;
$font-open: 'Open Sans', sans-serif;

$header-font: $font-mont;

$menu-top-background: #387c89;
$menu-top-text-color: #fff;
$menu-top-font-size: 12px;


$menu-text-color: #4b5669;
$menu-text-color-active: #e77d05;
$menu-font-size: 16px;

$orange-text-tour-card: #ff8508;

$footer-background: #4b5669;

$orange: #ff8508;
$blue: #387c89;