

@media (max-width: 1199px) {

  .section-callback__heading {
    font-size: 20px;
  }
  .form-callback {
    &__col, &__col:last-child {
      max-width: 100%;
    }
    &__col--btn {
      order: 1;
    }
    .custom-dropdown__control {
      min-height: 40px;
      font-size: 14px;
      line-height: 26px;
    }
    .brand-checkbox {
      order: 0;
    }
    .btn {
      line-height: 26px;
      width: 100%;
      font-size: 14px;
      background-image: none;
    }
  }
  .form-callback--transparent {
    .form-callback__input {
      height: 40px;
    }
  }
}
@media (max-width:767px) {
  .our-advantages {
    &__item-text {
      padding: 0px 10px;
    }
  }
}
@media (max-width: 576px) {
  .our-advantages {
    &__item {
      height: 100px;
      display: flex;
      padding: 5px 15px;
      align-items: center;
    }
    &__item-circle {
      margin: 0px;
      margin-right: 10px;
      height: 80px;
      max-width: 80px;
      svg {
        height: 38px;
        width: 38px;
      }
    }
    &__item-text {
      margin: 0px;
      max-width: none;
      padding: 0px;
    }
  }
}