@import "mixin";
@import "variable";

.form-callback {
  .form-control {
    padding-left: 26px;
  }
  .custom-dropdown__icon {
    margin-left: -8px;
  }
  .form-callback__icon {
    top: 8px;
    left: 8px;
  }
}

.vertical-filter {
  &__section.hide + &__section {
    .vertical-filter__title {
      padding-top: 20px;
      .arrow-icon {
        top: 20px;
      }
    }
  }
}

@media (max-width: 767px) {
  .hot-tours .form-section {
    margin: 0px;
  }
}
