@import "mixin";
@import "variable";
.search-tour {
  margin-bottom: rem(10px);
}
.search-card__fromTo {
  font-size: 11px;
}

.search-card__description {
  box-shadow: none;
}

.search-card__facilities {
  margin-top: 12px;
  //margin-bottom: 12px;
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  svg {
    margin-right: 5px;
  }
  span {
    margin-right: 20px;
  }
}

.search-card__buyers {
  align-self: flex-start;
  border-radius: 10px;
  background-color: #efefef;
  color: $blue;
  padding: 2px 8px;
  font-weight: 600;
  margin-top: 12px;
  span {
    font-weight: 700;
    font-size: 14px;
  }
}

.search-card__review-block {
  padding: 12px 10px;
}


.sort-dropdown {
  display: flex;
  align-items: center;
  max-width: 220px;
  margin-bottom: 20px;
  &__title {
    margin: 0 5px 5px 0;
    font-size: 16px;
    font-weight: 600;
  }
  .full-search__title {
    color: #4b5669;
  }
  .custom-dropdown {
    width: 100%;
    flex-shrink: 0;
  }
}

.sidebar-box__item {
  margin: 4px;
}

.sidebar-box__link-content img {
  margin-right: 8px;
}

.sidebar-box__link-price {
  height: 22px;
  margin-left: auto;
}

.bubbles{
  margin:50px 0;
  position:relative;
  text-align: center;
}

.bubble{
  display:inline-block;
  padding:0 5px;

  @for $i from 1 to 11 {
    &:nth-of-type(#{$i}) .circle{
      animation-delay: $i * 0.1s;
    }
  }
}

.bubble .circle{
  width:rem(20px); height:rem(20px);
  border-radius:50%;
  background:#387c89;
  animation: pulse 1.5s infinite;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

@keyframes pulse{
  0%{ transform: scale(1); }
  50%{ transform: scale(0.2); opacity:0.75; }
  100%{ transform: scale(1); }
}
.vertical-filter-page-heading {
  font-size: 16px;
  font-family: $font-mont;
  color: #4b5669;
  margin-bottom: 8px;
  font-weight: 600;
}