@media (min-width: 992px) {
  .form-callback--small .form-callback__col--btn {
    margin-bottom: auto;
  }
}
@media (max-width: 991px) {
  .image-box__text {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .another-rest__section {
    padding-bottom: 0px;
  }
}