@import "mixin";
@import "variable";

.hot-tours__col {
  margin-bottom: 30px;
}

.hot-tours {
  .tour-card {
    padding: 0;
    margin: 0 10px;
    &:hover {
      box-shadow: none;
    }
  }
}

.hot-tours-icons.slick-carousel {
  margin-top: -10px;
}

.hot-tours-icons.slick-carousel .tour-card {
  padding-top: 10px;
}


@media (max-width: 767px) {
 .hot-tours {
    margin: 0;
  }
  .hot-tours .form-section {
    margin: 0;
  }
  .hot-tours .tour-card {
    margin: 0;
  }
  //.hot-tours .tour-card--shadow-mob {
  //  margin: 0;
  //}
  .tour-card-shadow-mob {
    .tour-card {
      box-shadow: 0 2px 10px 0 rgba(176, 176, 176, 0.6);
      border-radius: 4px;
      &__body {
        padding: 10px;
      }
      &__footer {
        padding: 0 10px 10px 10px;
        margin-top: 0;
        .btn {
          line-height: 18px;
        }
      }
    }
  }
}