<div class="slick-carousel-wrap">
	<div class="slick-carousel js-operators-carousel slick-carousel--only-mobile row operators-carousel">
		<div class="slick-carousel-item col-xl-3">
			<a href="#" class="operators-box">
				<div class="operators-box__img">
					<img src="Images/operators-logo/thousands-roads.png" alt="">
				</div>
				<div class="operators-box__name">
					1000 Дорог Украина
				</div>
			</a>
		</div>
		<div class="slick-carousel-item col-xl-3">
			<a href="#" class="operators-box">
				<div class="operators-box__img">
					<img src="Images/operators-logo/star-tour-logo.jpg" alt="">
				</div>
				<div class="operators-box__name">
					TA STAR TOUR
				</div>
			</a>
		</div>
		<div class="slick-carousel-item col-xl-3">
			<a href="#" class="operators-box">
				<div class="operators-box__img">
					<img src="Images/operators-logo/adria-hit-logo.jpg" alt="">
				</div>
				<div class="operators-box__name">
					Адрия Хит Групп
				</div>
			</a>
		</div>
		<div class="slick-carousel-item col-xl-3">
			<a href="#" class="operators-box">
				<div class="operators-box__img">
					<img src="Images/operators-logo/alf-logo.png" alt="">
				</div>
				<div class="operators-box__name">
					АЛЬФ ТУРИСТИЧЕСКИЙ ОПЕРАТОР
				</div>
			</a>
		</div>
		<div class="slick-carousel-item col-xl-3">
			<a href="#" class="operators-box">
				<div class="operators-box__img">
					<img src="Images/operators-logo/alliance-logo.jpg" alt="">
				</div>
				<div class="operators-box__name">
					Альянс
				</div>
			</a>
		</div>
		<div class="slick-carousel-item col-xl-3">
			<a href="#" class="operators-box">
				<div class="operators-box__img">
					<img src="Images/operators-logo/aristeya-logo.png" alt="">
				</div>
				<div class="operators-box__name">
					Аристея Тур
				</div>
			</a>
		</div>
		<div class="slick-carousel-item col-xl-3">
			<a href="#" class="operators-box">
				<div class="operators-box__img">
					<img src="Images/operators-logo/delta-travel-logo.png" alt="">
				</div>
				<div class="operators-box__name">
					Дельта Тревел
				</div>
			</a>
		</div>
		<div class="slick-carousel-item col-xl-3">
			<a href="#" class="operators-box">
				<div class="operators-box__img">
					<img src="Images/operators-logo/kandagar-logo.jpg" alt="">
				</div>
				<div class="operators-box__name">
					KANDAGAR Group
				</div>
			</a>
		</div>
		<div class="slick-carousel-item col-xl-3">
			<a href="#" class="operators-box">
				<div class="operators-box__img">
					<img src="Images/operators-logo/lyubosvit-logo.png" alt="">
				</div>
				<div class="operators-box__name">
					Lyubosvit Travel Company
				</div>
			</a>
		</div>
		<div class="slick-carousel-item col-xl-3">
			<a href="#" class="operators-box">
				<div class="operators-box__img">
					<img src="Images/operators-logo/svіt-chudes.png" alt="">
				</div>
				<div class="operators-box__name">
					Світ Чудес
				</div>
			</a>
		</div>
		<div class="slick-carousel-item col-xl-3">
			<a href="#" class="operators-box">
				<div class="operators-box__img">
					<img src="Images/operators-logo/sonata-travel-logo.jpg" alt="">
				</div>
				<div class="operators-box__name">
					СОНАТА Тревел
				</div>
			</a>
		</div>
	</div>
	<div class="slick-navigation">
		<div class="js-dots"></div>
	</div>
</div>
