<div class="row">
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <a href="#" class="operators-box">
            <div class="operators-box__img">
                <img src="Images/operators-logo/teztour-logo.png" alt="">
            </div>
            <div class="operators-box__name">
                Teztour, Тез Тур
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <a href="#" class="operators-box">
            <div class="operators-box__img">
                <img src="Images/operators-logo/anex-tour-circle.jpg" alt="">
            </div>
            <div class="operators-box__name ">
                Anex Tour Agency
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <a href="#" class="operators-box">
            <div class="operators-box__img">
                <img src="Images/operators-logo/anex-tour-rectangle.png" alt="">
            </div>
            <div class="operators-box__name">
                ANEXTOUR
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <a href="#" class="operators-box">
            <div class="operators-box__img">
                <img src="Images/operators-logo/coral.png" alt="">
            </div>
            <div class="operators-box__name">
                Coral Travel
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <a href="#" class="operators-box">
            <div class="operators-box__img">
                <img src="Images/operators-logo/join-up.png" alt="">
            </div>
            <div class="operators-box__name">
                Join Up
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <a href="#" class="operators-box">
            <div class="operators-box__img">
                <img src="Images/operators-logo/mouzenidis.png" alt="">
            </div>
            <div class="operators-box__name">
                Mouzenidis
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <a href="#" class="operators-box">
            <div class="operators-box__img">
                <img src="Images/operators-logo/tpg-logo.png" alt="">
            </div>
            <div class="operators-box__name">
                Travel Professional Group
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <a href="#" class="operators-box">
            <div class="operators-box__img">
                <img src="Images/operators-logo/tui-logo.jpg" alt="">
            </div>
            <div class="operators-box__name">
                TUI Украина
            </div>
        </a>
    </div>
</div>