<div class="table-scroll operators-table">
    <table class="main-table">
        <colgroup>
            <col class="operators-table-col first" width="381">
            <col class="operators-table-col" width="390">
            <col class="operators-table-col" width="235">
            <col class="operators-table-col" width="174">
        </colgroup>
        <thead>
        <tr>
            <th scope="col">Оператор</th>
            <th scope="col">Популярные направления</th>
            <th scope="col">Тип туров</th>
            <th scope="col">Города вылета</th>
        </tr>
        </thead>
        <tbody>

        <tr>
            <th>
                <a href="#">
                    <span class="operators-table__logo"><img src="Images/operators-logo/teztour-logo.png" alt=""></span>
                    Teztour
                </a>
            </th>
            <td>Египет, Турция, Испания, Италия, Греция, Кипр, ОАЭ, Грузия, Шри-Ланка, Болгария, Таиланд
            </td>
            <td>Авиа, Автобусные, Экскурсионные</td>
            <td>Киев, Львов, Одесса, Харьков</td>
        </tr>

        <tr>
            <th>
                <a href="#">
                    <span class="operators-table__logo"><img src="https://img.poehalisnami.ua/contentdata/operatorlogo/pegas.jpg" alt=""></span>
                    Pegas Touristik
                </a>
            </th>
            <td>Египет, Турция, Испания, Тунис, Таиланд, Греция, ОАЭ</td>
            <td>Авиа, Автобусные, Экскурсионные</td>
            <td>Киев, Львов, Одесса, Харьков</td>
        </tr>

        <tr>
            <th>
                <a href="#">
                    <span class="operators-table__logo"><img src="Images/operators-logo/coral.png" alt=""></span>
                    Coral Travel
                </a>
            </th>
            <td>Египет, Турция, Испания, Греция, Тунис, Шри-Ланка, Таиланд, ОАЭ, Болгария, Кипр, Италия</td>
            <td>Авиа, Автобусные, Экскурсионные</td>
            <td>Киев, Львов, Одесса, Харьков</td>
        </tr>

        <tr>
            <th>
                <a href="#">
                    <span class="operators-table__logo"><img src="https://img.poehalisnami.ua/contentdata/operatorlogo/3boufcue.ks3.jpg" alt=""></span>
                    Kompas Touroperator
                </a>
            </th>
            <td>Египет, Испания, Греция, Болгария, ОАЭ, Черногория, Грузия</td>
            <td>Авиа, Автобусные, Экскурсионные</td>
            <td>Киев, Одесса, Львов</td>
        </tr>

        <tr>
            <th>
                <a href="#">
                    <span class="operators-table__logo"><img src="Images/operators-logo/tui-logo.jpg" alt=""></span>
                    TUI Украина
                </a>
            </th>

            <td>Египет, Турция, Испания, Италия, Греция, Кипр, Болгария, Черногория, ОАЭ, Тунис, Шри-Ланка, Грузия</td>
            <td>Авиа, Автобусные, Экскурсионные</td>
            <td>Киев, Львов, Одесса, Харьков</td>
        </tr>

        <tr>
            <th>
                <a href="#">
                    <span class="operators-table__logo"><img src="Images/operators-logo/alf-logo.png" alt=""></span>
                    Альф туристический оператор
                </a>
            </th>
            <td>Египет, Турция, Греция, Болгария, ОАЭ, Шри-Ланка, Черногория, Грузия, Италия</td>
            <td>Авиа, Автобусные, Экскурсионные</td>
            <td>Киев, Львов, Одесса, Харьков</td>
        </tr>

        <tr>
            <th>
                <a href="#">
                    <span class="operators-table__logo"><img src="Images/operators-logo/anex-tour-rectangle.png" alt=""></span>
                    Anex Tour
                </a>
            </th>
            <td>Египет, Турция, Испания, ОАЭ, Тунис, Таиланд, Болгария, Греция, Кипр, Черногория, Шри-Ланка</td>
            <td>Авиа, Автобусные, Экскурсионные</td>
            <td>Киев, Львов, Одесса, Харьков</td>
        </tr>

        <tr>
            <th>
                <a href="#">
                    <span class="operators-table__logo"><img src="Images/operators-logo/join-up.png" alt=""></span>
                    Join Up
                </a>
            </th>
            <td>Египет, Турция, Испания, Греция, Болгария, ОАЭ, Кипр, Черногория, Италия, Шри-Ланка, Таиланд, Тунис,
                Грузия
            </td>
            <td>Авиа, Автобусные, Экскурсионные</td>
            <td>Киев, Львов, Одесса, Харьков</td>
        </tr>

        <tr>
            <th>
                <a href="#">
                    <span class="operators-table__logo"><img src="https://img.poehalisnami.ua/contentdata/operatorlogo/mouzenidis.png" alt=""></span>
                    Mouzenidis
                </a>
            </th>
            <td>Греция, Италия, Болгария, Кипр, Грузия</td>
            <td>Авиа, Автобусные, Экскурсионные</td>
            <td>Киев, Одесса, Львов</td>
        </tr>

        <tr>
            <th>
                <a href="#">
                    <span class="operators-table__logo"><img src="https://img.poehalisnami.ua/contentdata/operatorlogo/xsapxmap.pht.png" alt=""></span>
                    Travel Professional Group
                </a>
            </th>
            <td>Египет, Турция, Испания, Греция, Болгария, ОАЭ, Кипр, Черногория, Италия, Шри-Ланка, Таиланд, Грузия</td>
            <td>Авиа, Автобусные, Экскурсионные</td>
            <td>Киев, Одесса, Львов</td>
        </tr>


        </tbody>
    </table>
</div>