<div class="inline-link">
    <div class="inline-link__item">
        <a href="#">Туры в Грецию</a>
    </div>
    <div class="inline-link__item">
        <a href="#">Туры в Грузию</a>
    </div>
    <div class="inline-link__item">
        <a href="#">Туры в Египет</a>
    </div>
    <div class="inline-link__item">
        <a href="#">Туры в Италию</a>
    </div>
    <div class="inline-link__item">
        <a href="#">Туры в Доминикану</a>
    </div>
    <div class="inline-link__item">
        <a href="#">Туры на Кубу</a>
    </div>
    <div class="inline-link__item">
        <a href="#">Туры в Турцию</a>
    </div>
    <div class="inline-link__item">
        <a href="#">Туры на Шри-Ланку</a>
    </div>
</div>