<div class="company-priority">
    <div class="row col-pd-4">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-auto media">
            <div class="company-priority__icon">
                <svg class="svg-icon" width="24" height="24">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="Images/priorities-icon.svg#timer"></use>
                </svg>
            </div>
            <div>
                <div class="company-priority__heading">
                    25
                </div>
                лет на рынке
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-auto media">
            <div class="company-priority__icon">
                <svg class="svg-icon" width="24" height="24">
                    <use xlink:href="Images/icons-search.svg#detail-office"></use>
                </svg>
            </div>
            <div>
                <div class="company-priority__heading">
                    10 000 000
                </div>
                доверили нам свой отдых
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-auto media">
            <div class="company-priority__icon">
                <svg class="svg-icon" width="24" height="24">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="Images/priorities-icon.svg#hotels"></use>
                </svg>
            </div>
            <div>
                <div class="company-priority__heading">
                    520 000
                </div>
                вариантов отелей
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-auto media">
            <div class="company-priority__icon">
                <svg class="svg-icon" width="24" height="24">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="Images/priorities-icon.svg#ways"></use>
                </svg>
            </div>
            <div>
                <div class="company-priority__heading">
                    29
                </div>
                направлений отдыха
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-auto media">
            <div class="company-priority__icon">
                <svg class="svg-icon" width="24" height="24">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="Images/priorities-icon.svg#support"></use>
                </svg>
            </div>
            <div>
                <div class="company-priority__heading">
                    24/7
                </div>
                поддержка туриста
            </div>
        </div>
    </div>
</div>