<div class="screen screen-search screen-operator">
    <img class="screen__bg objectFitCover lazyload"
         data-src="Images/Main.jpg" alt="">
    <div class="screen-search__content container">
        <div class="screen-search__row">
            <div class="screen-operator__logo">
                <img src="https://img.turne.com.ua/static/turne/companies/c188/orig/anextour_188_636758282336971965.png" alt="">
            </div>
            <div>
                <nav aria-label="breadcrumb nav-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Главная Турне</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">Туроператоры Украины</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Туроператор ANEXTOUR</li>
                    </ol>
                </nav>
                <h1 class="screen-search__heading">
                    Туроператор Anex Tour
                </h1>
            </div>
        </div>

        {% include "../components/full-search-form/full-search-form.twig" %}
    </div>

</div>