<div class="slick-carousel-wrap">
    <div class="reviews slick-carousel js-reviews-slider">
        <div class="reviews__item slick-carousel-item">
            <a href="#" class="reviews-card ">
                <div class="reviews-card__name">Ольга Н.</div>
                <div class="reviews-card__info">Маркетлог</div>
                <div class="reviews-card__info fw-600">купил(а) тур в Турцию на 7 ночей</div>
                <div class="reviews-card__text">Искала на Турне тур на Гоа. Понравилось то, что тут цены от всех операторов,
                    можно сравнить и выбрать вариант дешевле, и главное, что цены актуальные. Отдельное спасибо за эксперта
                    по
                    Индии. Без экскурсий и подсказок Марины отпуск бы получился … и подсказок Марины отпуск бы получился
                </div>
            </a>
        </div>
        <div class="reviews__item slick-carousel-item">
            <a href="#" class="reviews-card">
                <div class="reviews-card__name">Виктория</div>
                <div class="reviews-card__info">Студентка</div>
                <div class="reviews-card__info fw-600">купил(а) тур в Турцию на 7 ночей</div>
                <div class="reviews-card__text">Хочу поехать в Испанию. Особенно после прочтения ваших статей про Барселону.
                    Просто влюбилась в этот город. Уже ознакомилась с ценами на вашем сайте. Спасибо, что сразу включаете
                    все услуги в стоимость, спасибо, что ваши консультанты оперативно … Особенно после прочтения ваших статей про Барселону.
                    Просто влюбилась в этот город. Уже ознакомилась с ценами на вашем сайте. Спасибо, что сразу включаете
                    все услуги в стоимость, спасибо, что ваши консультанты оперативно …
                </div>
            </a>
        </div>
        <div class="reviews__item slick-carousel-item">
            <a href="#" class="reviews-card">
                <div class="reviews-card__name">Ольга Н.</div>
                <div class="reviews-card__info">28.08.2019</div>
                <div class="reviews-card__info fw-600">купил(а) тур в Турцию на 7 ночей</div>
                <div class="reviews-card__text">На вашем сайте смогли легко найти хороший вариант для нашего летнего отдыха.
                    Понравилось удобство поиска и приятные цены. Остались довольны.
                </div>
            </a>
        </div>
        <div class="reviews__item slick-carousel-item">
            <a href="#" class="reviews-card">
                <div class="reviews-card__name">Ольга Н.</div>
                <div class="reviews-card__info">28.08.2019</div>
                <div class="reviews-card__info fw-600">купил(а) тур в Турцию на 7 ночей</div>
                <div class="reviews-card__text">На вашем сайте смогли легко найти хороший вариант для нашего летнего отдыха.
                    Понравилось удобство поиска и приятные цены. Остались довольны.
                </div>
            </a>
        </div>
        <div class="reviews__item slick-carousel-item">
            <a href="#" class="reviews-card">
                <div class="reviews-card__name">Ольга Н.</div>
                <div class="reviews-card__info">28.08.2019</div>
                <div class="reviews-card__info fw-600">купил(а) тур в Турцию на 7 ночей</div>
                <div class="reviews-card__text">На вашем сайте смогли легко найти хороший вариант для нашего летнего отдыха.
                    Понравилось удобство поиска и приятные цены. Остались довольны.
                </div>
            </a>
        </div>
        <div class="reviews__item slick-carousel-item">
            <a href="#" class="reviews-card">
                <div class="reviews-card__name">Ольга Н.</div>
                <div class="reviews-card__info">28.08.2019</div>
                <div class="reviews-card__info fw-600">купил(а) тур в Турцию на 7 ночей</div>
                <div class="reviews-card__text">На вашем сайте смогли легко найти хороший вариант для нашего летнего отдыха.
                    Понравилось удобство поиска и приятные цены. Остались довольны.
                </div>
            </a>
        </div>
    </div>
    <div class="slick-navigation">
        {#<button class="slick-prev slick-arrow js-slick-prev">Previous</button>#}
        <div class="js-dots"></div>
        {#<button class="slick-next slick-arrow js-slick-next">Next</button>#}
    </div>
</div>
