<div class="screen screen-search">
    <img class="screen__bg objectFitCover lazyload"
         data-src="Images/ny-bg.jpg" alt="">
    <div class="screen-search__content container">
     <nav aria-label="breadcrumb nav-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Главная Турне</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Туры на Новый год</li>
      </ol>
    </nav>
        <div class="screen-search__row">
            <h1 class="screen-search__heading">
                Туры на Новый год 2019-2020
            </h1>
        </div>

        {% include "../components/full-search-form/full-search-form.twig" %}
    </div>

</div>