<div class="vertical-filter__title" data-toggle="collapse" data-target="#collapseBeach" aria-expanded="true" aria-controls="collapseBeach">
  Пляж
  <div class="verticalFilter__selected-text"></div>
  <div class="filter-dropdown-arrow arrow-icon"></div>
</div>
<div class="collapse show collapseBeach" id="collapseBeach">
  <div class="vertical-filter__content">
    <div class="vertical-filter__scroll">
      <label class="brand-checkbox">
        <input type="checkbox">
        <span class="brand-checkbox__media"></span>
        <span class="brand-checkbox__inner">
          1-я линия
        </span>
      </label>
      <label class="brand-checkbox">
        <input type="checkbox">
        <span class="brand-checkbox__media"></span>
        <span class="brand-checkbox__inner">
          Песчаный пляж
        </span>
      </label>
      <label class="brand-checkbox">
        <input type="checkbox">
        <span class="brand-checkbox__media"></span>
        <span class="brand-checkbox__inner">
          Песчаный вход в море
        </span>
      </label>
    </div>
  </div>
</div>
