<div class="vertical-filter__title" data-toggle="collapse" data-target="#collapseHotel" aria-expanded="true" aria-controls="collapseHotel">
  Отель
  <div class="verticalFilter__selected-text"></div>
  <div class="filter-dropdown-arrow arrow-icon"></div>
</div>
<div class="collapse show collapseHotel" id="collapseHotel">
  <div class="vertical-filter__content">
    <div class="vertical-filter__scroll">
      <label class="brand-checkbox">
        <input type="checkbox">
        <span class="brand-checkbox__media"></span>
        <span class="brand-checkbox__inner">
          Фавориты сети
        </span>
      </label>
      <label class="brand-checkbox">
        <input type="checkbox">
        <span class="brand-checkbox__media"></span>
        <span class="brand-checkbox__inner">
          Отели класса «стандарт» 
        </span>
      </label>
      <label class="brand-checkbox">
        <input type="checkbox">
        <span class="brand-checkbox__media"></span>
        <span class="brand-checkbox__inner">
          Отели класса VIP
        </span>
      </label>
      <label class="brand-checkbox">
        <input type="checkbox">
        <span class="brand-checkbox__media"></span>
        <span class="brand-checkbox__inner">
          Топ продаж
        </span>
      </label>
      <label class="brand-checkbox">
        <input type="checkbox">
        <span class="brand-checkbox__media"></span>
        <span class="brand-checkbox__inner">
          Бесплатный Wi-Fi в номере
        </span>
      </label>
      <label class="brand-checkbox">
        <input type="checkbox">
        <span class="brand-checkbox__media"></span>
        <span class="brand-checkbox__inner">
          Бесплатный Wi-Fi в лобби
        </span>
      </label>
      <label class="brand-checkbox">
        <input type="checkbox">
        <span class="brand-checkbox__media"></span>
        <span class="brand-checkbox__inner">
          Крытый бассейн
        </span>
      </label>
      <label class="brand-checkbox">
        <input type="checkbox">
        <span class="brand-checkbox__media"></span>
        <span class="brand-checkbox__inner">
          Водные горки
        </span>
      </label>
    </div>
  </div>
</div>
