<div class="vertical-filter__title" data-toggle="collapse" data-target="#collapseForChildren" aria-expanded="true" aria-controls="collapseForChildren">
  Для детей
  <div class="verticalFilter__selected-text"></div>
  <div class="filter-dropdown-arrow arrow-icon"></div>
</div>
<div class="collapse show collapseForChildren" id="collapseForChildren">
  <div class="vertical-filter__content">
    <div class="vertical-filter__scroll">
      <label class="brand-checkbox">
        <input type="checkbox">
        <span class="brand-checkbox__media"></span>
        <span class="brand-checkbox__inner">
          Детская игровая площадка
        </span>
      </label>
      <label class="brand-checkbox">
        <input type="checkbox">
        <span class="brand-checkbox__media"></span>
        <span class="brand-checkbox__inner">
          Детская анимация
        </span>
      </label>
      <label class="brand-checkbox">
        <input type="checkbox">
        <span class="brand-checkbox__media"></span>
        <span class="brand-checkbox__inner">
          Детский бассейн
        </span>
      </label>
      <label class="brand-checkbox">
        <input type="checkbox">
        <span class="brand-checkbox__media"></span>
        <span class="brand-checkbox__inner">
          Детское меню в ресторане
        </span>
      </label>
      <label class="brand-checkbox">
        <input type="checkbox">
        <span class="brand-checkbox__media"></span>
        <span class="brand-checkbox__inner">
          Детский клуб
        </span>
      </label>
    </div>
  </div>
</div>
