<div class="vertical-filter__title" data-toggle="collapse" data-target="#collapseTourOperator" aria-expanded="true" aria-controls="collapseTourOperator">
  Туроператор
  <div class="vertical-filter__choice">Любой</div>
  <div class="filter-dropdown-arrow arrow-icon"></div>
</div>
<div class="collapse show collapseTourOperator" id="collapseTourOperator">
  <div class="vertical-filter__content">
    <div class="vertical-filter__scroll">
      <label class="brand-checkbox">
        <input type="checkbox">
        <span class="brand-checkbox__media"></span>
        <span class="brand-checkbox__inner">
          Любой
        </span>
      </label>
      <label class="brand-checkbox">
        <input type="checkbox">
        <span class="brand-checkbox__media"></span>
        <span class="brand-checkbox__inner">
          ANEXTOUR
        </span>
      </label>
      <label class="brand-checkbox">
        <input type="checkbox">
        <span class="brand-checkbox__media"></span>
        <span class="brand-checkbox__inner">
          GTO Travel
        </span>
      </label>
      <label class="brand-checkbox">
        <input type="checkbox">
        <span class="brand-checkbox__media"></span>
        <span class="brand-checkbox__inner">
          Join Up
        </span>
      </label>
      <label class="brand-checkbox">
        <input type="checkbox">
        <span class="brand-checkbox__media"></span>
        <span class="brand-checkbox__inner">
          Pegas Touristik
        </span>
      </label>
      <label class="brand-checkbox">
        <input type="checkbox">
        <span class="brand-checkbox__media"></span>
        <span class="brand-checkbox__inner">
          Teztour, Тез тур
        </span>
      </label>
      <label class="brand-checkbox">
        <input type="checkbox">
        <span class="brand-checkbox__media"></span>
        <span class="brand-checkbox__inner">
          Travel Professional Group
        </span>
      </label>
      <label class="brand-checkbox">
        <input type="checkbox">
        <span class="brand-checkbox__media"></span>
        <span class="brand-checkbox__inner">
          TUI Ukraine
        </span>
      </label>
      <label class="brand-checkbox">
        <input type="checkbox">
        <span class="brand-checkbox__media"></span>
        <span class="brand-checkbox__inner">
          Зевс Тревел
        </span>
      </label>
      <label class="brand-checkbox">
        <input type="checkbox">
        <span class="brand-checkbox__media"></span>
        <span class="brand-checkbox__inner">
          Туристический Клуб
        </span>
      </label>
    </div>
  </div>
</div>
