<div class="vertical-filter__title" data-toggle="collapse" data-target="#collapseCountry" aria-expanded="true"
     aria-controls="collapseCountry">
    Куда
    <div class="vertical-filter__choice">
        Все страны
    </div>
    <div class="filter-dropdown-arrow arrow-icon"></div>
</div>
<div class="collapse show collapseCountry" id="collapseCountry">
    <div class="vertical-filter__content">
        <div class="vertical-filter__scroll">
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Все страны
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Египет
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Турция
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Кипр
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        ОАЭ
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Италия
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Греция
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Испания
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Китай
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Шри-Ланка
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Египет
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Турция
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Кипр
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        ОАЭ
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Италия
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Греция
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Испания
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Китай
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Шри-Ланка
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Египет
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Турция
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Кипр
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        ОАЭ
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Италия
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Греция
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Испания
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Китай
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Шри-Ланка
      </span>
            </label>
        </div>
    </div>
</div>
