<div class="vertical-filter__title" data-toggle="collapse" data-target="#collapseFoodType" aria-expanded="true"
     aria-controls="collapseFoodType">
    Тип питания
    <div class="vertical-filter__choice">OB(без питания)</div>
    <div class="filter-dropdown-arrow arrow-icon"></div>
</div>
<div class="collapse show collapseFoodType" id="collapseFoodType">
    <div class="vertical-filter__content">
        <div class="vertical-filter__scroll">
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Любой
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        OB (Без питания)
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        BB (завтрак)
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        HB (завтрак+ужин)
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        FB (3х разовое питание)
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        AI (все включено)
      </span>
            </label>
        </div>
    </div>
</div>

