<div class="vertical-filter__title" data-toggle="collapse" data-target="#collapseHotelClass" aria-expanded="true"
     aria-controls="collapseHotelClass">
    Класс отеля
    <div class="filter-dropdown-arrow arrow-icon"></div>
</div>
<div class="collapse show collapseHotelClass" id="collapseHotelClass">
    <div class="vertical-filter__content">
        <div class="vertical-filter__scroll">
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Любой класс
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        2*
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        3*
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        4*
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        5*
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Апартаменты
      </span>
            </label>
        </div>
    </div>
</div>

