<div class="vertical-filter__title" data-toggle="collapse" data-target="#collapseCity" aria-expanded="true"
     aria-controls="collapseCity">
    Выезд из
    <div class="vertical-filter__choice">
        Киева, Запорожья, Киева, Запорожья, Киева, Запорожья
    </div>
    <div class="filter-dropdown-arrow arrow-icon"></div>
</div>
<div class="collapse show collapseCity" id="collapseCity">
    <div class="vertical-filter__content">
        <div class="vertical-filter__scroll">
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Все города
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Без проезда
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Киева
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Запорожья
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Львова
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Николаева
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Одессы
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Харькова
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Херсона
      </span>
            </label>
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner">
        Черновнов
      </span>
            </label>
        </div>
    </div>
</div>
