<div class="vertical-filter__title">
    Поиск отеля
</div>
<div class="vertical-filter__content">
    <div class="vertical-filter-search">
        {% set iconName = "search" %}
        <div class="vertical-filter-search__selected">
            <!--<span class="jsLabelAdditional">Выбрано:</span> <span
                    class="jsLabel">2 отеля</span>-->
            <span class="jsLabel">
                <span class="filter-tag"><span>4s Dahab Hotel 4*</span>&nbsp;<svg class="n-svg-icon" width="16" height="16"><use xlink:href="Images/icons-search.svg#arrow-close"></use></svg></span>
                <span class="filter-tag"><span>Al bostan Park Hotel 4*</span>&nbsp;<svg class="n-svg-icon" width="16" height="16"><use xlink:href="Images/icons-search.svg#arrow-close"></use></svg></span>
                <span class="filter-tag"><span>Aladdin Beach Hotel 4*</span>&nbsp;<svg class="n-svg-icon" width="16" height="16"><use xlink:href="Images/icons-search.svg#arrow-close"></use></svg></span>
                <span class="filter-tag"><span>Alia Beach Hotel 4*</span>&nbsp;<svg class="n-svg-icon" width="16" height="16"><use xlink:href="Images/icons-search.svg#arrow-close"></use></svg></span>
                <span class="filter-tag"><span>El Gezirah Hotel Towers &amp; Casino 5*</span>&nbsp;<svg class="n-svg-icon" width="16" height="16"><use xlink:href="Images/icons-search.svg#arrow-close"></use></svg></span>
                <span class="filter-tag"><span>Melton Beach 5*</span>&nbsp;<svg class="n-svg-icon" width="16" height="16"><use xlink:href="Images/icons-search.svg#arrow-close"></use></svg></span>
            </span>
        </div>
        <div class="custom-dropdown">
            <div class="custom-dropdown__control">

                <svg class="custom-dropdown__icon" width="24" height="24">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="Images/icons-search.svg#{{ iconName }}"></use>
                </svg>
                <div class="custom-dropdown__search">
                    <input class="ui-autocomplete-input input-placeholder autoHide" type="text"
                           placeholder="Название отеля">
                </div>
            </div>
            <div class="b-dropdown_complex-b b-dropdown no-user-select jsDropDownOptions"
                 style="display: none;">
                <ul class="li-town">
                    <li data-id="2" class="jsDropDownItem dd-item">
                        <label class="brand-checkbox">
                            <input type="checkbox">
                            <span class="brand-checkbox__media"></span>
                            <span class="brand-checkbox__inner">4s Dahab <b>Hot</b>el 4* 4*</span>
                        </label>
                    </li>
                    <li data-id="4" class="jsDropDownItem dd-item">
                        <label class="brand-checkbox">
                            <input type="checkbox">
                            <span class="brand-checkbox__media"></span>
                            <span class="brand-checkbox__inner">Al bostan Park <b>Hot</b>el 4* 4*</span>
                        </label>
                    </li>
                    <li data-id="1" class="jsDropDownItem dd-item active">
                        <label class="brand-checkbox">
                            <input type="checkbox" checked>
                            <span class="brand-checkbox__media"></span>
                            <span class="brand-checkbox__inner">Aladdin Beach <b>Hot</b>el 4* 4*</span>
                        </label>
                    </li>
                    <li data-id="5" class="jsDropDownItem dd-item">
                        <label class="brand-checkbox">
                            <input type="checkbox">
                            <span class="brand-checkbox__media"></span>
                            <span class="brand-checkbox__inner">Alf Leila Wa Leila <b>Hot</b>el 4* 4*</span>
                        </label>
                    </li>
                    <li data-id="6" class="jsDropDownItem dd-item">
                        <label class="brand-checkbox">
                            <input type="checkbox">
                            <span class="brand-checkbox__media"></span>
                            <span class="brand-checkbox__inner">Alia Beach <b>Hot</b>el 4* 4*</span>
                        </label>
                    </li>
                    <li data-id="7" class="jsDropDownItem dd-item">
                        <label class="brand-checkbox">
                            <input type="checkbox">
                            <span class="brand-checkbox__media"></span>
                            <span class="brand-checkbox__inner">Almasa <b>Hot</b>el 5* 5*</span>
                        </label>
                    </li>
                    <li data-id="8" class="jsDropDownItem dd-item">
                        <label class="brand-checkbox">
                            <input type="checkbox">
                            <span class="brand-checkbox__media"></span>
                            <span class="brand-checkbox__inner">Aloha Sharm <b>Hot</b>el 4* 4*</span>
                        </label>
                    </li>
                    <li data-id="121" class="jsDropDownItem dd-item">
                        <label class="brand-checkbox">
                            <input type="checkbox">
                            <span class="brand-checkbox__media"></span>
                            <span class="brand-checkbox__inner">Amwaj Oyoun <b>Hot</b>el &amp; Resort 5* 5*</span>
                        </label>
                    </li>
                    <li data-id="11" class="jsDropDownItem dd-item">
                        <label class="brand-checkbox">
                            <input type="checkbox">
                            <span class="brand-checkbox__media"></span>
                            <span class="brand-checkbox__inner">Baron <b>Hot</b>el Heliopolis Cairo 4* 4*</span>
                        </label>
                    </li>
                    <li data-id="41" class="jsDropDownItem dd-item">
                        <label class="brand-checkbox">
                            <input type="checkbox">
                            <span class="brand-checkbox__media"></span>
                            <span class="brand-checkbox__inner">Bellevue Beach <b>Hot</b>el 4* 4*</span>
                        </label>
                    </li>
                    <li data-id="2" class="jsDropDownItem dd-item">
                        <label class="brand-checkbox">
                            <input type="checkbox">
                            <span class="brand-checkbox__media"></span>
                            <span class="brand-checkbox__inner">4s Dahab <b>Hot</b>el 4* 4*</span>
                        </label>
                    </li>
                    <li data-id="4" class="jsDropDownItem dd-item">
                        <label class="brand-checkbox">
                            <input type="checkbox">
                            <span class="brand-checkbox__media"></span>
                            <span class="brand-checkbox__inner">Al bostan Park <b>Hot</b>el 4* 4*</span>
                        </label>
                    </li>
                    <li data-id="1" class="jsDropDownItem dd-item active">
                        <label class="brand-checkbox">
                            <input type="checkbox" checked>
                            <span class="brand-checkbox__media"></span>
                            <span class="brand-checkbox__inner">Aladdin Beach <b>Hot</b>el 4* 4*</span>
                        </label>
                    </li>
                    <li data-id="5" class="jsDropDownItem dd-item">
                        <label class="brand-checkbox">
                            <input type="checkbox">
                            <span class="brand-checkbox__media"></span>
                            <span class="brand-checkbox__inner">Alf Leila Wa Leila <b>Hot</b>el 4* 4*</span>
                        </label>
                    </li>
                    <li data-id="6" class="jsDropDownItem dd-item">
                        <label class="brand-checkbox">
                            <input type="checkbox">
                            <span class="brand-checkbox__media"></span>
                            <span class="brand-checkbox__inner">Alia Beach <b>Hot</b>el 4* 4*</span>
                        </label>
                    </li>
                    <li data-id="7" class="jsDropDownItem dd-item">
                        <label class="brand-checkbox">
                            <input type="checkbox">
                            <span class="brand-checkbox__media"></span>
                            <span class="brand-checkbox__inner">Almasa <b>Hot</b>el 5* 5*</span>
                        </label>
                    </li>
                    <li data-id="8" class="jsDropDownItem dd-item">
                        <label class="brand-checkbox">
                            <input type="checkbox">
                            <span class="brand-checkbox__media"></span>
                            <span class="brand-checkbox__inner">Aloha Sharm <b>Hot</b>el 4* 4*</span>
                        </label>
                    </li>
                    <li data-id="121" class="jsDropDownItem dd-item">
                        <label class="brand-checkbox">
                            <input type="checkbox">
                            <span class="brand-checkbox__media"></span>
                            <span class="brand-checkbox__inner">Amwaj Oyoun <b>Hot</b>el &amp; Resort 5* 5*</span>
                        </label>
                    </li>
                    <li data-id="11" class="jsDropDownItem dd-item">
                        <label class="brand-checkbox">
                            <input type="checkbox">
                            <span class="brand-checkbox__media"></span>
                            <span class="brand-checkbox__inner">Baron <b>Hot</b>el Heliopolis Cairo 4* 4*</span>
                        </label>
                    </li>
                    <li data-id="41" class="jsDropDownItem dd-item">
                        <label class="brand-checkbox">
                            <input type="checkbox">
                            <span class="brand-checkbox__media"></span>
                            <span class="brand-checkbox__inner">Bellevue Beach <b>Hot</b>el 4* 4*</span>
                        </label>
                    </li>
                </ul>
                <div class="town-bottom town-bottom-controls jsControlPanel">
                    <button class="btn btn-brand btn-brand--orange jsMultiSelectDone">ПРИМЕНИТЬ</button>
                </div>
            </div>
        </div>
    </div>
</div>