
  <div class="vertical-filter__title">
    Стоимость
  </div>
  <div class="vertical-filter__content">
    <div class="slider-controls-panel clearfix">
      <input id="price-from" class="slider-controls-panel__input" type="number" value="0" size="7"/>
      <span class="slider-controls-panel__currency">
        грн
      </span>
      <span class="vertical-filter-slider__divider">
        -
      </span>
      <input id="price-to" class="slider-controls-panel__input" type="number" value="10000" size="7"/>
      <span class="slider-controls-panel__currency">
        грн
      </span>
    </div>
     
    <div id="slider-range" class="slider-range hot-tours-slider-range"></div>
  </div>

