<div class="vertical-filter jsHotToursVerticalFilter">
    <div class="vertical-filter__header">
        <button class="vertical-filter__back back-icon jsCloseFilters"></button>
        <span>Фильтры</span>
    </div>
    <div class="vertical-filter__container">
        <div class="vertical-filter__section">
            <div class="vertical-filter__content js-selected-filters">
                {% include "selected-filters.twig" %}
            </div>
        </div>
        <div id="hot-tours__country-filter" class="vertical-filter__section">
            {% include "dropdown-whereto.twig" %}
        </div>
        <div id="hot-city-filter" class="vertical-filter__section">

            {% include "dropdown-departure.twig" %}
        </div>
        <div class="vertical-filter__section">
            {% include "hot-tours-dataPicker.twig" %}
        </div>
        <div class="vertical-filter__section">
            {% include 'price-range-slider.twig' %}
        </div>
        <div id="hot-tours__hotelClass-filter" class="vertical-filter__section">
            {% include 'dropdown__hotel-class.twig' %}
        </div>
        <div id="hot-tours__foodType-filter" class="vertical-filter__section">
            {% include 'dropdown__food-type.twig' %}
        </div>
    </div>
    <div class="vertical-filter__buttons">
        <button class="btn btn-brand btn-brand--orange jsApplyAllFilters">ПРИМЕНИТЬ</button>
        <button type="button" class="btn btn-brand vertical-filter__reset jsBottomClearAllFilters">Очистить фильтры</button>
    </div>
</div>

