<div class="slick-carousel-wrap">
    <div class="operators-cards slick-carousel js-standart-slick-slider">

        <div class="slick-carousel-item">
            <a class="operators-cards__item" href="#">
                <div class="operators-cards__thumbnail">
                    <img class="" src=https://img.poehalisnami.ua/contentdata/operatorlogo/anex-tour.png alt="">
                </div>
                <div class="operators-cards__caption">
                    ANEX TOUR
                </div>
            </a>
        </div>
        <div class="slick-carousel-item">
            <a class="operators-cards__item" href="#">
                <div class="operators-cards__thumbnail">
                    <img class="" src="https://img.poehalisnami.ua/contentdata/operatorlogo/tourist-club.png" alt="">
                </div>
                <div class="operators-cards__caption">
                    Туристический Клуб
                </div>
            </a>
        </div>
        <div class="slick-carousel-item">
            <a class="operators-cards__item" href="#">
                <div class="operators-cards__thumbnail">
                    <img class="" src="https://img.poehalisnami.ua/contentdata/operatorlogo//pegas.jpg" alt="">
                </div>
                <div class="operators-cards__caption">
                    Pegas Touristik
                </div>
            </a>
        </div>
        <div class="slick-carousel-item">
            <a class="operators-cards__item" href="#">
                <div class="operators-cards__thumbnail">
                    <img class="" src="https://img.poehalisnami.ua/contentdata/operatorlogo/mouzenidis.png" alt="">
                </div>
                <div class="operators-cards__caption">
                    Mouzenidis
                </div>
            </a>
        </div>
        <div class="slick-carousel-item">
            <a class="operators-cards__item" href="#">
                <div class="operators-cards__thumbnail">
                    <img class="" src="https://img.poehalisnami.ua/contentdata/operatorlogo/join-up.png" alt="">
                </div>
                <div class="operators-cards__caption">
                    JoinUp
                </div>
            </a>
        </div>
        <div class="slick-carousel-item">
            <a class="operators-cards__item" href="#">
                <div class="operators-cards__thumbnail">
                    <img class="" src="https://img.poehalisnami.ua/contentdata/operatorlogo/tourist-club.png" alt="">
                </div>
                <div class="operators-cards__caption">
                    Туристический Клуб
                </div>
            </a>
        </div>
        <div class="slick-carousel-item">
            <a class="operators-cards__item" href="#">
                <div class="operators-cards__thumbnail">
                    <img class="" src="https://img.poehalisnami.ua/contentdata/operatorlogo/mouzenidis.png" alt="">
                </div>
                <div class="operators-cards__caption">
                    Mouzenidis
                </div>
            </a>
        </div>
        <div class="slick-carousel-item">
            <a class="operators-cards__item" href="#">
                <div class="operators-cards__thumbnail">
                    <img class="" src=https://img.poehalisnami.ua/contentdata/operatorlogo/anex-tour.png alt="">
                </div>
                <div class="operators-cards__caption">
                    ANEX TOUR
                </div>
            </a>
        </div>

        <div class="slick-carousel-item">
            <a class="operators-cards__item" href="#">
                <div class="operators-cards__thumbnail">
                    <img class="" src=https://img.poehalisnami.ua/contentdata/operatorlogo/anex-tour.png alt="">
                </div>
                <div class="operators-cards__caption">
                    ANEX TOUR
                </div>
            </a>
        </div>
        <div class="slick-carousel-item">
            <a class="operators-cards__item" href="#">
                <div class="operators-cards__thumbnail">
                    <img class="" src="https://img.poehalisnami.ua/contentdata/operatorlogo/tourist-club.png" alt="">
                </div>
                <div class="operators-cards__caption">
                    Туристический Клуб
                </div>
            </a>
        </div>
        <div class="slick-carousel-item">
            <a class="operators-cards__item" href="#">
                <div class="operators-cards__thumbnail">
                    <img class="" src="https://img.poehalisnami.ua/contentdata/operatorlogo//pegas.jpg" alt="">
                </div>
                <div class="operators-cards__caption">
                    Pegas Touristik
                </div>
            </a>
        </div>
        <div class="slick-carousel-item">
            <a class="operators-cards__item" href="#">
                <div class="operators-cards__thumbnail">
                    <img class="" src="https://img.poehalisnami.ua/contentdata/operatorlogo/mouzenidis.png" alt="">
                </div>
                <div class="operators-cards__caption">
                    Mouzenidis
                </div>
            </a>
        </div>
        <div class="slick-carousel-item">
            <a class="operators-cards__item" href="#">
                <div class="operators-cards__thumbnail">
                    <img class="" src="https://img.poehalisnami.ua/contentdata/operatorlogo/join-up.png" alt="">
                </div>
                <div class="operators-cards__caption">
                    JoinUp
                </div>
            </a>
        </div>
        <div class="slick-carousel-item">
            <a class="operators-cards__item" href="#">
                <div class="operators-cards__thumbnail">
                    <img class="" src="https://img.poehalisnami.ua/contentdata/operatorlogo/tourist-club.png" alt="">
                </div>
                <div class="operators-cards__caption">
                    Туристический Клуб
                </div>
            </a>
        </div>
        <div class="slick-carousel-item">
            <a class="operators-cards__item" href="#">
                <div class="operators-cards__thumbnail">
                    <img class="" src="https://img.poehalisnami.ua/contentdata/operatorlogo/mouzenidis.png" alt="">
                </div>
                <div class="operators-cards__caption">
                    Mouzenidis
                </div>
            </a>
        </div>
        <div class="slick-carousel-item">
            <a class="operators-cards__item" href="#">
                <div class="operators-cards__thumbnail">
                    <img class="" src=https://img.poehalisnami.ua/contentdata/operatorlogo/anex-tour.png alt="">
                </div>
                <div class="operators-cards__caption">
                    ANEX TOUR
                </div>
            </a>
        </div>

    </div>
    <div class="slick-navigation">
        <div class="js-dots"></div>
    </div>
</div>

