<nav class="nav-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Главная Турне</a>
    </li>
    <li class="breadcrumb-item">
      <a href="#">Статьи</a>
    </li>
    <li class="breadcrumb-item">
      <a href="#">Рубрика "Вокруг Света"</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Что привезти из Египта?</li>
  </ol>
</nav>
