$reviews-orange: #ff8508;
$reviews-orange-hover: #E15E02;
.tour-detail__modal-reviews {
  .modal-dialog {
    width: auto;
    max-width: 100%;
    min-width: auto;
    margin: 0;
    transform: none;
  }
  .modal-body {
    margin-top: 0;
  }
}

.tour-detail__modal-reviews .input-wrap {
  width: 100%;
  height: 100% !important;
  @media (max-width: 576px) {
    & + .input-wrap {
      margin-top: 10px;
    }
  }
}

.tour-detail__modal-reviews .input-wrap textarea {
  min-height: 112px;
  height: auto;
}

.tour-detail__modal-reviews .input-wrap .input-text {
  width: 100% !important;
}

.tour-detail__modal-reviews .b-select-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  div:first-child {
    font-weight: bold;
  }
}

@media (max-width: 425px) {
  .tour-detail__modal-reviews .b-select-rating {
    width: 100%;
    padding-bottom: 10px;
    border: 1px solid #eee;
  }
}

@media (min-width: 426px) and (max-width: 635px) {
  .tour-detail__modal-reviews .b-select-rating {
    width: 50%;
  }
}

.tour-detail__modal-reviews .btn-send {
  max-width: 100%;
}