<!-- Modal -->
<div class="modal callback-modal" id="callbackModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Обратный звонок
                <button type="button" class="close" data-dismiss="modal">
                    <svg class="svg-icon" width="32" height="32">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="Images/icons-search.svg#close"></use>
                    </svg>
                </button>
            </div>
            <div class="modal-body">

                    <div class="b-dropdown-callback" style="display: block !important;">
                        <form action="/common/phonecallbackformsubmit" data-ajax="true" data-ajax-begin="oForms.FormOnBegin"
                              data-ajax-complete="oForms.FormOnComplete" data-ajax-success="oForms.PhoneCallbackFormOnSuccess"
                              id="form1" method="post" novalidate="novalidate"><span class="b-dropdown-callback__heading">Введите свой номер телефона:</span>

                            <div class="form-group"><input class="form-control jsMaskedInputPhone" data-val="true"
                                                           data-val-regex="Неверный формат"
                                                           data-val-regex-pattern="^\+38\(\d{3}\)\s{1}\d{3}-\d{2}-\d{2}$"
                                                           data-val-required="Неверный формат" id="Phone" maxlength="100"
                                                           name="Phone" placeholder="+38(XXX) XXX-XX-XX" type="tel"> <span
                                        class="field-validation-valid validation" data-valmsg-for="Phone"
                                        data-valmsg-replace="true"></span></div>
                            <input id="Url" name="Url" type="hidden" value="%2f">
                            <input type="submit" id="btnSend"
                                   name="btnSend"
                                   class="btn btn-brand btn-brand--orange"
                                   value="Перезвоните мне"></form>
                    </div>

            </div>
        </div>
    </div>
</div>