<!-- Modal -->
<div class="modal confirm-modal" id="confirmModal" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header confirm-modal__header">
				<button type="button" class="close" data-dismiss="modal">
					<svg class="svg-icon" width="32" height="32">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#close"></use>
					</svg>
				</button>
			</div>
			<div class="modal-body">
				<div class="confirm-modal__content">
					<div class="confirm-modal__text-content">
						<div class="hotel-booking__contact-heading">Подтверждение</div>
						<div class="hotel-booking__contact-text">
							На ваш номер +380 (67) 662–27-06 отправлено СМС-сообщение с 5-ти значным кодом, введите его для потдверждения подписания договора
						</div>
					</div>
					<div class="form-group">
						<input type="text"  class="form-control" placeholder="XXXXX">
					</div>
					<input class="btn btn-brand--orange modal--close-btn" data-dismiss="modal" type="submit" value="ПОДТВЕРДИТЬ">
				</div>
			</div>
		</div>
	</div>
</div>
