<!-- Modal -->
<div class="modal contacts-modal" id="contactsModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Контакты
                <button type="button" class="close" data-dismiss="modal">
                    <svg class="svg-icon" width="32" height="32">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="Images/icons-search.svg#close"></use>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <div class="contacts-modal__content">
                    <div class="contacts-modal__row">
                        <div>
                            Подбор тура
                        </div>
                        <a href="tel:+380678294052" class="media contacts-modal__phone">
                            <svg class="contacts-modal__icon" width="24" height="24">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#kyivstar"></use>
                            </svg>
                            <span class="media-body">(067) 829-40-52</span>
                        </a>
                        <a href="tel:+380952357060" class="media contacts-modal__phone">
                            <svg class="contacts-modal__icon" width="24" height="24">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#vodafone"></use>
                            </svg>
                            <span class="media-body">(095) 235-70-60</span>
                        </a>
                    </div>
                    <div class="contacts-modal__row">
                        <div>
                            Реклама
                        </div>
                        <a href="tel:+380955453888" class="media contacts-modal__phone">
                            <svg class="contacts-modal__icon" width="24" height="24">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#vodafone"></use>
                            </svg>
                            <span class="media-body">(095) 545-38-88</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>