<!-- Modal -->
<div class="modal thanks-modal" id="requestModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header thanks-modal__header">
        <button type="button" class="close" data-dismiss="modal">
          <svg class="svg-icon" width="32" height="32">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#close"></use>
          </svg>
        </button>
      </div>
      <div class="modal-body">
        <div class="thanks-modal__content">
          <div class="thanks-modal__mail-img">
            <img src="./Images/request-2.png" alt="">
          </div>
          <div class="thanks-modal__text-content">
            <div class="thanks-modal__header">Спасибо за запрос!</div>
            <div class="thanks-modal__header-text">Ваша заявка успешно отправлена.</div>
            <div class="thanks-modal__text">Пока менеджеры по туризму обрабатывают ваш запрос, подписывайтесь на нашу страницу в facebook.</div>
          </div>
          <input class="btn btn-brand--orange modal--close-btn" data-dismiss="modal" type="submit" value="ПОДПИСАТЬСЯ" onclick="window.open('https://www.facebook.com/turne.com.ua')"/>
        </div>
      </div>
    </div>
  </div>
</div>