<!-- Modal -->
<div class="modal sign-in-modal" id="signInModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title">Форма входа</div>
                <button type="button" class="close" data-dismiss="modal">
                    <svg class="svg-icon" width="32" height="32">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="Images/icons-search.svg#close"></use>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <form action="/" class="v-form sign-in-form">
                    <div class="form-group">
                        <input class="form-control input-placeholder autoHide" type="email" placeholder="E-mail">
                    </div>
                    <div class="form-group">
                        <input class="form-control input-placeholder autoHide" type="password" placeholder="Пароль">
                    </div>

                    <input class="btn btn-brand btn-brand--orange" type="submit" value="Войти">

                </form>
            </div>
            <div class="modal-footer">
                <a href="https://www.turne.com.ua/registration">Зарегистрироваться</a>
                <a href="/passrecovery">Забыли пароль</a>
            </div>
        </div>
    </div>
</div>