<!-- Modal -->
<div class="modal modal-mob application-modal" id="applicationModalmobile" tabindex="-1">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
                <button class="modal-mob__back back-icon" data-dismiss="modal"></button>
				<div class="application-modal__heading">
                    Заявка на тур
                </div>
                <button type="button" class="close" data-dismiss="modal">
                    <svg class="svg-icon" width="32" height="32">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#close"></use>
                    </svg>
                </button>
			</div>
			<div class="modal-body">
				<form action="/" class="application-modal__content">
					<div class="application-modal__control">
						<label class="application-modal__label">Имя</label>
						<input class="form-callback__input form-control input-placeholder autoHide" type="text">
						<span class="validation field-validation-valid">
							<span class="">Введите имя</span>
						</span>
					</div>
					<div class="application-modal__control">
						<label class="application-modal__label">Телефон</label>
						<input class="form-callback__input form-control input-placeholder autoHide" type="tel" value="+380">
						<span class="validation field-validation-valid">
							<span class="">Введите номер телефона</span>
						</span>
					</div>
					<div class="application-modal__control">
						<label class="application-modal__label">Email</label>
						<input class="form-callback__input form-control input-placeholder autoHide" type="email">
					</div>
					<div class="application-modal__control">
                        <label class="brand-checkbox" >
                            <input type="checkbox" checked>
                            <span class="brand-checkbox__media"></span>
                            <span class="brand-checkbox__inner">
							Получать горящие туры по почте
						</span>
                        </label>
                    </div>
					<div class="application-modal__control modal-mob__btn">
                        <input class="btn btn-brand btn-brand--orange modal--send-btn" data-dismiss="modal" type="submit" value="ОТПРАВИТЬ ЗАЯВКУ">
                    </div>
				</form>
			</div>
		</div>
	</div>
</div>
