<div class="company-priority">
    <div class="row col-pd-4">
        <div class="col-12 col-lg-3 col-xl-3 media">
            <div class="company-priority__icon">
                <svg class="svg-icon" width="24" height="24">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="Images/priorities-icon.svg#catalogue"></use>
                </svg>
            </div>
            <div>
                Бесплатное размещение в каталоге турфирм на 4 недели
            </div>
        </div>
        <div class="col-12 col-lg-3 col-xl-3 media">
            <div class="company-priority__icon">
                <svg class="svg-icon" width="24" height="24">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="Images/priorities-icon.svg#lock"></use>
                </svg>
            </div>
            <div>
                Доступ к блокноту туристического процессионала
            </div>
        </div>
        <div class="col-12 col-lg-3 col-xl-3 media">
            <div class="company-priority__icon">
                <svg class="svg-icon" width="24" height="24">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="Images/priorities-icon.svg#timer"></use>
                </svg>
            </div>
            <div>
                Быстрая регистрация
                за 3 минуты
            </div>
        </div>
        <div class="col-12 col-lg-3 col-xl-3">
            <a href="#" class="btn btn-brand btn-brand--orange">Зарегистрироваться</a>
        </div>
    </div>
</div>