
    <div class="custom-dropdown {{ customDropdownClass }}">
        <div class="custom-dropdown__control" {{ dataDatepicker }}>
            {% if mobile %}
            <svg class="custom-dropdown__icon" width="24" height="24" viewBox="0 0 16.5 24" stroke="#9CA4B3" stroke-width="0.2pt">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#search"></use>
            </svg>
            {% endif %}
            <div class="custom-dropdown__text">
                <div class="ellipsis-text">{{ textDropdown }}</div>
            </div>
            <div class="custom-dropdown__expanded arrow-icon"></div>
        </div>
        {{ dropdown(mobile) }}
    </div>
