{% if mobile %}
    {% set MenuLink = "_mobile" %}
{% else %}
    {% set MenuLink = "" %}
{% endif %}
<div class="tagent-card tagent-card--priority">
    <a href="tour-firms-page{{ MenuLink }}.html" class="tagent-card__logo">
        <img src="https://img.turne.com.ua/static/turne/companies/c1775/orig/solnechnyjj_voyazh_1775_636888599438372354.jpg">
    </a>
    <div class="tagent-card__contact clearfix">
        <a href="tour-firms-page{{ MenuLink }}.html" class="tagent-card__name">Солнечный Вояж</a>

        <div class="tagent-card__item">
            Киев , Шевченковский р-н , Ярославов Вал 11, оф. 2
        </div>

        <div class="tagent-card__item tagent-card-phones">
            <a href="tel:+380442250025" class="tagent-card__number">(044) 225-00-25</a>,
            <a href="tel:+380674422023" class="tagent-card__number">(067) 442-20-23</a>,
            <a href="viber://chat?number=+380674422023" class="tagent-card__number">(067) 442-20-23 (viber)</a>
        </div>

        <div class="tagent-card__item">
            <a class="tagent-card__link" target="_blank"
               href="https://www.sunvoyage.com.ua">https://www.sunvoyage.com.ua</a>
        </div>

        <a class="tagent-card__btn btn btn-brand btn-brand--orange" href="tour-firms-page{{ MenuLink }}.html">Подробнее</a>
    </div>
</div>

<div class="tagent-card tagent-card--priority">
    <a href="#" class="tagent-card__logo">
        <img src="https://img.turne.com.ua/static/turne/companies/c4229/orig/aneks_tur_turagencіya_4229_636676065036850565.jpg">
    </a>
    <div class="tagent-card__contact clearfix">
        <a href="#" class="tagent-card__name">Анекс Тур Турагенція</a>

        <div class="tagent-card__item">
            Киев , Дворец Спорта , ул. Эспланадная 32 ,оф 1
        </div>

        <div class="tagent-card__item tagent-card-phones">
            <a href="tel:+380931614528" class="tagent-card__number">(093) 161-45-28</a>,
            <a href="tel:+380674422023" class="tagent-card__number">(067) 110-05-05</a>,
            <a href="viber://chat?number=+380674422023" class="tagent-card__number">(063) 690-54-04 (viber)</a>
        </div>

        <div class="tagent-card__item">
            <a class="tagent-card__link" target="_blank"
               href="https://www.anex-agency.com.ua">https://www.anex-agency.com.ua</a>
        </div>
        <a class="tagent-card__btn btn btn-brand btn-brand--orange" href="#">Подробнее</a>
    </div>
</div>

<div class="tagent-card tagent-card--priority">
    <a href="#" class="tagent-card__logo">
        <img src="https://img.turne.com.ua/static/turne/companies/c3845/orig/poekhali_s_nami_(glavnyjj_ofis)_113.jpg">
    </a>
    <div class="tagent-card__contact clearfix">
        <a href="#" class="tagent-card__name">Поехали с нами</a>

        <div class="tagent-card__item">
            Киев , Днепровский р-н , Черниговская , ул.Миропольская, д.13б, оф.34
        </div>

        <div class="tagent-card__item tagent-card-phones">
            <a href="tel:+380931614528" class="tagent-card__number">(067) 568-19-37</a>,
            <a href="tel:+380674422023" class="tagent-card__number">(050) 410-14-18</a>
        </div>

        <div class="tagent-card__item">
            <a class="tagent-card__link" target="_blank"
               href="https://www.poehalisnami.ua">https://www.poehalisnami.ua</a>
        </div>
        <a class="tagent-card__btn btn btn-brand btn-brand--orange" href="#">Подробнее</a>
    </div>
</div>

<div class="tagent-card">
    <a href="#" class="tagent-card__logo">
        <img src="https://img.turne.com.ua/static/turne/companies/c3362/orig/anex_tour_turagenciya_3362_636916169548184499.png">
    </a>
    <div class="tagent-card__contact clearfix">
        <a href="#" class="tagent-card__name">Anex Tour Турагенцiя</a>

        <div class="tagent-card__item">
            Запорожье , Проспект Соборный, дом 193
        </div>

        <div class="tagent-card__item tagent-card-phones">
            <a href="tel:+380931614528" class="tagent-card__number">(050) 201-18-88</a>,
            <a href="tel:+380674422023" class="tagent-card__number">(098) 082-58-20</a>
        </div>

        <div class="tagent-card__item">
            <a class="tagent-card__link" target="_blank"
               href="http://Touristik.company">http://Touristik.company</a>
        </div>
        <a class="tagent-card__btn btn btn-brand btn-brand--orange" href="#">Подробнее</a>
    </div>
</div>

<div class="tagent-card">
    <a href="#" class="tagent-card__logo">
        <img src="https://img.turne.com.ua/static/turne/companies/c4258/orig/more_turov_4258_636637173589139292.png">
    </a>
    <div class="tagent-card__contact clearfix">
        <a href="#" class="tagent-card__name">Море Туров</a>

        <div class="tagent-card__item">
            Днепр , ул. Боброва, 3 ТЦ «Озерный» оф. 304
        </div>

        <div class="tagent-card__item tagent-card-phones">
            <a href="tel:+380931614528" class="tagent-card__number">(097) 787-55-45</a>,
            <a href="tel:+380674422023" class="tagent-card__number">(097) 787-55-45 (viber)</a>
        </div>

        <div class="tagent-card__item">
            <a class="tagent-card__link" target="_blank"
               href="http://dnipro.more-turov.com">http://dnipro.more-turov.com</a>
        </div>
        <a class="tagent-card__btn btn btn-brand btn-brand--orange" href="#">Подробнее</a>
    </div>
</div>

<div class="tagent-card">
    <a href="#" class="tagent-card__logo">
        <img src="https://img.turne.com.ua/static/turne/companies/c1484/orig/poekhali_s_nami_(odessa)_1484.jpg">
    </a>
    <div class="tagent-card__contact clearfix">
        <a href="#" class="tagent-card__name">Поехали с нами</a>

        <div class="tagent-card__item">
            Одесса , ул. Малая Арнаутская-19
        </div>

        <div class="tagent-card__item tagent-card-phones">
            <a href="tel:+380931614528" class="tagent-card__number">(048) 709-05-88</a>,
            <a href="tel:+380674422023" class="tagent-card__number"> (048) 737-78-82</a>
        </div>

        <a class="tagent-card__btn btn btn-brand btn-brand--orange" href="#">Подробнее</a>
    </div>
</div>

<div class="tagent-card">
    <a href="#" class="tagent-card__logo">
        <img src="https://img.turne.com.ua/static/turne/companies/c4652/orig/4652_637159805902997700.jpg">
    </a>
    <div class="tagent-card__contact clearfix">
        <a href="#" class="tagent-card__name">Ikotur</a>

        <div class="tagent-card__item">
            Одесса , Балковская 127
        </div>

        <div class="tagent-card__item tagent-card-phones">
            <a href="tel:+380931614528" class="tagent-card__number">(050) 675-71-41</a>,
            <a href="tel:+380931614528" class="tagent-card__number">(050) 678-18-36</a>,
            <a href="tel:+380674422023" class="tagent-card__number">(050) 675-71-41 (viber)</a>
        </div>

        <div class="tagent-card__item">
            <a class="tagent-card__link" target="_blank"
               href="http://dnipro.more-turov.com">http://ikotur.ga/</a>
        </div>
        <a class="tagent-card__btn btn btn-brand btn-brand--orange" href="#">Подробнее</a>
    </div>
</div>

<div class="tagent-card">
    <a href="#" class="tagent-card__logo">
        <img src="https://img.turne.com.ua/static/turne/companies/c4534/orig/joinup_to_travel_4534_636978318468655636.png">
    </a>
    <div class="tagent-card__contact clearfix">
        <a href="#" class="tagent-card__name">JoinUp to travel</a>

        <div class="tagent-card__item">
            Одесса , Ул.Канатная, 79
        </div>

        <div class="tagent-card__item tagent-card-phones">
            <a href="tel:+380931614528" class="tagent-card__number">(066) 299-94-00</a>,
            <a href="tel:+380931614528" class="tagent-card__number">(048) 725-15-16</a>,
            <a href="tel:+380674422023" class="tagent-card__number">(063) 629-95-66 (viber)</a>
        </div>

        <a class="tagent-card__btn btn btn-brand btn-brand--orange" href="#">Подробнее</a>
    </div>
</div>

<div class="tagent-card">
    <a href="#" class="tagent-card__logo">
        <img src="https://img.turne.com.ua/static/turne/companies/c4639/orig/4639_637152978667109473.jpeg">
    </a>
    <div class="tagent-card__contact clearfix">
        <a href="#" class="tagent-card__name">Ikotur</a>

        <div class="tagent-card__item">
            Одесса , Балковская 127
        </div>

        <div class="tagent-card__item tagent-card-phones">
            <a href="tel:+380931614528" class="tagent-card__number">(050) 675-71-41</a>,
            <a href="tel:+380931614528" class="tagent-card__number">(050) 678-18-36</a>,
            <a href="tel:+380674422023" class="tagent-card__number">(050) 675-71-41 (viber)</a>
        </div>

        <div class="tagent-card__item">
            <a class="tagent-card__link" target="_blank"
               href="http://dnipro.more-turov.com">http://ikotur.ga/</a>
        </div>
        <a class="tagent-card__btn btn btn-brand btn-brand--orange" href="#">Подробнее</a>
    </div>
</div>