{% include "breadcrumbs.twig" %}
<h2 class="heading">
	Прайс-лист услуг Turne
</h2>
<div class="services-page__item">
	<div class="services-page__title">
		Размещения для турагентств
	</div>
	<div class="services-page__text-content">
		<strong>Горящие туры</strong>
		– это рекламная площадка для размещения туров на главной странице с
									                        ярким
									                        изображением и анимированным текстом. Ее особенностью является то, что последовательность
									                        отображения туров меняется при каждом обновлении страницы в произвольном порядке.Преимущества:
		<br>
		– Каждый тур уникален, так как система защищает Вас от создания туров-дублей другими компаниями.
		<br>
		– Тур, размещенный в данной позиции, попадает в ежедневную рассылку по базе более чем 97 000
									                        подписчиков Турне
		<br>
		– Тур автоматически дублируется на специальной странице «Горящие туры» с ежемесячной
									                        посещаемостью свыше 150 тыс. пользователей
		<br><br>

		<strong>HOT туры</strong>
		– это аналогичная позиция «Горящие туры», с рядом определенных
									                        преимуществ:
		<br>
		– Данные туры всегда показываются первыми в списке и не меняют своей позиции при обновлении
									                        страницы
		<br>
		– Ваш тур будет размещен с пометкой HOT, что дополнительно привлекает внимание пользователя;
		<br>
		– В ежедневной рассылке данные туры так же занимают лидирующие первые позиции
		<br>
	</div>
	<div class="services-page__item-gallery">
		<a href="https://img.turne.com.ua/img/comp-price/hot-gorjashhie-tury.png" data-fancybox="gallery-turagent-1">
			<img src="https://img.turne.com.ua/img/comp-price/hot-gorjashhie-tury.png" alt="">
		</a>
		<a href="https://img.turne.com.ua/img/comp-price/hot-gorjashhie-tury.png" data-fancybox="gallery-turagent-1">
			<img src="https://img.turne.com.ua/img/comp-price/hot-gorjashhie-tury.png" alt="">
		</a>
		<a href="https://img.turne.com.ua/img/comp-price/hot-gorjashhie-tury.png" data-fancybox="gallery-turagent-1">
			<img src="https://img.turne.com.ua/img/comp-price/hot-gorjashhie-tury.png" alt="">
		</a>
		<a href="https://img.turne.com.ua/img/comp-price/hot-gorjashhie-tury.png" data-fancybox="gallery-turagent-1">
			<img src="https://img.turne.com.ua/img/comp-price/hot-gorjashhie-tury.png" alt="">
		</a>
	</div>
</div>
<div class="services-page__item">
	<div class="services-page__title">
		Пакет «Оплата за заказ»
	</div>
	<div class="services-page__text-content">
		Это размещение контактных данных Вашей компании в детальном описании туров по СТРАНЕ от ведущих
									                        туроператоров, представленных на www.TURNE.com.ua.Разместив свои координаты, Вы получаете заявки
									                        от потенциальных туристов по электронной почте, а также бесплатные звонки в офис.Данное
									                        подключение работает по аукционной схеме, суть которой заключается в распределении заявок между
									                        компаниями, на основании установленной цены за заказ, от большей к меньшей, в порядке очереди.
									                        Чем выше цена – тем больше шансов получить заказ.Преимущества:
		<br>
		Перечень стран и операторов, по которым готовы получать заказы, Вы выбираете самостоятельно.
		<br>
		Вы платите только за заказы, полученные на электронную почту, звонки от туристов Вы получаете
									                        абсолютно бесплатно!
		<br>
		Вы самостоятельно устанавливаете стоимость за заявку и дневной бюджет, тем самым контролируете
									                        свой расход денежных средств.
		<br>
		Мы постоянно следим за актуальностью туров и их стоимостью, обновляя информацию каждые 3 часа и
									                        чаще!
		<br>
		Бонусом Вы получаете размещение в каталоге туркомпаний в разделе «Где купить»
		<br>
		<br>

		<strong>Минимальный депозит – 2 000 грн.</strong>
	</div>
	<div class="services-page__table">
		<table>
			<thead>
				<tr>
					<th>Вид размещения</th>
					<th>Цена за 1 заявку, грн</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>
						Для киевских агенств
					</td>
					<td>
						200
					</td>
				</tr>
				<tr>
					<td>
						Для регионов
					</td>
					<td>
						200
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="services-page__item">
	<div class="services-page__title">
		Размещение в каталоге туркомпаний
	</div>
	<div class="services-page__text-content">
		Это размещение информации о Вашем агентстве в Каталоге туристических компаний. Вы получаете
									                        персональную страницу с логотипом компании, с контактами и возможностью перехода на сайт Вашей
									                        компании.
		<br>
		<br>

		<strong>Первая</strong>
		- это две первых позиции на главной странице каталога туркомпаний и в
									                        результатах поиска
									                        по Вашему городу. Ваша компания будет располагаться на одной из первых двух позициях в
									                        результатах поиска по любому направлению. Ведущая - Ваша туркомпания будет располагаться сразу
									                        под двумя "первыми" позициями.
	</div>
	<div class="services-page__item-gallery">
		<a href="https://img.turne.com.ua/img/comp-price/hot-gorjashhie-tury.png" data-fancybox="gallery-turagent-2">
			<img src="https://img.turne.com.ua/img/comp-price/hot-gorjashhie-tury.png" alt="">
		</a>
		<a href="https://img.turne.com.ua/img/comp-price/hot-gorjashhie-tury.png" data-fancybox="gallery-turagent-2">
			<img src="https://img.turne.com.ua/img/comp-price/hot-gorjashhie-tury.png" alt="">
		</a>
		<a href="https://img.turne.com.ua/img/comp-price/hot-gorjashhie-tury.png" data-fancybox="gallery-turagent-2">
			<img src="https://img.turne.com.ua/img/comp-price/hot-gorjashhie-tury.png" alt="">
		</a>
	</div>
</div>
<div class="services-page__item">
	<div class="services-page__title">
		Для отелей
	</div>
	<div class="services-page__text-content">
		Размещение информации и контактных данных Вашего отеля в нашем каталоге
	</div>
	<div class="row services-page__table">
		<table>
			 <thead>
				<tr>
					<th>Вид размещения</th>
					<th>Период</th>
					<th>Цена, грн</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>
						Размещение в Каталоге отелей
					</td>
					<td>
						12 месяцев
					</td>
					<td>
						1 000
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="services-page__item-gallery">
		<a href="https://img.turne.com.ua/img/comp-price/hot-gorjashhie-tury.png" data-fancybox="gallery-turagent-3">
			<img src="https://img.turne.com.ua/img/comp-price/hot-gorjashhie-tury.png" alt="">
		</a>
	</div>
</div>
<div class="services-page__item">
	<div class="services-page__title">
		Баннерная реклама
	</div>
	<div class="services-page__text-content">
		<strong>Премиум баннер</strong>
		- это изображение формата gif, jpg или png, размером 240*350
									                        пикселей,
									                        размещается статично в правой верхней области на главной странице портала. Ссылка ведет на сайт
									                        Вашей компании.Преимущества:
		<br>
		– Наиболее эффективная рекламная позиция для имиджевой рекламы крупных и стабильных туркомпаний;
		<br>
		– Большой размер баннера позволяет качественно предоставить рекламу компании;
		<br>
		– Баннер привлекает наибольшее внимание посетителей, так как располагается в правом верхнем углу
									                        страниц сайта;
		<br>
		– Премиум баннер обеспечивает наибольшее количество переходов на Ваш сайт или на список Ваших
									                        туров на сайте www.TURNE.com.ua, либо на страницу описания компании!
		<br>
		<br>

		<strong>Элитный формат</strong>
		– это большой красочный баннер размером 240*350 пикселей,
									                        размещается на главной
									                        странице сразу под Премиум баннером.Преимущества:
		<br>
		– Блок эффективен для размещения имиджевой рекламы, рекламы одного или нескольких направлений,
									                        анонсов туров одновременно;
		<br>
		– Блок можно сделать в корпоративных цветах компании, что повышает отдачу и усиливает имиджевый
									                        эффект!
		<br>
		– Вашу рекламу увидят большинство посетителей сайта.
	</div>
	<div class="row services-page__table">
		<table>
		<thead>
				<tr>
					<th>Вид размещения</th>
					<th>Период</th>
					<th>Цена, грн</th>
				</tr>
				</thead>
					<tbody>
				<tr>
					<td>
						Премиум баннер 240*350
					</td>
					<td>
						4 недели
					</td>
					<td>
						20 000
					</td>
				</tr>
				<tr>
					<td>
						Элитный формат 240*350
					</td>
					<td>
						4 недели
					</td>
					<td>
						10 000
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="services-page__text-content">
		<strong>Анонс статьи на главной</strong>
		- это рекламные статьи о Вашей компании, основных направлениях работы, о
									                        новостях, интересных предложениях и акциях, которые Вы можете разместить на главной странице
									                        портала. По истечению оплаченного периода размещения Ваша статья не исчезает с портала, а
									                        по-прежнему отображается в разделе Статьи.Преимущества:
		<br>
		– Эту статью прочитает больше пользователей, так как она будет размещена не только в разделе
									                        Статьи, но и на главной странице портала;
		<br>
		– Анонс статьи можно разместить с логотипом и красивыми фотографиями!
	</div>
	<div class="row services-page__table">
		<table>
				<thead>
				<tr>
					<th>Вид размещения</th>
					<th>Период</th>
					<th>Цена, грн</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>
						Анонс статьи на главной
					</td>
					<td>
						4 недели
					</td>
					<td>
						8 000
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="services-page__item-gallery">
		<a href="https://img.turne.com.ua/img/comp-price/hot-gorjashhie-tury.png" data-fancybox="gallery-turagent-4">
			<img src="https://img.turne.com.ua/img/comp-price/hot-gorjashhie-tury.png" alt="">
		</a>
		<a href="https://img.turne.com.ua/img/comp-price/hot-gorjashhie-tury.png" data-fancybox="gallery-turagent-4">
			<img src="https://img.turne.com.ua/img/comp-price/hot-gorjashhie-tury.png" alt="">
		</a>
		<a href="https://img.turne.com.ua/img/comp-price/hot-gorjashhie-tury.png" data-fancybox="gallery-turagent-4">
			<img src="https://img.turne.com.ua/img/comp-price/hot-gorjashhie-tury.png" alt="">
		</a>
	</div>
</div>
