{% macro dropdown(mobile) %}
    <ul id="ui-id-1" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-autocomplete ui-front"
        style="width: 289px;top: 95px;left: 0px;display: none;">
        <li class="m-caption">Страны</li>
        <li data-value="Египет" class="ui-menu-item" role="presentation">
            <div id="ui-id-4" class="ui-menu-item-wrapper"
                 tabindex="-1"><b>Еги</b>пет
            </div>
        </li>
        <li class="m-caption">Курорты</li>
        <li data-value="Дахаб, Египет" class="ui-menu-item" role="presentation">
            <div id="ui-id-5" class="ui-menu-item-wrapper" tabindex="-1">Дахаб,
                <b>Еги</b>пет
            </div>
        </li>
        <li data-value="Каир, Египет" class="ui-menu-item" role="presentation">
            <div id="ui-id-6" class="ui-menu-item-wrapper" tabindex="-1">Каир,
                <b>Еги</b>пет
            </div>
        </li>
        <li data-value="Макади Бей, Египет" class="ui-menu-item" role="presentation">
            <div id="ui-id-7" class="ui-menu-item-wrapper"
                 tabindex="-1">Макади Бей, <b>Еги</b>пет
            </div>
        </li>
        <li data-value="Марса-Алам, Египет" class="ui-menu-item" role="presentation">
            <div id="ui-id-8" class="ui-menu-item-wrapper"
                 tabindex="-1">Марса-Алам, <b>Еги</b>пет
            </div>
        </li>
        <li data-value="Мерса-Матрух, Египет" class="ui-menu-item" role="presentation">
            <div id="ui-id-9" class="ui-menu-item-wrapper"
                 tabindex="-1">Мерса-Матрух, <b>Еги</b>пет
            </div>
        </li>
        <li data-value="Наама Бей, Египет" class="ui-menu-item" role="presentation">
            <div id="ui-id-10" class="ui-menu-item-wrapper"
                 tabindex="-1">Наама Бей, <b>Еги</b>пет
            </div>
        </li>
        <li data-value="Нувейба, Египет" class="ui-menu-item" role="presentation">
            <div id="ui-id-11" class="ui-menu-item-wrapper"
                 tabindex="-1">Нувейба, <b>Еги</b>пет
            </div>
        </li>
        <li data-value="Сафага, Египет" class="ui-menu-item" role="presentation">
            <div id="ui-id-12" class="ui-menu-item-wrapper" tabindex="-1">Сафага,
                <b>Еги</b>пет
            </div>
        </li>
        <li data-value="Сома Бей, Египет" class="ui-menu-item" role="presentation">
            <div id="ui-id-13" class="ui-menu-item-wrapper"
                 tabindex="-1">Сома Бей, <b>Еги</b>пет
            </div>
        </li>
        <li data-value="Таба, Египет" class="ui-menu-item" role="presentation">
            <div id="ui-id-14" class="ui-menu-item-wrapper" tabindex="-1">Таба,
                <b>Еги</b>пет
            </div>
        </li>
        <li class="m-caption">Отели</li>
        <li data-value="Ecotel Dahab Resort 5*, Дахаб, Египет" class="ui-menu-item" role="presentation">
            <div id="ui-id-15" class="ui-menu-item-wrapper" tabindex="-1">Ecotel Dahab Resort 5*, Дахаб, <b>Еги</b>пет
            </div>
        </li>
        <li data-value="Happy Life Village 4*, Дахаб, Египет" class="ui-menu-item" role="presentation">
            <div id="ui-id-16" class="ui-menu-item-wrapper" tabindex="-1">Happy Life Village 4*, Дахаб, <b>Еги</b>пет
            </div>
        </li>
        <li data-value="Hilton Dahab 5*, Дахаб, Египет" class="ui-menu-item" role="presentation">
            <div id="ui-id-17" class="ui-menu-item-wrapper"
                 tabindex="-1">Hilton Dahab 5*, Дахаб, <b>Еги</b>пет
            </div>
        </li>
        <li data-value="Le Meridien Dahab Resort 5*, Дахаб, Египет" class="ui-menu-item" role="presentation">
            <div id="ui-id-18" class="ui-menu-item-wrapper" tabindex="-1">Le Meridien Dahab Resort 5*, Дахаб, <b>Еги</b>пет
            </div>
        </li>
        <li data-value="Miami Beach Hotel 3*, Дахаб, Египет" class="ui-menu-item" role="presentation">
            <div id="ui-id-19" class="ui-menu-item-wrapper" tabindex="-1">Miami Beach Hotel 3*, Дахаб, <b>Еги</b>пет
            </div>
        </li>
        <li data-value="Sea Sun 4*, Дахаб, Египет" class="ui-menu-item" role="presentation">
            <div id="ui-id-20" class="ui-menu-item-wrapper" tabindex="-1">Sea Sun 4*, Дахаб, <b>Еги</b>пет
            </div>
        </li>
        <li data-value="Swiss Inn Golden Beach 4*, Дахаб, Египет" class="ui-menu-item" role="presentation">
            <div id="ui-id-21" class="ui-menu-item-wrapper" tabindex="-1">Swiss Inn Golden Beach 4*, Дахаб, <b>Еги</b>пет
            </div>
        </li>
        <li data-value="Tropitel Oasis Dahab 4*, Дахаб, Египет" class="ui-menu-item" role="presentation">
            <div id="ui-id-22" class="ui-menu-item-wrapper" tabindex="-1">Tropitel Oasis Dahab 4*, Дахаб, <b>Еги</b>пет
            </div>
        </li>
        <li data-value="Barcelo Cairo Pyramids 4*, Каир, Египет" class="ui-menu-item" role="presentation">
            <div id="ui-id-23" class="ui-menu-item-wrapper" tabindex="-1">Barcelo Cairo Pyramids 4*, Каир, <b>Еги</b>пет
            </div>
        </li>
        <li data-value="Fairmont Heliopolis &amp; Towers Cairo 5*, Каир, Египет" class="ui-menu-item"
            role="presentation">
            <div id="ui-id-24" class="ui-menu-item-wrapper" tabindex="-1">Fairmont Heliopolis &amp; Towers Cairo 5*,
                Каир,
                <b>Еги</b>пет
            </div>
        </li>
    </ul>
{% endmacro %}
