<section class="hotels-reviews-section">
    <h2 class="heading">Рейтинг отелей Турции</h2>
    <div class="slick-carousel-wrap">
        <div class="row slick-carousel js-hotels-slider">
            <div class="col-3 slick-carousel-item">
                <div class="tour-card">
                    <a href="#" class="tour-card__thumbnail responsive-thumbnail">
                        <img class="objectFitCover lazyload"
                             data-src="https://img.poehalisnami.ua/static/hotels/turciya/kemer/h154448/small/154448_12.jpg">
                        <div class="lds-spinner"></div>
                        <svg class="radial-progress-bar radial-progress-bar-2" width="58" height="58"
                             viewBox="0 0 58 58"
                             style="stroke-dasharray: {{ 3.9 * 28 }}, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">3.9/5</text>
                        </svg>
                    </a>
                    <div class="tour-card__body hotels-content">
                        <a href="#" class="tour-card__small-text">
                            Отзывы 43
                        </a>

                        <a href="#" class="hotels-content__heading">
                            Grand Park Kemer
                            <svg class="svg-icon svg-icon--rating" width="10" height="8">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg>
                        </a>
                        <div>
                            Турция, Кемер
                        </div>
                        <a href="#" class="hotels-content__price">
                           Туры от <span>24 695</span> грн.
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3 slick-carousel-item">
                <div class="tour-card">
                    <a href="#" class="tour-card__thumbnail responsive-thumbnail">
                        <img class="objectFitCover lazyload"
                             data-src="https://img.poehalisnami.ua/static/hotels/turciya/bodrum/h3030/small/booking3030_1.jpg">
                        <div class="lds-spinner"></div>
                        <svg class="radial-progress-bar radial-progress-bar-2" width="58" height="58"
                             viewbox="0 0 58 58"
                             style="stroke-dasharray: {{ 4.5 * 28 }}, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">4.5/5</text>
                        </svg>
                    </a>
                    <div class="tour-card__body hotels-content">
                        <a href="#" class="tour-card__small-text">
                            Отзывы 118
                        </a>

                        <a href="#" class="hotels-content__heading">
                            Green Beach Resort 5
                            <svg class="svg-icon svg-icon--rating" width="10" height="8">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg>
                        </a>
                        <div>
                            Турция, Бодрум
                        </div>
                        <a href="#" class="hotels-content__price">
                            Туры от <span>24 695</span> грн.
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3 slick-carousel-item">
                <div class="tour-card">
                    <a href="#" class="tour-card__thumbnail responsive-thumbnail">
                        <img class="objectFitCover lazyload"
                             data-src="https://img.poehalisnami.ua/static/hotels/turciya/kemer/h131592/small/booking131592_1.jpg">
                        <div class="lds-spinner"></div>
                        <svg class="radial-progress-bar radial-progress-bar-2" width="58" height="58"
                             viewbox="0 0 58 58"
                             style="stroke-dasharray: {{ 2.7 * 28 }}, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">2.7/5</text>
                        </svg>
                    </a>
                    <div class="tour-card__body hotels-content">
                        <a href="#" class="tour-card__small-text">
                            Отзывы 48
                        </a>

                        <a href="#" class="hotels-content__heading">
                            Kimeros Park Holiday Village 5
                            <svg class="svg-icon svg-icon--rating" width="10" height="8">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg>
                        </a>
                        <div>
                            Турция, Кемер
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 slick-carousel-item">
                <div class="tour-card">
                    <a href="#" class="tour-card__thumbnail responsive-thumbnail">
                        <img class="objectFitCover lazyload"
                             data-src="https://img.poehalisnami.ua/static/hotels/turciya/kemer/h1759/small/booking1759_12.jpg">
                        <div class="lds-spinner"></div>
                        <svg class="radial-progress-bar radial-progress-bar-2" width="58" height="58"
                             viewbox="0 0 58 58"
                             style="stroke-dasharray: {{ 4 * 28 }}, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">4/5</text>
                        </svg>
                    </a>
                    <div class="tour-card__body hotels-content">
                        <a href="#" class="tour-card__small-text">
                            Отзывы 88
                        </a>

                        <a href="#" class="hotels-content__heading">
                            Kemer Dream 4
                            <svg class="svg-icon svg-icon--rating" width="10" height="8">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg>
                        </a>
                        <div>
                            Турция, Кемер
                        </div>
                        <a href="#" class="hotels-content__price">
                            Туры от <span>24 695</span> грн.
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3 slick-carousel-item">
                <div class="tour-card">
                    <a href="#" class="tour-card__thumbnail responsive-thumbnail">
                        <img class="objectFitCover lazyload"
                             data-src="https://img.poehalisnami.ua/static/hotels/turciya/kemer/h136482/small/booking136482_1.jpg">
                        <div class="lds-spinner"></div>
                        <svg class="radial-progress-bar radial-progress-bar-2" width="58" height="58"
                             viewbox="0 0 58 58"
                             style="stroke-dasharray: {{ 5 * 28 }}, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">5/5</text>
                        </svg>
                    </a>
                    <div class="tour-card__body hotels-content">
                        <a href="#" class="tour-card__small-text">
                            Отзывы 33
                        </a>

                        <a href="#" class="hotels-content__heading">
                            Alva Donna World Palace 5
                            <svg class="svg-icon svg-icon--rating" width="10" height="8">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg>
                        </a>
                        <div>
                            Турция, Кемер
                        </div>
                        <a href="#" class="hotels-content__price">
                            Туры от <span>24 695</span> грн.
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3 slick-carousel-item">
                <div class="tour-card">
                    <a href="#" class="tour-card__thumbnail responsive-thumbnail">
                        <img class="objectFitCover lazyload"
                             data-src="https://img.poehalisnami.ua/static/hotels/turciya/marmaris/h23234/small/booking23234_1.jpg">
                        <div class="lds-spinner"></div>
                        <svg class="radial-progress-bar radial-progress-bar-2" width="58" height="58"
                             viewbox="0 0 58 58"
                             style="stroke-dasharray: {{ 4.9 * 28 }}, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">4.9/5</text>
                        </svg>
                    </a>
                    <div class="tour-card__body hotels-content">
                        <a href="#" class="tour-card__small-text">
                            Отзывы 48
                        </a>

                        <a href="#" class="hotels-content__heading">
                            Club Hotel Pineta 4
                            <svg class="svg-icon svg-icon--rating" width="10" height="8">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg>
                        </a>
                        <div>
                            Турция, Мармарис
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 slick-carousel-item">
                <div class="tour-card">
                    <a href="#" class="tour-card__thumbnail responsive-thumbnail">
                        <img class="objectFitCover lazyload"
                             data-src="https://img.turne.com.ua/static/hotels/egipet/sharm-el-shejjkh/h585/small/booking585_1.jpg">
                        <div class="lds-spinner"></div>
                        <svg class="radial-progress-bar radial-progress-bar-2" width="58" height="58"
                             viewbox="0 0 58 58"
                             style="stroke-dasharray: {{ 4.2 * 28 }}, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">4.2/5</text>
                        </svg>
                    </a>
                    <div class="tour-card__body hotels-content">
                        <a href="#" class="tour-card__small-text">
                            Отзывы 24
                        </a>

                        <a href="#" class="hotels-content__heading">
                            Emre Hotel 4&nbsp;<svg class="svg-icon svg-icon--rating" width="10" height="8">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg>
                        </a>
                        <div>
                            Турция , Мармарис
                        </div>
                        <a href="#" class="hotels-content__price">
                            Туры от <span>24 695</span> грн.
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slick-navigation">
            <div class="js-dots"></div>
        </div>
    </div>
</section>

<section class="hotels-reviews-section">
    <h2 class="heading">Рейтинг отелей Болгарии</h2>
    <div class="slick-carousel-wrap">
        <div class="row slick-carousel js-hotels-slider">
            <div class="col-3 slick-carousel-item">
                <div class="tour-card">
                    <a href="#" class="tour-card__thumbnail responsive-thumbnail">
                        <img class="objectFitCover lazyload"
                             data-src="https://img.poehalisnami.ua/static/hotels/turciya/kemer/h154448/small/154448_12.jpg">
                        <div class="lds-spinner"></div>
                        <svg class="radial-progress-bar radial-progress-bar-2" width="58" height="58"
                             viewbox="0 0 58 58"
                             style="stroke-dasharray: {{ 3.9 * 28 }}, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">3.9/5</text>
                        </svg>
                    </a>
                    <div class="tour-card__body hotels-content">
                        <a href="#" class="tour-card__small-text">
                            Отзывы 43
                        </a>

                        <a href="#" class="hotels-content__heading">
                            Grand Park Kemer
                            <svg class="svg-icon svg-icon--rating" width="10" height="8">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg>
                        </a>
                        <div>
                            Турция, Кемер
                        </div>
                        <a href="#" class="hotels-content__price">
                            Туры от <span>24 695</span> грн.
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3 slick-carousel-item">
                <div class="tour-card">
                    <a href="#" class="tour-card__thumbnail responsive-thumbnail">
                        <img class="objectFitCover lazyload"
                             data-src="https://img.poehalisnami.ua/static/hotels/turciya/bodrum/h3030/small/booking3030_1.jpg">
                        <div class="lds-spinner"></div>
                        <svg class="radial-progress-bar radial-progress-bar-2" width="58" height="58"
                             viewbox="0 0 58 58"
                             style="stroke-dasharray: {{ 4.5 * 28 }}, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">4.5/5</text>
                        </svg>
                    </a>
                    <div class="tour-card__body hotels-content">
                        <a href="#" class="tour-card__small-text">
                            Отзывы 118
                        </a>

                        <a href="#" class="hotels-content__heading">
                            Green Beach Resort 5
                            <svg class="svg-icon svg-icon--rating" width="10" height="8">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg>
                        </a>
                        <div>
                            Турция, Бодрум
                        </div>
                        <a href="#" class="hotels-content__price">
                            Туры от <span>24 695</span> грн.
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3 slick-carousel-item">
                <div class="tour-card">
                    <a href="#" class="tour-card__thumbnail responsive-thumbnail">
                        <img class="objectFitCover lazyload"
                             data-src="https://img.poehalisnami.ua/static/hotels/turciya/kemer/h131592/small/booking131592_1.jpg">
                        <div class="lds-spinner"></div>
                        <svg class="radial-progress-bar radial-progress-bar-2" width="58" height="58"
                             viewbox="0 0 58 58"
                             style="stroke-dasharray: {{ 2.7 * 28 }}, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">2.7/5</text>
                        </svg>
                    </a>
                    <div class="tour-card__body hotels-content">
                        <a href="#" class="tour-card__small-text">
                            Отзывы 48
                        </a>

                        <a href="#" class="hotels-content__heading">
                            Kimeros Park Holiday Village 5
                            <svg class="svg-icon svg-icon--rating" width="10" height="8">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg>
                        </a>
                        <div>
                            Турция, Кемер
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 slick-carousel-item">
                <div class="tour-card">
                    <a href="#" class="tour-card__thumbnail responsive-thumbnail">
                        <img class="objectFitCover lazyload"
                             data-src="https://img.poehalisnami.ua/static/hotels/turciya/kemer/h1759/small/booking1759_12.jpg">
                        <div class="lds-spinner"></div>
                        <svg class="radial-progress-bar radial-progress-bar-2" width="58" height="58"
                             viewbox="0 0 58 58"
                             style="stroke-dasharray: {{ 4 * 28 }}, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">4/5</text>
                        </svg>
                    </a>
                    <div class="tour-card__body hotels-content">
                        <a href="#" class="tour-card__small-text">
                            Отзывы 88
                        </a>

                        <a href="#" class="hotels-content__heading">
                            Kemer Dream 4
                            <svg class="svg-icon svg-icon--rating" width="10" height="8">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg>
                        </a>
                        <div>
                            Турция, Кемер
                        </div>
                        <a href="#" class="hotels-content__price">
                            Туры от <span>24 695</span> грн.
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3 slick-carousel-item">
                <div class="tour-card">
                    <a href="#" class="tour-card__thumbnail responsive-thumbnail">
                        <img class="objectFitCover lazyload"
                             data-src="https://img.poehalisnami.ua/static/hotels/turciya/kemer/h136482/small/booking136482_1.jpg">
                        <div class="lds-spinner"></div>
                        <svg class="radial-progress-bar radial-progress-bar-2" width="58" height="58"
                             viewbox="0 0 58 58"
                             style="stroke-dasharray: {{ 5 * 28 }}, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">5/5</text>
                        </svg>
                    </a>
                    <div class="tour-card__body hotels-content">
                        <a href="#" class="tour-card__small-text">
                            Отзывы 33
                        </a>

                        <a href="#" class="hotels-content__heading">
                            Alva Donna World Palace 5
                            <svg class="svg-icon svg-icon--rating" width="10" height="8">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg>
                        </a>
                        <div>
                            Турция, Кемер
                        </div>
                        <a href="#" class="hotels-content__price">
                            Туры от <span>24 695</span> грн.
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3 slick-carousel-item">
                <div class="tour-card">
                    <a href="#" class="tour-card__thumbnail responsive-thumbnail">
                        <img class="objectFitCover lazyload"
                             data-src="https://img.poehalisnami.ua/static/hotels/turciya/marmaris/h23234/small/booking23234_1.jpg">
                        <div class="lds-spinner"></div>
                        <svg class="radial-progress-bar radial-progress-bar-2" width="58" height="58"
                             viewbox="0 0 58 58"
                             style="stroke-dasharray: {{ 4.9 * 28 }}, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">4.9/5</text>
                        </svg>
                    </a>
                    <div class="tour-card__body hotels-content">
                        <a href="#" class="tour-card__small-text">
                            Отзывы 48
                        </a>

                        <a href="#" class="hotels-content__heading">
                            Club Hotel Pineta 4
                            <svg class="svg-icon svg-icon--rating" width="10" height="8">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg>
                        </a>
                        <div>
                            Турция, Мармарис
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 slick-carousel-item">
                <div class="tour-card">
                    <a href="#" class="tour-card__thumbnail responsive-thumbnail">
                        <img class="objectFitCover lazyload"
                             data-src="https://img.turne.com.ua/static/hotels/egipet/sharm-el-shejjkh/h585/small/booking585_1.jpg">
                        <div class="lds-spinner"></div>
                        <svg class="radial-progress-bar radial-progress-bar-2" width="58" height="58"
                             viewbox="0 0 58 58"
                             style="stroke-dasharray: {{ 4.2 * 28 }}, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">4.2/5</text>
                        </svg>
                    </a>
                    <div class="tour-card__body hotels-content">
                        <a href="#" class="tour-card__small-text">
                            Отзывы 24
                        </a>

                        <a href="#" class="hotels-content__heading">
                            Emre Hotel 4&nbsp;<svg class="svg-icon svg-icon--rating" width="10" height="8">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg>
                        </a>
                        <div>
                            Турция , Мармарис
                        </div>
                        <a href="#" class="hotels-content__price">
                            Туры от <span>24 695</span> грн.
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slick-navigation">
            <div class="js-dots"></div>
        </div>
    </div>
</section>

<section class="hotels-reviews-section">
    <h2 class="heading">Рейтинг отелей Египта</h2>
    <div class="slick-carousel-wrap">
        <div class="row slick-carousel js-hotels-slider">
            <div class="col-3 slick-carousel-item">
                <div class="tour-card">
                    <a href="#" class="tour-card__thumbnail responsive-thumbnail">
                        <img class="objectFitCover lazyload"
                             data-src="https://img.poehalisnami.ua/static/hotels/turciya/kemer/h154448/small/154448_12.jpg">
                        <div class="lds-spinner"></div>
                        <svg class="radial-progress-bar radial-progress-bar-2" width="58" height="58"
                             viewbox="0 0 58 58"
                             style="stroke-dasharray: {{ 3.9 * 28 }}, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">3.9/5</text>
                        </svg>
                    </a>
                    <div class="tour-card__body hotels-content">
                        <a href="#" class="tour-card__small-text">
                            Отзывы 43
                        </a>

                        <a href="#" class="hotels-content__heading">
                            Grand Park Kemer
                            <svg class="svg-icon svg-icon--rating" width="10" height="8">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg>
                        </a>
                        <div>
                            Турция, Кемер
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 slick-carousel-item">
                <div class="tour-card">
                    <a href="#" class="tour-card__thumbnail responsive-thumbnail">
                        <img class="objectFitCover lazyload"
                             data-src="https://img.poehalisnami.ua/static/hotels/turciya/bodrum/h3030/small/booking3030_1.jpg">
                        <div class="lds-spinner"></div>
                        <svg class="radial-progress-bar radial-progress-bar-2" width="58" height="58"
                             viewbox="0 0 58 58"
                             style="stroke-dasharray: {{ 4.5 * 28 }}, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">4.5/5</text>
                        </svg>
                    </a>
                    <div class="tour-card__body hotels-content">
                        <a href="#" class="tour-card__small-text">
                            Отзывы 118
                        </a>

                        <a href="#" class="hotels-content__heading">
                            Green Beach Resort 5
                            <svg class="svg-icon svg-icon--rating" width="10" height="8">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg>
                        </a>
                        <div>
                            Турция, Бодрум
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 slick-carousel-item">
                <div class="tour-card">
                    <a href="#" class="tour-card__thumbnail responsive-thumbnail">
                        <img class="objectFitCover lazyload"
                             data-src="https://img.poehalisnami.ua/static/hotels/turciya/kemer/h131592/small/booking131592_1.jpg">
                        <div class="lds-spinner"></div>
                        <svg class="radial-progress-bar radial-progress-bar-2" width="58" height="58"
                             viewbox="0 0 58 58"
                             style="stroke-dasharray: {{ 2.7 * 28 }}, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">2.7/5</text>
                        </svg>
                    </a>
                    <div class="tour-card__body hotels-content">
                        <a href="#" class="tour-card__small-text">
                            Отзывы 48
                        </a>

                        <a href="#" class="hotels-content__heading">
                            Kimeros Park Holiday Village 5
                            <svg class="svg-icon svg-icon--rating" width="10" height="8">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg>
                        </a>
                        <div>
                            Турция, Кемер
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 slick-carousel-item">
                <div class="tour-card">
                    <a href="#" class="tour-card__thumbnail responsive-thumbnail">
                        <img class="objectFitCover lazyload"
                             data-src="https://img.poehalisnami.ua/static/hotels/turciya/kemer/h1759/small/booking1759_12.jpg">
                        <div class="lds-spinner"></div>
                        <svg class="radial-progress-bar radial-progress-bar-2" width="58" height="58"
                             viewbox="0 0 58 58"
                             style="stroke-dasharray: {{ 4 * 28 }}, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">4/5</text>
                        </svg>
                    </a>
                    <div class="tour-card__body hotels-content">
                        <a href="#" class="tour-card__small-text">
                            Отзывы 88
                        </a>

                        <a href="#" class="hotels-content__heading">
                            Kemer Dream 4
                            <svg class="svg-icon svg-icon--rating" width="10" height="8">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg>
                        </a>
                        <div>
                            Турция, Кемер
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 slick-carousel-item">
                <div class="tour-card">
                    <a href="#" class="tour-card__thumbnail responsive-thumbnail">
                        <img class="objectFitCover lazyload"
                             data-src="https://img.poehalisnami.ua/static/hotels/turciya/kemer/h136482/small/booking136482_1.jpg">
                        <div class="lds-spinner"></div>
                        <svg class="radial-progress-bar radial-progress-bar-2" width="58" height="58"
                             viewbox="0 0 58 58"
                             style="stroke-dasharray: {{ 5 * 28 }}, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">5/5</text>
                        </svg>
                    </a>
                    <div class="tour-card__body hotels-content">
                        <a href="#" class="tour-card__small-text">
                            Отзывы 33
                        </a>

                        <a href="#" class="hotels-content__heading">
                            Alva Donna World Palace 5
                            <svg class="svg-icon svg-icon--rating" width="10" height="8">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg>
                        </a>
                        <div>
                            Турция, Кемер
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 slick-carousel-item">
                <div class="tour-card">
                    <a href="#" class="tour-card__thumbnail responsive-thumbnail">
                        <img class="objectFitCover lazyload"
                             data-src="https://img.poehalisnami.ua/static/hotels/turciya/marmaris/h23234/small/booking23234_1.jpg">
                        <div class="lds-spinner"></div>
                        <svg class="radial-progress-bar radial-progress-bar-2" width="58" height="58"
                             viewbox="0 0 58 58"
                             style="stroke-dasharray: {{ 4.9 * 28 }}, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">4.9/5</text>
                        </svg>
                    </a>
                    <div class="tour-card__body hotels-content">
                        <a href="#" class="tour-card__small-text">
                            Отзывы 48
                        </a>

                        <a href="#" class="hotels-content__heading">
                            Club Hotel Pineta 4
                            <svg class="svg-icon svg-icon--rating" width="10" height="8">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg>
                        </a>
                        <div>
                            Турция, Мармарис
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 slick-carousel-item">
                <div class="tour-card">
                    <a href="#" class="tour-card__thumbnail responsive-thumbnail">
                        <img class="objectFitCover lazyload"
                             data-src="https://img.turne.com.ua/static/hotels/egipet/sharm-el-shejjkh/h585/small/booking585_1.jpg">
                        <div class="lds-spinner"></div>
                        <svg class="radial-progress-bar radial-progress-bar-2" width="58" height="58"
                             viewbox="0 0 58 58"
                             style="stroke-dasharray: {{ 4.2 * 28 }}, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">4.2/5</text>
                        </svg>
                    </a>
                    <div class="tour-card__body hotels-content">
                        <a href="#" class="tour-card__small-text">
                            Отзывы 24
                        </a>

                        <a href="#" class="hotels-content__heading">
                            Emre Hotel 4&nbsp;<svg class="svg-icon svg-icon--rating" width="10" height="8">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg>
                        </a>
                        <div>
                            Турция , Мармарис
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slick-navigation">
            <div class="js-dots"></div>
        </div>
    </div>
</section>

<section class="hotels-reviews-section">
    <h2 class="heading">Рейтинг отелей Черногории</h2>
    <div class="slick-carousel-wrap">
        <div class="row slick-carousel js-hotels-slider">
            <div class="col-3 slick-carousel-item">
                <div class="tour-card">
                    <a href="#" class="tour-card__thumbnail responsive-thumbnail">
                        <img class="objectFitCover lazyload"
                             data-src="https://img.poehalisnami.ua/static/hotels/turciya/kemer/h154448/small/154448_12.jpg">
                        <div class="lds-spinner"></div>
                        <svg class="radial-progress-bar radial-progress-bar-2" width="58" height="58"
                             viewbox="0 0 58 58"
                             style="stroke-dasharray: {{ 3.9 * 28 }}, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">3.9/5</text>
                        </svg>
                    </a>
                    <div class="tour-card__body hotels-content">
                        <a href="#" class="tour-card__small-text">
                            Отзывы 43
                        </a>

                        <a href="#" class="hotels-content__heading">
                            Grand Park Kemer
                            <svg class="svg-icon svg-icon--rating" width="10" height="8">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg>
                        </a>
                        <div>
                            Турция, Кемер
                        </div>
                        <a href="#" class="hotels-content__price">
                            Туры от <span>24 695</span> грн.
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3 slick-carousel-item">
                <div class="tour-card">
                    <a href="#" class="tour-card__thumbnail responsive-thumbnail">
                        <img class="objectFitCover lazyload"
                             data-src="https://img.poehalisnami.ua/static/hotels/turciya/bodrum/h3030/small/booking3030_1.jpg">
                        <div class="lds-spinner"></div>
                        <svg class="radial-progress-bar radial-progress-bar-2" width="58" height="58"
                             viewbox="0 0 58 58"
                             style="stroke-dasharray: {{ 4.5 * 28 }}, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">4.5/5</text>
                        </svg>
                    </a>
                    <div class="tour-card__body hotels-content">
                        <a href="#" class="tour-card__small-text">
                            Отзывы 118
                        </a>

                        <a href="#" class="hotels-content__heading">
                            Green Beach Resort 5
                            <svg class="svg-icon svg-icon--rating" width="10" height="8">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg>
                        </a>
                        <div>
                            Турция, Бодрум
                        </div>
                        <a href="#" class="hotels-content__price">
                            Туры от <span>24 695</span> грн.
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3 slick-carousel-item">
                <div class="tour-card">
                    <a href="#" class="tour-card__thumbnail responsive-thumbnail">
                        <img class="objectFitCover lazyload"
                             data-src="https://img.poehalisnami.ua/static/hotels/turciya/kemer/h131592/small/booking131592_1.jpg">
                        <div class="lds-spinner"></div>
                        <svg class="radial-progress-bar radial-progress-bar-2" width="58" height="58"
                             viewbox="0 0 58 58"
                             style="stroke-dasharray: {{ 2.7 * 28 }}, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">2.7/5</text>
                        </svg>
                    </a>
                    <div class="tour-card__body hotels-content">
                        <a href="#" class="tour-card__small-text">
                            Отзывы 48
                        </a>

                        <a href="#" class="hotels-content__heading">
                            Kimeros Park Holiday Village 5
                            <svg class="svg-icon svg-icon--rating" width="10" height="8">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg>
                        </a>
                        <div>
                            Турция, Кемер
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 slick-carousel-item">
                <div class="tour-card">
                    <a href="#" class="tour-card__thumbnail responsive-thumbnail">
                        <img class="objectFitCover lazyload"
                             data-src="https://img.poehalisnami.ua/static/hotels/turciya/kemer/h1759/small/booking1759_12.jpg">
                        <div class="lds-spinner"></div>
                        <svg class="radial-progress-bar radial-progress-bar-2" width="58" height="58"
                             viewbox="0 0 58 58"
                             style="stroke-dasharray: {{ 4 * 28 }}, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">4/5</text>
                        </svg>
                    </a>
                    <div class="tour-card__body hotels-content">
                        <a href="#" class="tour-card__small-text">
                            Отзывы 88
                        </a>

                        <a href="#" class="hotels-content__heading">
                            Kemer Dream 4
                            <svg class="svg-icon svg-icon--rating" width="10" height="8">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg>
                        </a>
                        <div>
                            Турция, Кемер
                        </div>
                        <a href="#" class="hotels-content__price">
                            Туры от <span>24 695</span> грн.
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3 slick-carousel-item">
                <div class="tour-card">
                    <a href="#" class="tour-card__thumbnail responsive-thumbnail">
                        <img class="objectFitCover lazyload"
                             data-src="https://img.poehalisnami.ua/static/hotels/turciya/kemer/h136482/small/booking136482_1.jpg">
                        <div class="lds-spinner"></div>
                        <svg class="radial-progress-bar radial-progress-bar-2" width="58" height="58"
                             viewbox="0 0 58 58"
                             style="stroke-dasharray: {{ 5 * 28 }}, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">5/5</text>
                        </svg>
                    </a>
                    <div class="tour-card__body hotels-content">
                        <a href="#" class="tour-card__small-text">
                            Отзывы 33
                        </a>

                        <a href="#" class="hotels-content__heading">
                            Alva Donna World Palace 5
                            <svg class="svg-icon svg-icon--rating" width="10" height="8">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg>
                        </a>
                        <div>
                            Турция, Кемер
                        </div>
                        <a href="#" class="hotels-content__price">
                            Туры от <span>24 695</span> грн.
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-3 slick-carousel-item">
                <div class="tour-card">
                    <a href="#" class="tour-card__thumbnail responsive-thumbnail">
                        <img class="objectFitCover lazyload"
                             data-src="https://img.poehalisnami.ua/static/hotels/turciya/marmaris/h23234/small/booking23234_1.jpg">
                        <div class="lds-spinner"></div>
                        <svg class="radial-progress-bar radial-progress-bar-2" width="58" height="58"
                             viewbox="0 0 58 58"
                             style="stroke-dasharray: {{ 4.9 * 28 }}, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">4.9/5</text>
                        </svg>
                    </a>
                    <div class="tour-card__body hotels-content">
                        <a href="#" class="tour-card__small-text">
                            Отзывы 48
                        </a>

                        <a href="#" class="hotels-content__heading">
                            Club Hotel Pineta 4
                            <svg class="svg-icon svg-icon--rating" width="10" height="8">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg>
                        </a>
                        <div>
                            Турция, Мармарис
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 slick-carousel-item">
                <div class="tour-card">
                    <a href="#" class="tour-card__thumbnail responsive-thumbnail">
                        <img class="objectFitCover lazyload"
                             data-src="https://img.turne.com.ua/static/hotels/egipet/sharm-el-shejjkh/h585/small/booking585_1.jpg">
                        <div class="lds-spinner"></div>
                        <svg class="radial-progress-bar radial-progress-bar-2" width="58" height="58"
                             viewbox="0 0 58 58"
                             style="stroke-dasharray: {{ 4.2 * 28 }}, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">4.2/5</text>
                        </svg>
                    </a>
                    <div class="tour-card__body hotels-content">
                        <a href="#" class="tour-card__small-text">
                            Отзывы 24
                        </a>

                        <a href="#" class="hotels-content__heading">
                            Emre Hotel 4&nbsp;<svg class="svg-icon svg-icon--rating" width="10" height="8">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg>
                        </a>
                        <div>
                            Турция , Мармарис
                        </div>
                        <a href="#" class="hotels-content__price">
                            Туры от <span>24 695</span> грн.
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="slick-navigation">
            <div class="js-dots"></div>
        </div>
    </div>
</section>