<div class="sidebar-box sidebar-box--two-col">
    <div class="sidebar-box__heading">
        Отзывы по курортам Египта
    </div>
    <div class="sidebar-box__content">

        <div class="sidebar-box__item">
            <a href="#" class="sidebar-box__link">
                <div class="sidebar-box__text">
                    Шарм-эль-Шейх
                    <span class="sidebar-box__price">
							96 отзывов
						</span>
                </div>

            </a>
        </div>
        <div class="sidebar-box__item">
            <a href="#" class="sidebar-box__link">
                <div class="sidebar-box__text">
                    Белек
                    <span class="sidebar-box__price">
							120 отзывов
						</span>
                </div>
            </a>
        </div>
        <div class="sidebar-box__item">
            <a href="#" class="sidebar-box__link">
                <div class="sidebar-box__text">
                    Хургада
                    <span class="sidebar-box__price">
							60 отзывов
						</span>
                </div>
            </a>
        </div>
        <div class="sidebar-box__item">
            <a href="#" class="sidebar-box__link">
                <div class="sidebar-box__text">
                    Сахл Хашиш
                    <span class="sidebar-box__price">
							96 отзывов
						</span>
                </div>
            </a>
        </div>
        <div class="sidebar-box__item">
            <a href="#" class="sidebar-box__link">
                <div class="sidebar-box__text">
                    Дахаб
                    <span class="sidebar-box__price">
							96 отзывов
						</span>
                </div>
            </a>
        </div>
        <div class="sidebar-box__item">
            <a href="#" class="sidebar-box__link">
                <div class="sidebar-box__text">
                    Макади Бэй
                    <span class="sidebar-box__price">
							96 отзывов
						</span>
                </div>
            </a>
        </div>
        <div class="sidebar-box__item">
            <a href="#" class="sidebar-box__link">
                <div class="sidebar-box__text">
                    Марса Алам
                    <span class="sidebar-box__price">
						60 отзывов
					</span>
                </div>
            </a>
        </div>
        <div class="sidebar-box__item">
            <a href="#" class="sidebar-box__link">
                <div class="sidebar-box__text">
                    Нувейба
                    <span class="sidebar-box__price">
							96 отзывов
						</span>
                </div>
            </a>
        </div>
        <div class="sidebar-box__item">
            <a href="#" class="sidebar-box__link">
                <div class="sidebar-box__text">
                    Сафага
                    <span class="sidebar-box__price">
							96 отзывов
						</span>
                </div>
            </a>
        </div>
        <div class="sidebar-box__item">
            <a href="#" class="sidebar-box__link">
                <div class="sidebar-box__text">
                    Сома Бэй
                    <span class="sidebar-box__price">
							96 отзывов
						</span>
                </div>
            </a>
        </div>
    </div>
</div>