<div class="sidebar-box sidebar-box--two-col">
    <div class="sidebar-box__heading">
        Рейтинг отелей Египта
    </div>
    <div class="sidebar-box__content">

        <div class="sidebar-box__item">
            <a href="#" class="sidebar-box__link">
                <div class="sidebar-box__text">
                    Aa Amwaj Oyoun Hotel & Resort, 4*
                    <span class="sidebar-box__rating">
							5.0
						</span>
                </div>

            </a>
        </div>
        <div class="sidebar-box__item">
            <a href="#" class="sidebar-box__link">
                <div class="sidebar-box__text">
                    Meryan Hotel 5*
                    <span class="sidebar-box__rating">
							5.0
						</span>
                </div>

            </a>
        </div>
        <div class="sidebar-box__item">
            <a href="#" class="sidebar-box__link">
                <div class="sidebar-box__text">
                    Sherwood Breezes Resort 5*
                    <span class="sidebar-box__rating">
							4.9
						</span>
                </div>

            </a>
        </div>
        <div class="sidebar-box__item">
            <a href="#" class="sidebar-box__link">
                <div class="sidebar-box__text">
                    Cornelia Diamond Golf Resort & SPA, 5*
                    <span class="sidebar-box__rating">
							4.9
						</span>
                </div>

            </a>
        </div>
        <div class="sidebar-box__item">
            <a href="#" class="sidebar-box__link">
                <div class="sidebar-box__text">
                    Sunrise Marina Port Ghalib 5*
                    <span class="sidebar-box__rating">
							4.7
						</span>
                </div>

            </a>
        </div>
    </div>
</div>