<div class="container">
	<h2 class="heading">Программа тура:</h2>
	<div class="accord-description">
		<p>
			<strong>Четыре экскурсии уже в цене!<br></strong>
		</p>
		<table>
			<tbody>
				<tr>
					<td>
						<div></div>
					</td>
				</tr>
			</tbody>
		</table>
		<div></div>
		<div class="heading-icon">День 1</div>
		<h2>Львов - Краков - Краковский Аквапарк</h2>
		<p>&nbsp;Бесплатные трансферы «ж/д вокзал – Терминал-А».<br>Отправление в тур из Комплекса&nbsp;. Переезд в Польшу. Экскурсия&nbsp;«Магический Краков»&nbsp;– город древних легенд и сказаний, династий польских королей и выдающегося Мицкевича, народного героя Тадеуша Костюшко, узких брусчатых улочек и величественных костелов. О красотах древнего Кракова, о музейных сокровищах Вавельского замка, о драконе Смоке известно столько легенд, что уже сложно отличить правду от вымысла. Говорят, магия Кракова состоит в том, что в городе хранится святой камень – чакрам, один из семи мировых источников таинственной силы. Правда это или нет, но очень справедливо говорят: «Кто хочет узнать душу Польши, пусть ищет ее в Кракове!».&nbsp;В свободное время в Кракове рекомендуем:<br>•&nbsp;«Пива много не бывает»&nbsp;(23€/18€) – знакомство с историей пивоварения, а также возможность попробовать его на вкус! А закрепить свои пивные познания нам поможет бокал прохладного пива и вкуснейший ужин в лучших польских традициях!!!<br>•&nbsp;«Казимеж - две культуры, две религии»&nbsp;(18€/13€). Когда-то Казимеж был отдельный городом, в котором прекрасно сосуществовали две культуры и две религии: христианство и иудаизм. Казимеж сегодня – это район Кракова, но со своей, особой атмосферой…<br>•&nbsp;Один из самых больших подземных музеев Европы -&nbsp;Краковский подземный музей&nbsp;(16€+вх.билет), который расскажет нам каким был Краков несколько веков назад.<br>• Посещение&nbsp;&nbsp;(6€+вх. билет) – одного из самых больших в Польше аквапарков. Бассейны с озонированной водой, гидромассажные ванны, винтовые горки, джакузи, сауна, солярий, фитнесс-клуб. А еще есть Водный бар, где можно отдохнуть, выпить кофе или просто попробовать десерт.<br>Ночной переезд в Вену.</p>
		<table>
			<tbody>
				<tr>
					<td><img title="Львов - Краков - Краковский Аквапарк, Венский экспресс!&nbsp;Краков, Вена, Будапешт" src="https://www.akkord-tour.com.ua/UserFiles/Image/Tyru%20v%20Ukrainy/Fotos%20for%20tour/Lviv/Lviv_54_small.jpg" alt="День 1 - Львов - Краков - Краковский Аквапарк" width="160" height="120"></td>
					<td><img title="Львов - Краков - Краковский Аквапарк, Венский экспресс!&nbsp;Краков, Вена, Будапешт" src="https://www.akkord-tour.com.ua/UserFiles/Image/Tyru%20v%20Ukrainy/Fotos%20for%20tour/Lviv/Lviv_55_small.jpg" alt="День 1 - Львов - Краков - Краковский Аквапарк" width="160" height="120"></td>
					<td><img title="Львов - Краков - Краковский Аквапарк, Венский экспресс!&nbsp;Краков, Вена, Будапешт" src="https://www.akkord-tour.com.ua/UserFiles/Image/Tyru%20v%20Ukrainy/Fotos%20for%20tour/Lviv/Lviv_57_small.jpg" alt="День 1 - Львов - Краков - Краковский Аквапарк" width="160" height="120"></td>
					<td><img title="Львов - Краков - Краковский Аквапарк, Венский экспресс!&nbsp;Краков, Вена, Будапешт" src="https://www.akkord-tour.com.ua/UserFiles/Image/Tyru%20v%20Ukrainy/Fotos%20for%20tour/Lviv/Lviv_59_small.jpg" alt="День 1 - Львов - Краков - Краковский Аквапарк" width="180" height="120"><br><br></td>
				</tr>
			</tbody>
		</table>
		<div></div>
		<div class="heading-icon">День 2</div>
		<h2>Вена - Дворец Бельведер - Шенбрунн</h2>
		<p>&nbsp;&nbsp;Переезд в Вену.&nbsp;Пешеходная экскурсия&nbsp;«Вена – столица Габсбургов», город музыки и великих музыкантов город чарующий и прекрасный… его по праву называют сердцем Европы. Столица Австро–Венгерской империи, Вена поражает своим величием и роскошью, своим обаянием и теплотой... Это необыкновенный город! – узкие средневековые улочки, широкие имперские площади… Мы прогуляемся по самому сердцу Вены: площадь Марии Терезии, имперский Хофбург, Кертнер, Грабен, собор святого Стефана и утонченная Альбертина!&nbsp;Свободное время в городе, рекомендуєм:<br>•&nbsp;«Величественная Вена»&nbsp;(26€/18€). Таинственное средневековье, блистательный 19 век, круговорот музыки, истории, искусства – всё это Вена, неповторимая и прекрасная! «Это моя воля!» - этими словами император Франц Иосиф распорядился о строительстве Рингштрассе, где величественно расположились здания Парламента, Ратуши, Бургтеатра. Мы также увидим самую веселую достопримечательность - причудливый дом Хундертвасера! А в завершении экскурсии – «нанесем визит» принцу Евгению Савойскому и увидим удивительный по своей красоте замок&nbsp;Бельведер!<br>• "Блеск и закат Великой Империи" (18€+вх.билет) – посещение Сокровищницы Габсбургов, где хранятся бесценные предметы самого высокого ранга. Было время, когда в землях Габсбургов не заходило солнце, когда представителей династии выбирали и короновали на трон императора, когда они были полноправными властителями Венгрии и Богемии. Империй больше нет, богатства надолго пережили своих владельцев... Священная Чаша Грааля, Копье Судьбы... Да-да, они существуют и находятся именно здесь - в Сокровищнице!<br>• «Здесь музыка звучит повсюду» (18€+вх.билет). Говорят, что воздух Вены наполнен музыкой. В бесчисленных концертных залах и зальчиках, в парках и на бульварах звучат вальсы Штрауса и серенады Моцарта. Этот классический коктейль, дополненный размеренным постукиванием фиакров, и образует неповторимую атмосферу австрийской столицы. Во время экскурсии мы познакомимся с особым звучанием великолепного города, узнаем больше о жизни великих композиторов и посетим Венскую Оперу.<br>• «Шенбрунн – роскошная резиденция Габсбургов» (18€+вх. билет). Уже больше 300 лет Шенбрунн — одна из главных достопримечательностей австрийской столицы. Это ансамбль, объединяющий архитектуру и природу, где парк становится продолжением дворца. Вот уж действительно — кайзеровский размах!<br>• "Вена - предание и легенды" (18€/13€). Во время нашей прогулки мы пройдем по непривычному маршруту и увидим другую Вену – средневековую, величественную, вдохновляющую. Старый еврейский квартал, древнейшая церковь Вены, дом, где 6-летний Моцарт играл на клавесине, «танцующие часы» - Анкерур… В конце прогулки нас ждет уютная кофейня, которая угостит нас венским кофе (оплата по меню дополнительно).<br>Переезд в&nbsp;гостеприимную Венгрию&nbsp;– страну термальных источников, паприки и вина! Здесь вопреки вихрям истории, сохранилось немало шедевров, с которыми стоит познакомиться: двухтысячелетние памятники Римской империи соседствуют со строениями времен турецкого ига, романскими храмами с гордо-неприступными крепостями средневековья….&nbsp;<br>Ночлег в отеле.<br></p>
		<table>
			<tbody>
				<tr>
					<td><img title="Вена - Дворец Бельведер - Шенбрунн, Венский экспресс!&nbsp;Краков, Вена, Будапешт" src="https://www.akkord-tour.com.ua/UserFiles/Image/Austria/Wien/vienna_29_small.jpg" alt="День 2 - Вена - Дворец Бельведер - Шенбрунн"></td>
					<td><img title="Вена - Дворец Бельведер - Шенбрунн, Венский экспресс!&nbsp;Краков, Вена, Будапешт" src="https://www.akkord-tour.com.ua/UserFiles/Image/Austria/Wien/vienna_16_small.jpg" alt="День 2 - Вена - Дворец Бельведер - Шенбрунн"></td>
					<td><img title="Вена - Дворец Бельведер - Шенбрунн, Венский экспресс!&nbsp;Краков, Вена, Будапешт" src="https://www.akkord-tour.com.ua/UserFiles/Image/Austria/Wien/vienna_37_small.jpg" alt="День 2 - Вена - Дворец Бельведер - Шенбрунн"></td>
					<td><img title="Вена - Дворец Бельведер - Шенбрунн, Венский экспресс!&nbsp;Краков, Вена, Будапешт" src="https://www.akkord-tour.com.ua/UserFiles/Image/Tyru%20v%20Vengrijy/Fotos%20fot%20tour/Wien_06_small.jpg" alt="День 2 - Вена - Дворец Бельведер - Шенбрунн" width="160" height="120"></td>
				</tr>
			</tbody>
		</table>
		<div></div>
		<div class="heading-icon">День 3</div>
		<h2>Будапешт - Вышеград - Долина Красавиц - Сентендре - купальни Сечени</h2>
		<p>Завтрак.&nbsp;Утром приглашаем посетить&nbsp;термальные купальни графа Сечени&nbsp;(вх. билет)&nbsp;- заряд бодрости и энергии на целый день!&nbsp;<br>Пешеходная экскурсия «Будапешт – жемчужина Дуная» О, этот город… Незабываемый… Неповторимый… Чарующий… Он предлагает своим посетителям близкую и знакомую европейскую культуру, но с особым венгерским ароматом… Город с древней историей, культурой, традициями, жизненная сила которого пульсирует в каждом его уголке. Мы отправимся к духовному центру Будапешта – базилике Святого Иштвана, затем к грандиозному Парламенту, площади Свободы и очаровательному Цепному мосту, который охраняют огромные каменные львы… В свободное время рекомендуем экскурсии:<br>•&nbsp;«Путешествие в Излучину Дуная»&nbsp;(30€+вх. билет). Наш путь лежит в Вышеград – летнюю резиденцию венгерских королей. Мы посетим Вышеградскую крепость, соприкоснемся с бытом и укладом средневековья, а еще - насладимся панорамой на Излучину Дуная: ведь именно здесь Дунай несколько раз меняет своё направление, изгибаясь по узкой долине Карпатского Бассейна. Затем мы направимся в уютный городок Сентендре с множеством сувенирных лавок. Здесь стоит попробовать настоящие марципаны и провести сладкие минуты в мире сказки!<br>•&nbsp;«Ключ к сердцу Будапешта»&nbsp;(26€/18€).&nbsp;В Будапеште созданы все условия для любителей фотографий. Такое впечатление, что еще на этапе постройки крепости в Буде венгерский король Бела IV просчитал грядущее изобретение техники и понял, что с Будайского холма, а особенно с горы Геллерт, будет очень хороший вид на Пешт, мосты и заворачивающий вдаль Дунай. Здесь весь город как на ладони! Насладившись видом, мы переедем через могущественный Дунай по мосту Свободы, и отправимся к Центральному рынку Будапешта, где в прекрасном здании в французском стиле, нас ждёт гастрономический рай: салями «Pick», сырные деликатесы, знаменитые вина, палинка, специи, сувенирный китч и, конечно же, пресловутые связки с красным острым перцем! А затем по «Елисейским полям» Будапешта — парадному проспекту Андраши, мы направимся к&nbsp;площади Героев!<br>•&nbsp;«Таинственная Буда»&nbsp;(18/13€+вх. билет) - это одно из самих романтических и древних мест в Будапеште… будто маленький средневековый городок с живописными улочками и старинными зданиями… Будайская крепость, Рыбацкий бастион, Будайский Лабиринт, собор св. Матияша, памятник Святой Троице и … и наконец, сам Королевский Дворец!<br>•&nbsp;Посещение&nbsp;Тропикария – Океанария&nbsp;(10€+вх.билет) – самого большого в Центральной Европе. 8 залов! Где кипит жизнь тропиков и океанских глубин – аллигаторы, морские скаты, большущие питоны, сонные черепашки, симпатичные обезьянки, умные попугаи и ленивые игуаны. А еще в 11–метровом туннеле можно понаблюдать за тигровыми акулами в присутствии множества других рыбок разной формы и размеров с красочным макияжем и маникюром…&nbsp;(находится в торговом центре&nbsp;Campona&nbsp;+&nbsp;TESCO)<br>Ближе к вечеру... Для всех желающих&nbsp;«Ажурное украшение Будапешта»&nbsp;(26€/18€). Семь мостов служит украшением прекрасного Голубого Дуная, которые, словно нити жемчуга, связывают две части города – Буду и Пешт… В воде отражаются величественные здания: Парламент, Академия наук, Королевский Дворец... Мимо нас "проплывают" старинные водолечебницы, гостиницы, музеи и самый красивый развлекательный комплекс Будапешта…&nbsp;<br>Переезд на Север Венгрии.&nbsp;Для всех желающих рекомендуем&nbsp;дегустацию эгерских вин&nbsp;и вкуснейший гуляш в&nbsp;Долине Красавиц!!! (18€). Самое известное вино – «Бычья Кровь», а самое приятное – «Эгерская Девушка».<br>Возвращение в Украину.</p>
		<table>
			<tbody>
				<tr>
					<td><img title="Будапешт - Вышеград - Долина Красавиц - Сентендре - купальни Сечени, Венский экспресс!&nbsp;Краков, Вена, Будапешт" src="https://www.akkord-tour.com.ua/UserFiles/Image/Tyru%20v%20Chehijy/Fotos%20for%20tour/Budapesht_01_small.jpg" alt="День 3 - Будапешт - Вышеград - Долина Красавиц - Сентендре - купальни Сечени" width="160" height="120" align="middle" hspace="5"></td>
					<td><img title="Будапешт - Вышеград - Долина Красавиц - Сентендре - купальни Сечени, Венский экспресс!&nbsp;Краков, Вена, Будапешт" src="https://www.akkord-tour.com.ua/UserFiles/Image/Tyru%20v%20Vengrijy/Budapest/Budapest_66_small.jpg" alt="День 3 - Будапешт - Вышеград - Долина Красавиц - Сентендре - купальни Сечени"></td>
					<td><img title="Будапешт - Вышеград - Долина Красавиц - Сентендре - купальни Сечени, Венский экспресс!&nbsp;Краков, Вена, Будапешт" src="https://www.akkord-tour.com.ua/UserFiles/Image/Tyru%20v%20Vengrijy/Budapest/Budapest_53_small.jpg" alt="День 3 - Будапешт - Вышеград - Долина Красавиц - Сентендре - купальни Сечени"></td>
					<td><img title="Будапешт - Вышеград - Долина Красавиц - Сентендре - купальни Сечени, Венский экспресс!&nbsp;Краков, Вена, Будапешт" src="https://www.akkord-tour.com.ua/UserFiles/Image/Tyru%20v%20Vengrijy/Budapest/Budapest_22_small.jpg" alt="День 3 - Будапешт - Вышеград - Долина Красавиц - Сентендре - купальни Сечени" width="160" height="120"></td>
				</tr>
			</tbody>
		</table>
		<div></div>
		<div class="heading-icon">День 4</div>
		<h2>Львов</h2>
		<p>&nbsp;Прибытие во Львов в комплекс Терминал «А» ориентировочно в ~ 08:30. Свободное время полтора часа, трансфер - Терминал А -&nbsp;Львовский ж. д.&nbsp;вокзал.<br>Для всех желающих - экскурсия&nbsp;«Только во Львове!». Мы отправимся в центральную часть города, прогуляемся по узеньким улочкам древнего Львова. Здесь разливается аромат утреннего кофе, зовут своими перезвонами костел Успения и Доминиканский собор, возвышается над черепичным морем Ратуша... Каждый камешек на площади Рынок несет через века свою историю!</p>
		<div></div>
		<div>&nbsp;</div>
		<table>
			<tbody>
				<tr>
					<td>Стоимость тура ВКЛЮЧАЕТ</td>
				</tr>
				<tr>
					<td>• проезд автобусом туркласса<br>• экскурсии по программе<br>
						• сопровождение руководителя группы, страхование.<br>• проживание в отелях категории Standart с завтраками<br>• В случае если возраст туриста составляет более 60 лет или не достигает 6 лет, необходимо дополнительно уточнить размер доплаты страхового платежа.<br>• Приятный сюрприз от «Аккорд-тура»&nbsp;для туристов-именинников в день рождения&nbsp;</td>
				</tr>
				<tr>
					<td>Базовые отели категории Standard в Будапеште:<br>, , и другие&nbsp;</td>
				</tr>
			</tbody>
		</table>
		<table>
			<tbody>
				<tr>
					<td>Стоимость тура НЕ ВКЛЮЧАЕТ</td>
				</tr>
				<tr>
					<td>• рекомендованные программы и входные билеты<br>
						• консульский сбор – 35€ (кроме категорий граждан освобожденных от оплаты – пенсионеры, дети до 18 лет… согласно договора об упрощение визового режима.<br>• услуги Визового Центра – 22€ (если подача в Киеве, Одессе, Харькове, Днепропетровске)<br>• услуги банка – 25 грн (если подача в Берегово)&nbsp;
						<br></td>
				</tr>
			</tbody>
		</table>
		<div></div>
	</div>
</div>
