<div class="container">
	<h2 class="heading">Программа тура:</h2>
	<div class="accord-description">
		<p>Экскурсии по Праге и Кракову&nbsp; в стоимости тура<br>Экскурсия по Львову в подарок!</p>
		<div></div>
		<div class="heading-icon">День 1</div>
		<h2>Львов - Краков</h2>
		<div></div>
		<div></div>Бесплатные трансферы «ж/д вокзал – Терминал-А».<div></div>Отправление в тур осуществляется из Комплекса Терминал «А». Прибытие в Краков.<div></div>
		<div>Экскурсия Королевский путь (входит в стоимость тура)<div></div>
			<div>Краков-город – удивительный, красивый и загадочный. Город художников и музыкантов, cо своими легендами и, конечно же, милыми польскими шутками. В нем нужно остановиться, задержаться хотя бы на мгновение Вавельский холм, Кафедральный собор, Двор резиденции. Остановки на фотопаузы. Улица Гродска, Королевский путь мы дойдем до Рыночной площади, послушаем трубача в Марьяцком костеле, зайдем и выберем сувенир на торговых рядах Сукенницы.</div>
		</div>
		<div></div>
		<div></div>
		<div>Казимеж -особая атмосфера (Взрослый: 18€ / Дети: 10€)<div></div>
			<div>Казимеж – интересный район со своей особенной атмосферой. Здесь сохранились семь синагог, средневековое еврейское кладбище, еврейская Мыква-ритуальная баня для мужчин и женщин. Столетиями район выполнял торговую функцию, чуть позже стал популярным местом среди богемы и студентов.</div>
		</div>
		<div></div>
		<div></div>
		<div>Пива много не бывает (Взрослый: 26€ / Дети: 21€)<div></div>
			<div>В Польше варят хорошее пиво и знают о нем множество историй. Предлагаем Вам попробовать польскую кухню и окунуться в пивную атмосферу разных эпох!</div>
		</div>
		<div></div>Ночной переезд в Прагу.<div></div>
		<div>
			<div><img alt="День 1 - Львов - Краков" title="Львов - Краков, Пражский экспресс" src="https://www.accordtour.com/UserFiles/Image/Tyru v Polshy/Krakiv/krakiw_33_small.jpg"></div>
			<div><img alt="День 1 - Львов - Краков" title="Львов - Краков, Пражский экспресс" src="https://www.accordtour.com/UserFiles/Image/Tyru v Polshy/Krakiv/krakiw_12_small.jpg"></div>
			<div><img alt="День 1 - Львов - Краков" title="Львов - Краков, Пражский экспресс" src="https://www.accordtour.com/UserFiles/Image/Tyru v Polshy/Krakiv/krakiw_35_small.jpg"></div>
			<div><img alt="День 1 - Львов - Краков" title="Львов - Краков, Пражский экспресс" src="https://www.accordtour.com/UserFiles/Image/Tyru v Polshy/Krakiv/krakiw_43_small.jpg"></div>
		</div>
		<div></div>
		<div class="heading-icon">День 2</div>
		<h2>Прага</h2>
		<div></div>
		<div></div>По дороге остановка на завтрак (оплачивается по меню). Этот день мы посвятим Праге. Золотая, красивая, стобашенная... Какую ее увидим мы?<div></div>
		<div>Экскурсия Встреча с Прагой (входит в стоимость тура)<div></div>
			<div>В лабиринтах маленьких улочек вы погрузитесь в таинственную атмосферу Старого города: древняя Пороховая башня, Сословный театр, первый Пражский университет, костел девы Марии перед Тыном. Староместская площадь, Астрономические часы с небесной механикой на ратуше, еврейский квартал Йозефов, Карлова улица… и конечно же, Карлов мост! Нужно здесь остановиться для того, чтоб загадать желание!</div>
		</div>
		<div></div>В свободное время рекомендуем посетить на выбор:<div></div>
		<div>Тайны королей - Градчаны (Взрослый: 18€ / Дети: 13€)<div></div>
			<div>Узнать о жизни королей и придворных, о дворцовые интриги и заговоры, преступления и наказания, которые происходили из самых светлых побуждений - во имя веры и государства. Вас ждет Градчанская площадь, Шварценбергский дворец и стоит в Пражском граде. А также невероятный собор Вита.<div><img class="youtube-modal-ex" style="cursor:pointer" title="Тайны королей - Градчаны - видеообзор" src="https://www.akkord-tour.com.ua/images/video/video_ru_70x17.png" alt="Тайны королей - Градчаны" data-video-id="NgbqhPHh8Xw"></div>
			</div>
		</div>
		<div></div>
		<div></div>
		<div>Прогулка на кораблике по Влтаве (Взрослый: 30€ / Дети: 26€)<div></div>
			<div>Шведский стол в сопровождении интересных рассказов... Вот они незабываемые мгновения в жизни...</div>
		</div>
		<div></div>Размещение в отеле после 14:00. Проезд на общественном транспорте – оплачивается дополнительно.<div></div>
		<div>Пивными дорогами Праги (Взрослый: 30€ / Дети: 26€)<div></div>
			<div>Возможность посетить знаменитые пивные и послушать истории о них. Нас ждет также дегустация.<div><img class="youtube-modal-ex" style="cursor:pointer" title="Пивными дорогами Праги - видеообзор" src="https://www.akkord-tour.com.ua/images/video/video_ru_70x17.png" alt="Пивными дорогами Праги" data-video-id="CJR-_wkp6LI"></div>
			</div>
		</div>
		<div></div>
		<div></div>
		<div>Тени старого города (Взрослый: 18€ / Дети: 13€)<div></div>
			<div>Вечерняя Прага полна шарма, разных неожиданностей, и вся ее красота предстает перед нами в особенном вечернем свете, а мистика витает в воздухе… Прага покажет нам себя совсем с другой стороны, раскроет много загадок, расскажет много интересного.&nbsp;</div>
		</div>
		<div></div>Ночлег.<div></div>
		<div>
			<div><img alt="День 2 - Прага" title="Прага, Пражский экспресс" src="https://www.accordtour.com/UserFiles/Image/Tyru v Chehijy/Praga/Praga_118_small.jpg"></div>
			<div><img alt="День 2 - Прага" title="Прага, Пражский экспресс" src="https://www.accordtour.com/UserFiles/Image/Tyru v Chehijy/Praga/Praga_41_small.jpg"></div>
			<div><img alt="День 2 - Прага" title="Прага, Пражский экспресс" src="https://www.accordtour.com/UserFiles/Image/Tyru v Chehijy/Praga/Praga_48_small.jpg"></div>
			<div><img alt="День 2 - Прага" title="Прага, Пражский экспресс" src="https://www.accordtour.com/UserFiles/Image/Tyru v Chehijy/Praga/Praga_44_small.jpg"></div>
		</div>
		<div></div>
		<div class="heading-icon">День 3</div>
		<h2>Карловы Вары - Прага - Замок Чешски Штернберг</h2>
		<div></div>
		<div></div>Завтрак. Выселение из отеля. Свободное время в Праге. Для желающих:<div></div>
		<div>Карловы Вары (Взрослый: 30€ / Дети: 26€)<div></div>
			<div>Дальше наш путь следует в одну из живописных долин в Западной Чехии, в курортный город -&nbsp;Карловы Вары.&nbsp;Это царство минеральных источников, ликера Бехеровки, стекла и фарфора. Город с очаровывающей архитектурой, спокойным журчанием воды, сладким запахом вафель и романтичной музыкой курортных оркестров... Вам не захочется покидать эти места, но пора возвращаться в Прагу.<div><img class="youtube-modal-ex" style="cursor:pointer" title="Карловы Вары - видеообзор" src="https://www.akkord-tour.com.ua/images/video/video_ru_70x17.png" alt="Карловы Вары" data-video-id="W2u8Gxh1tBA"></div>
			</div>
		</div>
		<div></div>Возвращение в Прагу. Или<div></div>
		<div>Чешский Штейнберг (Взрослый: 30€ / Дети: 26€)<div></div>
			<div>Замок был основан в XIII столетии предками современных Штернбергов и был поименован по геральдическому знаку рода – Золотой звезде. Мы увидим репрезентативные покои замка, наполненные родовыми коллекциями Штернбергов.</div>
		</div>
		<div></div>
		<div></div>
		<div>Прага особенная. Малая Страна (Взрослый: 18€ / Дети: 13€)<div></div>
			<div>В Малую страну мы попадаем по Карлову мосту. «Малая Страна» отличается атмосферой милых старинных улочек, уникальными дворцово-парковыми комплексами, барочными фасадами, похожими на сказочную декорацию. Самая узкая улочка, музей Кафки, Вальдштейнский сад, Малостранская площадь, улица Нерудова, храм Девы Марии Победоносной. Романтикам непременно понравится Пражская Венеция - район по берегам канала Чертовка, очень похожий на настоящую итальянскую Венецию. Остров Кампа, мальтийский квартал и водяные мельницы, стена Джона Ленона.</div>
		</div>
		<div></div>Или<div></div>
		<div>Саксонский Дрезден (Взрослый: 38€ / Дети: 30€)<div></div>
			<div>В течение семи веков город был резиденцией герцогов и королей. Дрезден знаменит своими архитектурными ансамблями, несметными сокровищами музеев, коллекциями живописи и великолепной панорамой берегов Эльбы. Экскурсия по Старому городу – Театральная площадь с Дрезденской оперой в центре. Роскошные строения Цвингера.</div>
		</div>
		<div></div>22:00 Вечерний выезд в Украину. Ночной переезд.<div></div>
		<div>
			<div><img alt="День 3 - Карловы Вары - Прага - Замок Чешски Штернберг" title="Карловы Вары - Прага - Замок Чешски Штернберг, Пражский экспресс" src="https://www.accordtour.com/UserFiles/Image/Tyru v Chehijy/Karlovi Vary/karl_vary_12_small.jpg"></div>
			<div><img alt="День 3 - Карловы Вары - Прага - Замок Чешски Штернберг" title="Карловы Вары - Прага - Замок Чешски Штернберг, Пражский экспресс" src="https://www.accordtour.com/UserFiles/Image/Tyru v Chehijy/Karlovi Vary/karl_vary_09_small.jpg"></div>
			<div><img alt="День 3 - Карловы Вары - Прага - Замок Чешски Штернберг" title="Карловы Вары - Прага - Замок Чешски Штернберг, Пражский экспресс" src="https://www.accordtour.com/UserFiles/Image/Tyru v Chehijy/Cesky Sternberk/sternberk_01_small.jpg"></div>
			<div><img alt="День 3 - Карловы Вары - Прага - Замок Чешски Штернберг" title="Карловы Вары - Прага - Замок Чешски Штернберг, Пражский экспресс" src="https://www.accordtour.com/UserFiles/Image/Tyru v Chehijy/Praga/Praga_59_small.jpg"></div>
		</div>
		<div></div>
		<div class="heading-icon">День 4</div>
		<h2>Львов</h2>
		<div></div>
		<div></div>Прибытие во Львов около 13.00. Зависит от прохождения границы. Место прибытия во Львов – Комплекс Терминал «А».<div></div>
		<div>Экскурсия Лабиринтами львовских улиц (входит в стоимость тура)<div></div>
			<div>Пешеходная экскурсия по средневековому городу<strong>:</strong>
				фортификации XIV-XV вв., ансамбль Успенской церкви; монастырский доминиканский костел Божьего тела. Площадь Рынок – жемчужина эпохи Возрождения: городская Ратуша, Латинская катедра в дуете с каплицей Боимов; старинный уголок Востока – армянский квартал. Львовская мастерская шоколада – единственная, где каждая конфетка сделана с любовью и вдохновением, а главное - вручную.&nbsp;Проспект Свободы&nbsp;– своеобразный ансамбль эклектики и модерна и его наибольшая гордость - Оперный театр, который считается самым красивым в Европе! Все входные билеты оплачиваются самостоятельно.</div>
		</div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div>&nbsp;</div>
		<table>
			<tbody>
				<tr>
					<td>Стоимость тура ВКЛЮЧАЕТ:</td>
				</tr>
				<tr>
					<td>
						<div></div>
						<div>•&nbsp;проезд по маршруту автобусом туркласса</div>
						<div></div>
						<div>•&nbsp;сопровождение гида-руководителя по маршруту</div>
						<div></div>
						<div>•&nbsp;проживание в отелях 3* с завтраками</div>
						<div></div>
						<div>•&nbsp;экскурсии по программе</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div></div>
		<table>
			<tbody>
				<tr>
					<td>Дополнительно оплачивается::</td>
				</tr>
				<tr>
					<td>
						<div></div>
						<div>•&nbsp;индивидуальная страховка (при самостоятельной подаче)</div>
						<div></div>
						<div>•&nbsp;входные билеты в экскурсионные объекты</div>
						<div></div>
						<div>•&nbsp;билеты на матч оплачиваются дополнительно</div>
						<div></div>
						<div>•&nbsp;факультативные экскурсии</div>
						<div></div>
						<div>•&nbsp;проезд в общественном транспорте</div>
						<div></div>
						<div>•&nbsp;личные расходы (обеды, ужины, сувениры)</div>
						<div></div>
						<div>•&nbsp;city tax (городской налог)</div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div></div>
						<div>•&nbsp;Консульский сбор + Визовый Центр = 35€ + 23€</div>
						<div></div>
						<div>•&nbsp;Кроме категории граждан, освобожденных от оплаты Консульского сбора, по договору об упрощение визового режима: пенсионеры, дети до 18 лет, студенты дневного стационара до 21 года. Оплачивается при каждой подаче. При отказе НЕ возвращается.</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div></div>
	</div>
</div>
