<div class="slick-carousel-wrap">
    <div class="hotel-tours hotel-tours--bus slick-carousel slick-carousel--only-mobile js-detail-bus-tours-carousel">
        <div class="bus-tours__item">
            <div class="hotel-tours__th col-xl-3">
                Дата
                <br>
                <span>	выезд – возвращение </span>
            </div>
            <div class="hotel-tours__th col-xl-6">
                <div class="bus-tours__th-title">
                    От 1 человека
                    <br>
                    <span>
						(в составе основной группы)
					</span>
                </div>
                <div class="bus-tours__inner-th">
                    <div class="bus-tours__th">
                        Взрослые
                        <br>
                        <span>(от 16 лет)</span>
                    </div>
                    <div class="bus-tours__th">
                        Дети
                        <br>
                        <span>
							(до 16 лет, на доп. месте)</span>
                    </div>
                </div>
            </div>
            <div class="hotel-tours__th col-xl-3">Отправить заявку</div>
        </div>
        <div class="hotel-tours__item slick-carousel-item">
            <div class="hotel-tours__td col-xl-3 ">
                25.12.19 - 28.12.19
                <span class="bus-tours__mobile-description"> Дата </span>
            </div>
            <div class="hotel-tours__td col-xl-3">
                2 119 грн
                <span class="bus-tours__mobile-description"> Взрослые (от 16 лет) </span>
            </div>
            <div class="hotel-tours__td col-xl-3">
                2 041 грн
                <span class="bus-tours__mobile-description"> Дети (до 16 лет, на доп. месте) </span>
            </div>
            <div class="hotel-tours__td col-xl-3">
                <button class="btn btn-brand btn-brand--orange" data-toggle="modal"
                        data-target="#applicationModalmobile">Оставить заявку
                </button>
            </div>
        </div>
        <div class="hotel-tours__item slick-carousel-item">
            <div class="hotel-tours__td">
                25.12.19 - 28.12.19
                <span class="bus-tours__mobile-description"> Дата </span>
            </div>
            <div class="hotel-tours__td">
                2 119 грн
                <span class="bus-tours__mobile-description"> Взрослые (от 16 лет) </span>
            </div>
            <div class="hotel-tours__td">
                2 041 грн
                <span class="bus-tours__mobile-description"> Дети (до 16 лет, на доп. месте) </span>
            </div>
            <div class="hotel-tours__td">
                <button class="btn btn-brand btn-brand--orange" data-toggle="modal"
                        data-target="#applicationModalmobile">Оставить заявку
                </button>
            </div>
        </div>
        <div class="hotel-tours__item slick-carousel-item">
            <div class="hotel-tours__td col-xl-3 ">
                25.12.19 - 28.12.19
                <span class="bus-tours__mobile-description"> Дата </span>
            </div>
            <div class="hotel-tours__td col-xl-3">
                2 119 грн
                <span class="bus-tours__mobile-description"> Взрослые (от 16 лет) </span>
            </div>
            <div class="hotel-tours__td col-xl-3">
                2 041 грн
                <span class="bus-tours__mobile-description"> Дети (до 16 лет, на доп. месте) </span>
            </div>
            <div class="hotel-tours__td col-xl-3">
                <button class="btn btn-brand btn-brand--orange" data-toggle="modal"
                        data-target="#applicationModalmobile">Оставить заявку
                </button>
            </div>
        </div>
        <div class="hotel-tours__item slick-carousel-item">
            <div class="hotel-tours__td col-xl-3 ">
                25.12.19 - 28.12.19
                <br>
                <span class="bus-tours__mobile-description"> Дата </span>
            </div>
            <div class="hotel-tours__td col-xl-3">
                2 119 грн
                <span class="bus-tours__mobile-description"> Взрослые (от 16 лет) </span>
            </div>
            <div class="hotel-tours__td col-xl-3">
                2 041 грн
                <span class="bus-tours__mobile-description"> Дети (до 16 лет, на доп. месте) </span>
            </div>
            <div class="hotel-tours__td col-xl-3">
                <button class="btn btn-brand btn-brand--orange" data-toggle="modal"
                        data-target="#applicationModalmobile">Оставить заявку
                </button>
            </div>
        </div>
        <div class="hotel-tours__item slick-carousel-item">
            <div class="hotel-tours__td col-xl-3 ">
                25.12.19 - 28.12.19
                <br>
                <span class="bus-tours__mobile-description"> Дата </span>
            </div>
            <div class="hotel-tours__td col-xl-3">
                2 119 грн
                <span class="bus-tours__mobile-description"> Взрослые (от 16 лет) </span>
            </div>
            <div class="hotel-tours__td col-xl-3">
                2 041 грн
                <span class="bus-tours__mobile-description"> Дети (до 16 лет, на доп. месте) </span>
            </div>
            <div class="hotel-tours__td col-xl-3">
                <button class="btn btn-brand btn-brand--orange" data-toggle="modal"
                        data-target="#applicationModalmobile">Оставить заявку
                </button>
            </div>
        </div>
        <div class="hotel-tours__item slick-carousel-item">
            <div class="hotel-tours__td col-xl-3 ">
                25.12.19 - 28.12.19
                <br>
                <span class="bus-tours__mobile-description"> Дата </span>
            </div>
            <div class="hotel-tours__td col-xl-3">
                2 119 грн
                <span class="bus-tours__mobile-description"> Взрослые (от 16 лет) </span>
            </div>
            <div class="hotel-tours__td col-xl-3">
                2 041 грн
                <span class="bus-tours__mobile-description"> Дети (до 16 лет, на доп. месте) </span>
            </div>
            <div class="hotel-tours__td col-xl-3">
                <button class="btn btn-brand btn-brand--orange" data-toggle="modal"
                        data-target="#applicationModalmobile">Оставить заявку
                </button>
            </div>
        </div>
        <div class="hotel-tours__item slick-carousel-item">
            <div class="hotel-tours__td col-xl-3 ">
                25.12.19 - 28.12.19
                <br>
                <span class="bus-tours__mobile-description"> Дата </span>
            </div>
            <div class="hotel-tours__td col-xl-3">
                2 119 грн
                <span class="bus-tours__mobile-description"> Взрослые (от 16 лет) </span>
            </div>
            <div class="hotel-tours__td col-xl-3">
                2 041 грн
                <span class="bus-tours__mobile-description"> Дети (до 16 лет, на доп. месте) </span>
            </div>
            <div class="hotel-tours__td col-xl-3">
                <button class="btn btn-brand btn-brand--orange" data-toggle="modal"
                        data-target="#applicationModalmobile">Оставить заявку
                </button>
            </div>
        </div>
        <div class="hotel-tours__item slick-carousel-item">
            <div class="hotel-tours__td col-xl-3 ">
                25.12.19 - 28.12.19
                <br>
                <span class="bus-tours__mobile-description"> Дата </span>
            </div>
            <div class="hotel-tours__td col-xl-3">
                2 119 грн
                <span class="bus-tours__mobile-description"> Взрослые (от 16 лет) </span>
            </div>
            <div class="hotel-tours__td col-xl-3">
                2 041 грн
                <span class="bus-tours__mobile-description"> Дети (до 16 лет, на доп. месте) </span>
            </div>
            <div class="hotel-tours__td col-xl-3">
                <button class="btn btn-brand btn-brand--orange" data-toggle="modal"
                        data-target="#applicationModalmobile">Оставить заявку
                </button>
            </div>
        </div>
        <div class="hotel-tours__item slick-carousel-item">
            <div class="hotel-tours__td col-xl-3 ">
                25.12.19 - 28.12.19
                <br>
                <span class="bus-tours__mobile-description"> Дата </span>
            </div>
            <div class="hotel-tours__td col-xl-3">
                2 119 грн
                <span class="bus-tours__mobile-description"> Взрослые (от 16 лет) </span>
            </div>
            <div class="hotel-tours__td col-xl-3">
                2 041 грн
                <span class="bus-tours__mobile-description"> Дети (до 16 лет, на доп. месте) </span>
            </div>
            <div class="hotel-tours__td col-xl-3">
                <button class="btn btn-brand btn-brand--orange" data-toggle="modal"
                        data-target="#applicationModalmobile">Оставить заявку
                </button>
            </div>
        </div>
        <div class="hotel-tours__item slick-carousel-item">
            <div class="hotel-tours__td col-xl-3 ">
                25.12.19 - 28.12.19
                <br>
                <span class="bus-tours__mobile-description"> Дата </span>
            </div>
            <div class="hotel-tours__td col-xl-3">
                2 119 грн
                <span class="bus-tours__mobile-description"> Взрослые (от 16 лет) </span>
            </div>
            <div class="hotel-tours__td col-xl-3">
                2 041 грн
                <span class="bus-tours__mobile-description"> Дети (до 16 лет, на доп. месте) </span>
            </div>
            <div class="hotel-tours__td col-xl-3">
                <button class="btn btn-brand btn-brand--orange" data-toggle="modal"
                        data-target="#applicationModalmobile">Оставить заявку
                </button>
            </div>
        </div>
    </div>
    <div class="slick-navigation">
        <div class="js-dots"></div>
    </div>
</div>
<div class="bus-tours__wrap-footnote"><p class="bus-tours__footnote"><sup class="bus-tours__sup">* </sup>Стоимость
        тура не включает обязательный турпакет.</p>
    <p class="bus-tours__footnote"><sup class="bus-tours__sup">* </sup>Доплата за одноместное
        проживание - 20&nbsp;€</p></div>
