<div class="details-tour__info info-box js-fixed-mobile-order-offset-top">
    <div>
    <div class="info-box__heading">
        Информация о туре
    </div>
        
    </div>
    <ul class="info-box__facilities info-box__facilities--one-col">
        <li class="media">
            <svg class="svg-icon" width="16" height="16">
                <use xlink:href="Images/icons-search.svg#date2"></use>
            </svg>
            Вылет 21.10, 7 ночей
        </li>
        <li class="media">
            <svg class="svg-icon" width="16" height="16">
                <use xlink:href="Images/icons-search.svg#plane"></use>
            </svg>
            Днепропетровск
        </li>
        <li class="media">
            <svg class="svg-icon" width="16" height="16">
                <use xlink:href="Images/icons-search.svg#rooms"></use>
            </svg>
            Standard Room
        </li>
        <li class="media">
            <svg class="svg-icon" width="16" height="16">
                <use xlink:href="Images/icons-search.svg#food"></use>
            </svg>
            AI (все включено)
        </li>
    </ul>
    <div class="info-box__included">
        Включено
    </div>
    <div>Страховка, перелет, групповой трансфер</div>
    <div class="info-box__columns">
        <div class="info-box__price-wrap">
            <div class="info-box__price">
                18 750 <span>грн</span>
            </div>
            <span>за тур 2 взрослых</span>
        </div>
         <img class="info-box__logo lazyload" data-src="https://img.poehalisnami.ua/contentdata/operatorlogo/mouzenidis.png">
    </div>

        <div class="info-box__buttons">
            <button class="btn btn-brand btn-brand--orange" data-toggle="modal" data-target="#applicationModalmobile">Оставить заявку</button>
            {#<button class="btn btn-brand btn-brand--white">КУПИТЬ ТУР</button>#}
            <button class="btn btn-brand btn-brand--orange fixed-mobile-button js-mobile-popup-order" data-toggle="modal" data-target="#applicationModalmobile">Оставить заявку</button>
        </div>

</div>