<nav class="nav-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="#">Главная Турне</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Статьи</li>
  </ol>
</nav>
