<div class="row">
    <div class="col-12 col-md-6 col-lg-4 col-xl-4">
        <a href="https://www.poehalisnami.ua/blog/luchshie-restorani-sharm-el-sheiha" class="news-card">
            <div class="news-card__thumbnail responsive-thumbnail">
                <img class="objectFitCover lazyload"
                        data-src="https://img.poehalisnami.ua/contentdata/blog/e23998cf-ebde-44ec-9869-c6d00a72cb89/o32akiz1.tdg.jpg">
            </div>
            <div class="news-card__caption">
                <div class="news-card__heading">Самые дорогие города в Турции для отдыха</div>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-4">
        <a href="https://www.poehalisnami.ua/blog/luchshie-restorani-sharm-el-sheiha" class="news-card">
            <div class="news-card__thumbnail responsive-thumbnail">
                <img class="objectFitCover lazyload"
                     data-src="https://img.poehalisnami.ua/contentdata/blog/614c0a06-72ab-4d64-b5a1-2386854d0cd8/23emcto4.hzb.jpg">
            </div>
            <div class="news-card__caption">
                <div class="news-card__heading">Где лучше купить шубу в Турции?</div>
                <div class="news-card__text">В Турцию приезжают не только ради пляжного отдыха, знакомства с местной
                    кухней и осмотра …
                </div>
            </div>
        </a>
    </div>
    <div class="col-12 col-md-6 col-lg-4 col-xl-4">
        <a href="https://www.poehalisnami.ua/blog/luchshie-restorani-sharm-el-sheiha" class="news-card">
            <div class="news-card__thumbnail responsive-thumbnail">
                <img class="objectFitCover lazyload"
                     data-src="https://img.poehalisnami.ua/contentdata/blog/ae725db8-f5c4-4ed5-9777-95bfd62dc046/tkr11csw.3tc.jpg">
            </div>
            <div class="news-card__caption">
                <div class="news-card__heading">Какие египетские напитки стоит попробовать?</div>
                <div class="news-card__text">Украинцы полюбили турецкие курорты за их ценовую доступность,
                    доброжелательных местных жителей и …
                </div>
            </div>
        </a>
    </div>
</div>