<div class="row our-advantages__items">
	<div class="col-12 col-sm-6 col-md-6 col-xl-3">
		<div class="our-advantages__item">
			<div class="our-advantages__item-circle">
				<svg class="svg-icon" width="48" height="48">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/advantages-icons.svg#coins"></use>
				</svg>
			</div>
			<div class="our-advantages__item-text">
				Всегда актуальные цены
			</div>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-md-6 col-xl-3">
		<div class="our-advantages__item">
			<div class="our-advantages__item-circle">
				<svg class="svg-icon" width="48" height="48">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/advantages-icons.svg#cup"></use>
				</svg>
			</div>
			<div class="our-advantages__item-text">
				Туры от ведущих туроператоров Украины
			</div>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-md-6 col-xl-3">
		<div class="our-advantages__item">
			<div class="our-advantages__item-circle">
				<svg class="svg-icon" width="48" height="48">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/advantages-icons.svg#24-7"></use>
				</svg>
			</div>
			<div class="our-advantages__item-text">
				Онлайн-заказ туров 24/7
			</div>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-md-6 col-xl-3">
		<div class="our-advantages__item">
			<div class="our-advantages__item-circle">
				<svg class="svg-icon" width="48" height="48">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/advantages-icons.svg#search"></use>
				</svg>
			</div>
			<div class="our-advantages__item-text">
				Удобный поиск туров по всем туроператорам
			</div>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-md-6 col-xl-3">
		<div class="our-advantages__item">
			<div class="our-advantages__item-circle">
				<svg class="svg-icon" width="48" height="48">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/advantages-icons.svg#hotels-2"></use>
				</svg>
			</div>
			<div class="our-advantages__item-text">
				Самая полная база отелей с фото, описанием, отзывами
			</div>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-md-6 col-xl-3">
		<div class="our-advantages__item">
			<div class="our-advantages__item-circle">
				<svg class="svg-icon" width="48" height="48">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/advantages-icons.svg#expert"></use>
				</svg>
			</div>
			<div class="our-advantages__item-text">
				Индивидуальный подбор тура экспертом
			</div>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-md-6 col-xl-3">
		<div class="our-advantages__item">
			<div class="our-advantages__item-circle">
				<svg class="svg-icon" width="48" height="48">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/advantages-icons.svg#15-years"></use>
				</svg>
			</div>
			<div class="our-advantages__item-text">
				15 лет на рынке туризма в Украине
			</div>
		</div>
	</div>
	<div class="col-12 col-sm-6 col-md-6 col-xl-3">
		<div class="our-advantages__item">
			<div class="our-advantages__item-circle">
				<svg class="svg-icon" width="48" height="48">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/advantages-icons.svg#time"></use>
				</svg>
			</div>
			<div class="our-advantages__item-text">
				Экономия времени на выбор тура. Удобно. Быстро. Надежно.
			</div>
		</div>
	</div>
</div>
