<div class="row">
    <div class="col-12 col-md-6 col-xl-3 image-box__col">
        <div class="image-box">
            <a href="#" class="image-box__thumbnail responsive-thumbnail">
                <img class="objectFitCover lazyload"
                     data-src="Images/popular-destinations/egipet.jpg">
                <div class="lds-spinner"></div>
            </a>
            <div class="image-box__body">
                <a href="#" class="row no-gutters image-box__row">
                    <span class="col image-box__heading">
                        Египет
                    </span>
                    <span class="col image-box__price">
                        от 1 695 грн
                    </span>
                </a>
                <ul class="image-box__links">
                    <li>
                        <a href="#" target="_blank">Шарм-эль-Шейх</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Хургада</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Марса-Алам</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 image-box__col">
        <div class="image-box">
            <a href="#" class="image-box__thumbnail responsive-thumbnail">
                <img class="objectFitCover lazyload"
                     data-src="Images/popular-destinations/turciya.jpg">
                <div class="lds-spinner"></div>
            </a>
            <div class="image-box__body">
                <a href="#" class="row no-gutters image-box__row">
                    <span class="col image-box__heading">
                        Турция
                    </span>
                    <span class="col image-box__price">
                        от 6 999 грн
                    </span>
                </a>
                <ul class="image-box__links">
                    <li>
                        <a href="#" target="_blank">Сиде</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Кемер</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Аланья</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 image-box__col">
        <div class="image-box">
            <a href="#" class="image-box__thumbnail responsive-thumbnail">
                {#<img class="objectFitCover lazyload"
                     data-src="Images/popular-destinations/oae.jpg">#}
                <img class="objectFitCover lazyload" data-src="Images/no-photo-small.jpg">
                <div class="lds-spinner"></div>
            </a>
            <div class="image-box__body">
                <a href="#" class="row no-gutters image-box__row">
                    <span class="col image-box__heading">
                        ОАЭ
                    </span>
                    <span class="col image-box__price">
                        от 10 550 грн
                    </span>
                </a>
                <ul class="image-box__links">
                    <li>
                        <a href="#" target="_blank">Дубай</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Шарджа</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Рас-эль-Хайма</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 image-box__col">
        <div class="image-box">
            <a href="#" class="image-box__thumbnail responsive-thumbnail">
                <img class="objectFitCover lazyload"
                     data-src="Images/popular-destinations/tailand.jpg">
                <div class="lds-spinner"></div>
            </a>
            <div class="image-box__body">
                <a href="#" class="row no-gutters image-box__row">
                    <span class="col image-box__heading">
                        Тайланд
                    </span>
                    <span class="col image-box__price">
                        от 17 990 грн
                    </span>
                </a>
                <ul class="image-box__links">
                    <li>
                        <a href="#" target="_blank">Паттайяо</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Пхукето</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Самуи</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 image-box__col">
        <div class="image-box">
            <a href="#" class="image-box__thumbnail responsive-thumbnail">
                <img class="objectFitCover lazyload"
                     data-src="Images/popular-destinations/shri-lanka.jpg">
                <span class="lds-spinner"></span>
            </a>
            <div class="image-box__body">
                <a href="#" class="row no-gutters image-box__row">
                    <span class="col image-box__heading">
                        Шри-Ланка
                    </span>
                    <span class="col image-box__price">
                        от 16 900 грн
                    </span>
                </a>
                <ul class="image-box__links">
                    <li>
                        <a href="#" target="_blank">Хиккадува</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Когалла</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Унаватуна</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 image-box__col">
        <div class="image-box">
            <a href="#" class="image-box__thumbnail responsive-thumbnail">
                <img class="objectFitCover lazyload"
                     data-src="Images/popular-destinations/italiya.jpg">
                <div class="lds-spinner"></div>
            </a>
            <div class="image-box__body">
                <a href="#" class="row no-gutters image-box__row">
                    <div class="col image-box__heading">
                        Италия
                    </div>
                    <div class="col image-box__price">
                        от 8 100 грн
                    </div>
                </a>
                <ul class="image-box__links">
                    <li>
                        <a href="#" target="_blank">Рим</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Венеция</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Милан</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 image-box__col">
        <div class="image-box">
            <a href="#" class="image-box__thumbnail responsive-thumbnail">
                <img class="objectFitCover lazyload"
                     data-src="Images/popular-destinations/ispaniya.jpg">
                <div class="lds-spinner"></div>
            </a>
            <div class="image-box__body">
                <a href="#" class="row no-gutters image-box__row">
                    <div class="col image-box__heading">
                        Испания
                    </div>
                    <div class="col image-box__price">
                        от 12 300 грн
                    </div>
                </a>
                <ul class="image-box__links">
                    <li>
                        <a href="#" target="_blank">Барселона</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Тенерифе</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Салоу</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 image-box__col">
        <div class="image-box">
            <a href="#" class="image-box__thumbnail responsive-thumbnail">
                <img class="objectFitCover lazyload"
                     data-src="Images/popular-destinations/greciya.jpg">
                <div class="lds-spinner"></div>
            </a>
            <div class="image-box__body">
                <a href="#" class="row no-gutters image-box__row">
                    <div class="col image-box__heading">
                        Греция
                    </div>
                    <div class="col image-box__price">
                        от 8 600 грн
                    </div>
                </a>
                <ul class="image-box__links">
                    <li>
                        <a href="#" target="_blank">о. Крито</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Родосо</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Корфу</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>