<form action="/" class="row form-callback form-callback--center {{ formCallbackClass }}">
    <div class="col-12 col-md-6 col-xl-4 form-group">
        {% if mobile %}
            <svg class="form-callback__icon" width="24" height="24">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/communication-icons.svg#email"></use>
            </svg>
        {% endif %}
        <input type="email" class="form-callback__input form-control input-placeholder autoHide" placeholder="Укажите Ваш email">
        <span class="validation field-validation-valid"><span class="">Введите номер телефона</span></span>
    </div>
    <div class="col-12 col-md-3 col-xl-2 form-group">
        <input type="submit" class="btn btn-brand btn-brand--orange" value="ОТПРАВИТЬ">
    </div>
</form>