<section class="container countries-section">
    <h2 class="heading">Все страны</h2>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 countries-section__col">
            <a href="#" class="tour-card countries-card">
                <div class="tour-card__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="https://img.turne.com.ua/static/hotels/egipet/sharm-el-shejjkh/h585/small/booking585_1.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="tour-card__body countries-card__content">Египет<span class="countries-card__price"> от 13 700 грн</span>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 countries-section__col">
            <a href="#" class="tour-card countries-card">
                <div class="tour-card__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="https://img.turne.com.ua/static/hotels/egipet/sharm-el-shejjkh/h585/small/booking585_1.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="tour-card__body countries-card__content">Египет<span class="countries-card__price"> от 13 700 грн</span>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 countries-section__col">
            <a href="#" class="tour-card countries-card">
                <div class="tour-card__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="https://img.turne.com.ua/static/hotels/egipet/sharm-el-shejjkh/h585/small/booking585_1.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="tour-card__body countries-card__content">Египет<span class="countries-card__price"> от 13 700 грн</span>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 countries-section__col">
            <a href="#" class="tour-card countries-card">
                <div class="tour-card__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="https://img.turne.com.ua/static/hotels/egipet/sharm-el-shejjkh/h585/small/booking585_1.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="tour-card__body countries-card__content">Египет<span class="countries-card__price"> от 13 700 грн</span>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 countries-section__col">
            <a href="#" class="tour-card countries-card">
                <div class="tour-card__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="https://img.turne.com.ua/static/hotels/egipet/sharm-el-shejjkh/h585/small/booking585_1.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="tour-card__body countries-card__content">Египет<span class="countries-card__price"> от 13 700 грн</span>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 countries-section__col">
            <a href="#" class="tour-card countries-card">
                <div class="tour-card__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="https://img.turne.com.ua/static/hotels/egipet/sharm-el-shejjkh/h585/small/booking585_1.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="tour-card__body countries-card__content">Египет<span class="countries-card__price"> от 13 700 грн</span>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 countries-section__col">
            <a href="#" class="tour-card countries-card">
                <div class="tour-card__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="https://img.turne.com.ua/static/hotels/egipet/sharm-el-shejjkh/h585/small/booking585_1.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="tour-card__body countries-card__content">Египет<span class="countries-card__price"> от 13 700 грн</span>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 countries-section__col">
            <a href="#" class="tour-card countries-card">
                <div class="tour-card__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="https://img.turne.com.ua/static/hotels/egipet/sharm-el-shejjkh/h585/small/booking585_1.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="tour-card__body countries-card__content">Египет<span class="countries-card__price"> от 13 700 грн</span>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 countries-section__col">
            <a href="#" class="tour-card countries-card">
                <div class="tour-card__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="https://img.turne.com.ua/static/hotels/egipet/sharm-el-shejjkh/h585/small/booking585_1.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="tour-card__body countries-card__content">Египет<span class="countries-card__price"> от 13 700 грн</span>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 countries-section__col">
            <a href="#" class="tour-card countries-card">
                <div class="tour-card__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="https://img.turne.com.ua/static/hotels/egipet/sharm-el-shejjkh/h585/small/booking585_1.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="tour-card__body countries-card__content">Египет<span class="countries-card__price"> от 13 700 грн</span>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 countries-section__col">
            <a href="#" class="tour-card countries-card">
                <div class="tour-card__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="https://img.turne.com.ua/static/hotels/egipet/sharm-el-shejjkh/h585/small/booking585_1.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="tour-card__body countries-card__content">Египет<span class="countries-card__price"> от 13 700 грн</span>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 countries-section__col">
            <a href="#" class="tour-card countries-card">
                <div class="tour-card__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="https://img.turne.com.ua/static/hotels/egipet/sharm-el-shejjkh/h585/small/booking585_1.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="tour-card__body countries-card__content">Египет<span class="countries-card__price"> от 13 700 грн</span>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 countries-section__col">
            <a href="#" class="tour-card countries-card">
                <div class="tour-card__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="https://img.turne.com.ua/static/hotels/egipet/sharm-el-shejjkh/h585/small/booking585_1.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="tour-card__body countries-card__content">Египет<span class="countries-card__price"> от 13 700 грн</span>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 countries-section__col">
            <a href="#" class="tour-card countries-card">
                <div class="tour-card__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="https://img.turne.com.ua/static/hotels/egipet/sharm-el-shejjkh/h585/small/booking585_1.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="tour-card__body countries-card__content">Египет<span class="countries-card__price"> от 13 700 грн</span>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 countries-section__col">
            <a href="#" class="tour-card countries-card">
                <div class="tour-card__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="https://img.turne.com.ua/static/hotels/egipet/sharm-el-shejjkh/h585/small/booking585_1.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="tour-card__body countries-card__content">Египет<span class="countries-card__price"> от 13 700 грн</span>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-3 countries-section__col">
            <a href="#" class="tour-card countries-card">
                <div class="tour-card__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="https://img.turne.com.ua/static/hotels/egipet/sharm-el-shejjkh/h585/small/booking585_1.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="tour-card__body countries-card__content">Египет<span class="countries-card__price"> от 13 700 грн</span>
                </div>
            </a>
        </div>
    </div>
</section>
