<div class="vertical-filter__title" data-toggle="collapse" data-target="#collapseFacilities" aria-expanded="true" aria-controls="collapseFacilities">
	Удобства
	<div class="verticalFilter__selected-text"></div>
	<div class="filter-dropdown-arrow arrow-icon"></div>
</div>
<div class="collapse show collapseFacilities" id="collapseFacilities">
	<div class="vertical-filter__content">
		<div class="vertical-filter__scroll">
			<label class="brand-checkbox">
				<input type="checkbox">
				<span class="brand-checkbox__media"></span>
				<span class="brand-checkbox__inner">
					Wi-fi (на территории) бесплатно
				</span>
			</label>
			<label class="brand-checkbox">
				<input type="checkbox">
				<span class="brand-checkbox__media"></span>
				<span class="brand-checkbox__inner">
					 Wi-fi (в номере) бесплатно
				</span>
			</label>
			<label class="brand-checkbox">
				<input type="checkbox">
				<span class="brand-checkbox__media"></span>
				<span class="brand-checkbox__inner">
					Анимация
				</span>
			</label>
			<label class="brand-checkbox">
				<input type="checkbox">
				<span class="brand-checkbox__media"></span>
				<span class="brand-checkbox__inner">
					Дискотека
				</span>
			</label>
            <label class="brand-checkbox">
				<input type="checkbox">
				<span class="brand-checkbox__media"></span>
				<span class="brand-checkbox__inner">
					Сауна
				</span>
			</label>
            <label class="brand-checkbox">
				<input type="checkbox">
				<span class="brand-checkbox__media"></span>
				<span class="brand-checkbox__inner">
					Тренажерный зал
				</span>
			</label>
            <label class="brand-checkbox">
				<input type="checkbox">
				<span class="brand-checkbox__media"></span>
				<span class="brand-checkbox__inner">
					Массаж
				</span>
			</label>
            <label class="brand-checkbox">
				<input type="checkbox">
				<span class="brand-checkbox__media"></span>
				<span class="brand-checkbox__inner">
					Детское меню
				</span>
			</label>
            <label class="brand-checkbox">
				<input type="checkbox">
				<span class="brand-checkbox__media"></span>
				<span class="brand-checkbox__inner">
					Теннисный корт
				</span>
			</label>
            <label class="brand-checkbox">
				<input type="checkbox">
				<span class="brand-checkbox__media"></span>
				<span class="brand-checkbox__inner">
					Аквапарк
				</span>
			</label>
		</div>
	</div>
</div>
