<div class="vertical-filter jsHotToursVerticalFilter">
	<div class="vertical-filter__header">
		<button class="vertical-filter__back back-icon jsCloseFilters"></button>
		<span>Фильтры</span>
	</div>
	<div class="vertical-filter__container">
		<div class="vertical-filter__section">
			<div class="vertical-filter__content js-selected-filters">
				{% include "selected-filters.twig" %}
			</div>
		</div>
		<div id="hotels__hotelClass-filter" class="vertical-filter__section">
			{% include 'dropdown-hotel.twig' %}
		</div>
		<div id="hotels__Sealine-filter" class="vertical-filter__section">
			{% include 'sea-line-dropdown.twig' %}
		</div>
		<div id="hotels__beach-filter" class="vertical-filter__section">
			{% include 'beach-dropdown.twig' %}
		</div>
		<div id="hotels__beach-filter" class="vertical-filter__section">
			{% include 'facilities-dropdown.twig' %}
		</div>
	</div>
	<div class="vertical-filter__buttons">
		<button class="btn btn-brand btn-brand--orange jsApplyAllFilters">ПРИМЕНИТЬ</button>
		<button type="button" class="btn btn-brand vertical-filter__reset jsBottomClearAllFilters">Очистить фильтры</button>
	</div>
</div>
<div class="sidebar-box">
	<div class="sidebar-box__heading">
		Курорты Египта
	</div>
	<div class="sidebar-box__content">
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<div class="sidebar-box__text">
					Шарм-эль-Шейх
					<br>
					<span class="sidebar-box__price">
						от 15 688 грн
					</span>
				</div>
				<div class="sidebar-box__weather">
					31℃
					<svg class="sidebar-icon" width="24" height="24">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#sun"></use>
					</svg>
				</div>
			</a>
		</div>
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<div class="sidebar-box__text">
					Шарм-эль-Шейх
					<br>
					<span class="sidebar-box__price">
						от 15 688 грн
					</span>
				</div>
				<div class="sidebar-box__weather">
					31℃
					<svg class="sidebar-icon" width="24" height="24">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#sun"></use>
					</svg>
				</div>
			</a>
		</div>
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<div class="sidebar-box__text">
					Шарм-эль-Шейх
					<br>
					<span class="sidebar-box__price">
						от 15 688 грн
					</span>
				</div>
				<div class="sidebar-box__weather">
					31℃
					<svg class="sidebar-icon" width="24" height="24">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#sun"></use>
					</svg>
				</div>
			</a>
		</div>
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<div class="sidebar-box__text">
					Шарм-эль-Шейх
					<br>
					<span class="sidebar-box__price">
						от 15 688 грн
					</span>
				</div>
				<div class="sidebar-box__weather">
					31℃
					<svg class="sidebar-icon" width="24" height="24">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#sun-cloud"></use>
					</svg>
				</div>
			</a>
		</div>
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<div class="sidebar-box__text">
					Шарм-эль-Шейх
					<br>
					<span class="sidebar-box__price">
						от 15 688 грн
					</span>
				</div>
				<div class="sidebar-box__weather">
					31℃
					<svg class="sidebar-icon" width="24" height="24">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#cloud"></use>
					</svg>
				</div>
			</a>
		</div>
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<div class="sidebar-box__text">
					Шарм-эль-Шейх
					<br>
					<span class="sidebar-box__price">
						от 15 688 грн
					</span>
				</div>
				<div class="sidebar-box__weather">
					31℃
					<svg class="sidebar-icon" width="24" height="24">
						<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#sun"></use>
					</svg>
				</div>
			</a>
		</div>
		<div class="sidebar-box__item">
			<a href="resorts-country.html" class="sidebar-box__link">
				<span class="sidebar-box__text">Все курорты</span>
			</a>
		</div>
	</div>
</div>
<div class="sidebar-box ">
	<div class="sidebar-box__heading">
		Отдых в Египте
	</div>
	<div class="sidebar-box__content">
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<svg class="sidebar-icon" width="24" height="24">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#transport"></use>
				</svg>
				<span class="sidebar-box__text">
					Туры в Египет
				</span>
			</a>
		</div>
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<svg class="sidebar-icon" width="24" height="24">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#suggestion2"></use>
				</svg>
				<span class="sidebar-box__text">
					Отзывы об отелях Египта
				</span>
			</a>
		</div>
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<svg class="sidebar-icon" width="24" height="24">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#visa"></use>
				</svg>
				<span class="sidebar-box__text">
					Виза в Египет
				</span>
			</a>
		</div>
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<svg class="sidebar-icon" width="24" height="24">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#dost"></use>
				</svg>
				<span class="sidebar-box__text">
					Достопримечательности Египта
				</span>
			</a>
		</div>
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<svg class="sidebar-icon" width="24" height="24">
					<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#weather"></use>
				</svg>
				<span class="sidebar-box__text">
					Погода в Египте
				</span>
			</a>
		</div>
	</div>
</div>
<div class="sidebar-box">
	<div class="sidebar-box__heading">
		Популярные направления по отелям
	</div>
	<div class="sidebar-box__content">
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<span class="sidebar-icon sprite-flag sprite-flag--egipet"></span>
				<div class="sidebar-box__text">
					Отели Египта
				</div>
			</a>
		</div>
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<span class="sidebar-icon sprite-flag sprite-flag--tunis"></span>
				<div class="sidebar-box__text">
					Отели Туниса
				</div>
			</a>
		</div>
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<span class="sidebar-icon sprite-flag sprite-flag--greciya"></span>
				<div class="sidebar-box__text">
					Отели Греции
				</div>
			</a>
		</div>
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<span class="sidebar-icon sprite-flag sprite-flag--kipr"></span>
				<div class="sidebar-box__text">
					Отели Кипра
				</div>
			</a>
		</div>
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<span class="sidebar-icon sprite-flag sprite-flag--bolgariya"></span>
				<div class="sidebar-box__text">
					Отели Болгарии
				</div>
			</a>
		</div>
		<div class="sidebar-box__item">
			<a href="#" class="sidebar-box__link">
				<span class="sidebar-icon sprite-flag sprite-flag--khorvatiya"></span>
				<div class="sidebar-box__text">
					Отели Хорватии
				</div>
			</a>
		</div>
	</div>
</div>
