
<div class="vertical-filter__title" data-toggle="collapse" data-target="#collapseSealine" aria-expanded="true" aria-controls="collapseSealine">
  Линия моря
  <div class="verticalFilter__selected-text"></div>
  <div class="filter-dropdown-arrow arrow-icon"></div>
</div>
<div class="collapse show collapseSealine" id="collapseSealine">
  <div class="vertical-filter__content">
    <div class="vertical-filter__scroll">
      <label class="brand-checkbox">
        <input type="checkbox" checked>
        <span class="brand-checkbox__media"></span>
        <span class="brand-checkbox__inner">
          1-я линия
        </span>
      </label>
      <label class="brand-checkbox">
        <input type="checkbox">
        <span class="brand-checkbox__media"></span>
        <span class="brand-checkbox__inner">
          2я линия
        </span>
      </label>

    </div>
  </div>
</div>


