<div class="selected-filters__header">
    <div class="selected-filters__title">
        Выбранные
    </div>
    <button class="selected-filters__clearAll js-clearAll">
        Очистить
    </button>
</div>
<div class="selected-filters__content">
        <span data-group-id="">
            <button class="selected-filters__item jsSelectedFilterClose">Фавориты сети
                <span class="selected-filters__close">
                    <svg class="n-svg-icon" width="24" height="24">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="Images/icons-search.svg#arrow-close"></use>
                     </svg>
                </span>
            </button>
            <button class="selected-filters__item jsSelectedFilterClose">1ая линия
                <span class="selected-filters__close">
                    <svg class="n-svg-icon" width="24" height="24">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                             xlink:href="Images/icons-search.svg#arrow-close"></use>
                     </svg>
                </span>
            </button>
        </span>
</div>