<div class="agency-wrapper">
    <div class="agency-card">
        <div class="agency-card__logo">
            <img src="Images/anex-tour-agency.jpg" alt="">
        </div>
        <div class="agency-card__body">
            <div class="agency-card__street">
                <svg class="agency-card__icon" width="16" height="16">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/communication-icons.svg#address"></use>
                </svg>
                Киев, ул. Эспланадная 32 ,оф 1
            </div>
            <div class="agency-card__phone">
                <svg class="agency-card__icon" width="16" height="16">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/communication-icons.svg#phone3"></use>
                </svg>
                (093) 161-45-28,
                <br>
                (063) 690-54-04 (viber)
            </div>
            <div class="agency-card__email">
                <svg class="agency-card__icon" width="16" height="16">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/communication-icons.svg#email2"></use>
                </svg>
                gelevera93@gmail.com
            </div>
            <a href='#' class="agency-card__web">
                <svg class="agency-card__icon" width="16" height="16">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/communication-icons.svg#web"></use>
                </svg>
                https://www.anex-agency.com.ua
            </a>
            <a href='#' class="agency-card__web">
                <svg class="agency-card__icon" width="16" height="16">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#facebook"></use>
                </svg>
                facebook.com/agencymzt
            </a>
            <a href='#' class="agency-card__web">
                <svg class="agency-card__icon" width="16" height="16">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#instagram"></use>
                </svg>
                Instagram.com.ua/agencymzt
            </a>
            <a href='#' class="agency-card__web">
                <svg class="agency-card__icon" width="16" height="16">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#telegram"></use>
                </svg>
                t.me/agencymzt
            </a>
        </div>
    </div>
    <div id="mapForPage" class="agency__map"></div>
</div>