<section class="city-from__section">
	<div class="row city-from__row">
		<div>
			<a href="#" class="city-from__item">Туры в Грецию</a>
		</div>
		<div>
			<a href="#" class="city-from__item">Туры в Грузию</a>
		</div>
		<div>
			<a href="#" class="city-from__item">Туры в Египет</a>
		</div>
		<div>
			<a href="#" class="city-from__item">Туры в Италию</a>
		</div>
		<div>
			<a href="#" class="city-from__item">Туры в Катар</a>
		</div>
		<div>
			<a href="#" class="city-from__item">Туры на Кипр</a>
		</div>
		<div>
			<a href="#" class="city-from__item">Туры на Кубу</a>
		</div>
		<div>
			<a href="#" class="city-from__item">Туры в Турцию</a>
		</div>
		<div>
			<a href="#" class="city-from__item">Туры на Шри-Ланку</a>
		</div>
	</div>
	<p>
		Информация о «Поехали с нами». Компания «Поехали с нами» работает с 2004 года на рынке туризма Украины. С 2008 года компания стала успешно развивать франчайзинговую Сеть «Поехали с нами». На данный момент в Сети работает более 200 офисов в 66-ти городах Украины, что позволяет компании занимать лидирующие позиции на рынке туризма в Украине. Клиентами компании уже стали более 310 000 людей и ежедневно эта цифра увеличивается в среднем на 400 человек. 45% туристов рекомендуют компанию своим друзьям и знакомым, что является высшей степенью доверия. Многие из них (около 40%) являются постоянными клиентами, которые снова и снова доверяют свой отдых сети «Поеали с нами»! Особенностью Сети «Поехали с нами» является высококачественное обслуживание туристов, которое достигается следующим образом: - Внедрены стандарты обслуживания клиентов, которые позволяют оптимально точно организовать отдых туристу, на который он рассчитывает; - Качественное послепродажное обслуживание клиентов с помощью СРМ системы; - Постоянное обучение менеджеров по направлениям и отельным базам; - Постоянный контроль над работой менеджеров на предмет качества обслуживания туристов; - Предложение клиентам только проверенных отелей: от экономичных до VIP уровня по всему миру, только от надежных операторов; - Постоянное наличие горящих предложений; Отдохните с «Поехали с нами», Вы это заслужили!
	</p>
</section>
