<div class="row">
    <div class="col-12 col-md-6 col-lg-12 col-xl-12 search-tour-col">
        <div class="search-card">
            <a href="#" class="search-card__image responsive-thumbnail">
                <div class="top-sales">
                    Топ продаж
                </div>
                <img class="objectFitCover lazyload"
                     data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h3473/small/4b7a3623-479e-40c6-901c-541b01350d21.jpg">
                <div class="lds-spinner"></div>
            </a>
            <div class="search-card__inner">
                <div class="search-card__body">
                    <div class="search-card__content">
                        <a href="{{ hotelDetailLink }}" class="search-card__heading">
                            Hedef Beach Resort &amp; Spa, <span>4 <svg class="svg-icon svg-icon--rating" width="10" height="10"
                                                                 fill="#f08c36">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg></span>
                        </a>
                        <div class="search-card__fromTo">
                            Египет, Шарм-эль-Шейх
                        </div>

                        <img class="search-card__logo lazyload"
                             data-src="https://img.turne.com.ua/static/turne/companies/c188/orig/anextour_188_636758282336971965.png"
                             alt="">

                        <div class="search-card__duration">
                            <div class="media">
                                <svg class="search-card__icon" width="16" height="16">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="Images/icons-search.svg#date2"></use>
                                </svg>
                                C 30.09 по 07.10 (7 ночей)
                            </div>
                            <div class="media">
                                <svg class="search-card__icon" width="16" height="16">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="Images/icons-search.svg#food"></use>
                                </svg>
                                Все включено
                            </div>
                            <div class="media">
                                <svg class="search-card__icon" width="16" height="16">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="Images/icons-search.svg#plane"></use>
                                </svg>
                                Перелет включен (из Киева)
                            </div>
                        </div>
                    </div>
                    <div class="search-card__description">
                        Расположен на возвышенности, на второй береговой линии. Состоит из 2 корпусов (двухэтажного и
                        трехэтажного). Имеет небольшую ухоженную территорию с 2-мя бассейнами, барами, ресторанами,
                        зонами для спортивных игр и отдыха...
                    </div>
                </div>
                <div class="search-card__review-block">
                    <a href="" class="search-card__review-score">
                        <svg class="radial-progress-bar" width="58" height="58" viewbox="0 0 58 58"
                             style="stroke-dasharray: 109.2, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">3.9/5</text>
                        </svg>
                        <span>27 отзывов</span>
                    </a>
                    <div class="search-card__price">
                        <div class="search-card__price-content">
                            <span>
                                <span class="search-card__tour-price">17 372</span> грн
                            </span>
                            за 2 взрослых
                        </div>
                        <a href="#" class="btn btn-brand btn-brand--orange search-card__btn">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-12 col-xl-12 search-tour-col">
        <div class="search-card">
            <a href="#" class="search-card__image responsive-thumbnail">
                <div class="recommended-badge">
                    Рекомендуем
                </div>
                {#<img class="objectFitCover lazyload"
                     data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h3473/small/4b7a3623-479e-40c6-901c-541b01350d21.jpg">#}
                <img class="objectFitCover lazyload"
                     data-src="Images/no-photo-small.jpg">
                <div class="lds-spinner"></div>
            </a>
            <div class="search-card__inner">
                <div class="search-card__body">
                    <div class="search-card__content">
                        <a href="#" class="search-card__heading">
                            Royal Ideal Beach Hotel, <span>4 <svg class="svg-icon svg-icon--rating" width="10" height="10"
                                                                       fill="#f08c36">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg></span>
                        </a>
                        <div class="search-card__fromTo">
                            Египет, Шарм-эль-Шейх
                        </div>

                        <img class="search-card__logo lazyload"
                             data-src="https://img.poehalisnami.ua/contentdata/operatorlogo//anex-tour.png" alt="">

                        <div class="search-card__duration">
                            <div class="media">
                                <svg class="search-card__icon" width="16" height="16">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="Images/icons-search.svg#date2"></use>
                                </svg>
                                C 30.09 по 07.10 (7 ночей)
                            </div>
                            <div class="media">
                                <svg class="search-card__icon" width="16" height="16">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="Images/icons-search.svg#food"></use>
                                </svg>
                                Все включено
                            </div>
                            <div class="media">
                                <svg class="search-card__icon" width="16" height="16">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="Images/icons-search.svg#plane"></use>
                                </svg>
                                Перелет включен (из Киева)
                            </div>
                        </div>
                    </div>
                    <div class="search-card__description">
                        2 пляжа, арендуемых отелем (коралловый El Fanar - расстояние 5 км, и песчаный - Marhaba 10 км).
                    </div>
                </div>
                <div class="search-card__review-block">
                    <a href="" class="search-card__review-score">
                        <svg class="radial-progress-bar" width="58" height="58" viewbox="0 0 58 58"
                             style="stroke-dasharray: 109.2, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">3.9/5</text>
                        </svg>
                        <span>27 отзывов</span>
                    </a>
                    <div class="search-card__price">
                        <div class="search-card__price-content">
                            <span>
                                <span class="search-card__tour-price">17 372</span> грн
                            </span>
                            за 2 взрослых
                        </div>
                        <a href="#" class="btn btn-brand btn-brand--orange search-card__btn">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-12 search-tour-col">
        {% include "../search-tours-modules/form-callback.twig" %}
    </div>
    <div class="col-12 col-md-6 col-lg-12 col-xl-12 search-tour-col">
        <div class="search-card">
            <a href="#" class="search-card__image responsive-thumbnail">
                <div class="top-sales">
                    Топ продаж
                </div>
                <img class="objectFitCover lazyload"
                     data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h3473/small/4b7a3623-479e-40c6-901c-541b01350d21.jpg">
                <div class="lds-spinner"></div>
            </a>
            <div class="search-card__inner">
                <div class="search-card__body">
                    <div class="search-card__content">
                        <a href="#" class="search-card__heading">
                            Z Hotels Side Town Hotel,&nbsp;<span>4 <svg
                                        class="svg-icon svg-icon--rating" width="10" height="10"
                                        fill="#f08c36">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg></span>
                        </a>
                        <div class="search-card__fromTo">
                            Египет, Шарм-эль-Шейх
                        </div>

                        <img class="search-card__logo lazyload"
                             data-src="https://img.turne.com.ua/static/turne/companies/c1219/orig/dzhoin_ap_yaskravijj_turoperator_1219_636758236899612950.jpg"
                             alt="">

                        <div class="search-card__duration">
                            <div class="media">
                                <svg class="search-card__icon" width="16" height="16">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="Images/icons-search.svg#date2"></use>
                                </svg>
                                C 30.09 по 07.10 (7 ночей)
                            </div>
                            <div class="media">
                                <svg class="search-card__icon" width="16" height="16">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="Images/icons-search.svg#food"></use>
                                </svg>
                                Все включено
                            </div>
                            <div class="media">
                                <svg class="search-card__icon" width="16" height="16">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="Images/icons-search.svg#plane"></use>
                                </svg>
                                Перелет включен (из Киева)
                            </div>
                        </div>
                    </div>
                    <div class="search-card__description">
                        Отель FARAANA HEIGHTS 4* расположен в крайней северной точке района NABQ BAY курорта
                        Шарм-эль-Шейх. Отель находится на небольшой возвышенности, откуда открывается превосходный
                        панорамный вид на залив...
                    </div>
                </div>
                <div class="search-card__review-block">
                    <a href="" class="search-card__review-score">
                        <svg class="radial-progress-bar" width="58" height="58" viewbox="0 0 58 58"
                             style="stroke-dasharray: 109.2, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">3.9/5</text>
                        </svg>
                        <span>27 отзывов</span>
                    </a>
                    <div class="search-card__price">
                        <div class="search-card__price-content">
                            <span>
                                <span class="search-card__tour-price">170 372</span> грн
                            </span>
                            за 2 взрослых
                        </div>
                        <a href="#" class="btn btn-brand btn-brand--orange search-card__btn">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-12 col-xl-12 search-tour-col">
        <div class="search-card">
            <a href="#" class="search-card__image responsive-thumbnail">
                <div class="top-sales">
                    Топ продаж
                </div>
                <img class="objectFitCover lazyload"
                     data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h600/small/booking600_14.jpg">
                <div class="lds-spinner"></div>
            </a>
            <div class="search-card__inner">
                <div class="search-card__body">
                    <div class="search-card__content">
                        <a href="#" class="search-card__heading">
                            Xperia Grand Bali (ex. Grand Bali),&nbsp;<span>4 <svg
                                        class="svg-icon svg-icon--rating" width="10" height="10"
                                        fill="#f08c36">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg></span>
                        </a>
                        <div class="search-card__fromTo">
                            Египет, Шарм-эль-Шейх
                        </div>

                        <img class="search-card__logo lazyload"
                             data-src="https://img.poehalisnami.ua/contentdata/operatorlogo//1000dorog.png" alt="">

                        <div class="search-card__duration">
                            <div class="media">
                                <svg class="search-card__icon" width="16" height="16">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="Images/icons-search.svg#date2"></use>
                                </svg>
                                C 30.09 по 07.10 (7 ночей)
                            </div>
                            <div class="media">
                                <svg class="search-card__icon" width="16" height="16">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="Images/icons-search.svg#food"></use>
                                </svg>
                                Все включено
                            </div>
                            <div class="media">
                                <svg class="search-card__icon" width="16" height="16">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="Images/icons-search.svg#plane"></use>
                                </svg>
                                Перелет включен (из Киева)
                            </div>
                        </div>
                    </div>
                    <div class="search-card__description">
                        Отель FARAANA HEIGHTS 4* расположен в крайней северной точке района NABQ BAY курорта
                        Шарм-эль-Шейх. Отель находится на небольшой возвышенности, откуда открывается превосходный
                        панорамный вид на залив...
                    </div>
                </div>
                <div class="search-card__review-block">
                    <a href="" class="search-card__review-score">
                        <svg class="radial-progress-bar" width="58" height="58" viewbox="0 0 58 58"
                             style="stroke-dasharray: 109.2, 140">
                            <use href="#progressbar"></use>
                            <text text-anchor="middle" x="50%" y="34" fill="#0D0F0F">3.9/5</text>
                        </svg>
                        <span>27 отзывов</span>
                    </a>
                    <div class="search-card__price">
                        <div class="search-card__price-content">
                            <span>
                                <span class="search-card__tour-price">100 372</span> грн
                            </span>
                            за 2 взрослых
                        </div>
                        <a href="#" class="btn btn-brand btn-brand--orange search-card__btn">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-12 search-tour-col">
        {% include "../search-tours-modules/form-callback.twig" %}
    </div>
    <div class="col-12 col-md-6 col-lg-12 col-xl-12 search-tour-col">
        <div class="search-card">
            <a href="#" class="search-card__image responsive-thumbnail">
                <div class="top-sales">
                    Топ продаж
                </div>
                <img class="objectFitCover lazyload"
                     data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h600/small/booking600_14.jpg">
                <div class="lds-spinner"></div>
            </a>
            <div class="search-card__inner">
                <div class="search-card__body">
                    <div class="search-card__content">
                        <a href="#" class="search-card__heading">
                            Armas Gul Beach Hotel (ex. Otium Gul Beach Resort), <span>5 <svg class="svg-icon svg-icon--rating" width="10" height="10"
                                                                                                  fill="#f08c36">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg></span>
                        </a>
                        <div class="search-card__fromTo">
                            Египет, Шарм-эль-Шейх
                        </div>

                        <img class="search-card__logo lazyload"
                             data-src="https://img.poehalisnami.ua/contentdata/operatorlogo//tourist-club.png" alt="">

                        <div class="search-card__duration">
                            <div class="media">
                                <svg class="search-card__icon" width="16" height="16">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="Images/icons-search.svg#date2"></use>
                                </svg>
                                C 30.09 по 07.10 (7 ночей)
                            </div>
                            <div class="media">
                                <svg class="search-card__icon" width="16" height="16">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="Images/icons-search.svg#food"></use>
                                </svg>
                                Все включено
                            </div>
                            <div class="media">
                                <svg class="search-card__icon" width="16" height="16">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="Images/icons-search.svg#plane"></use>
                                </svg>
                                Перелет включен (из Киева)
                            </div>
                        </div>
                    </div>
                    <div class="search-card__description">
                        2 пляжа, арендуемых отелем (коралловый El Fanar - расстояние 5 км, и песчаный - Marhaba 10 км).
                    </div>
                </div>
                <div class="search-card__review-block">
                    <div class="search-card__price">
                        <div class="search-card__price-content">
                            <span>
                                <span class="search-card__tour-price">1 737</span> грн
                            </span>
                            за 2 взрослых
                        </div>
                        <a href="#" class="btn btn-brand btn-brand--orange search-card__btn">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-12 col-xl-12 search-tour-col">
        <div class="search-card">
            <a href="#" class="search-card__image responsive-thumbnail">
                <div class="top-sales">
                    Топ продаж
                </div>
                <img class="objectFitCover lazyload"
                     data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h600/small/booking600_14.jpg">
                <div class="lds-spinner"></div>
            </a>
            <div class="search-card__inner">
                <div class="search-card__body">
                    <div class="search-card__content">
                        <a href="#" class="search-card__heading">
                            Sharm Inn Amarein, <span>4 <svg
                                        class="svg-icon svg-icon--rating" width="10" height="10"
                                        fill="#f08c36">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                     xlink:href="Images/icons-search.svg#rating"></use>
                            </svg></span>
                        </a>
                        <div class="search-card__fromTo" style="margin-bottom: 0">
                            Египет, Шарм-эль-Шейх
                        </div>

                        <img class="search-card__logo lazyload"
                             data-src="https://img.poehalisnami.ua/contentdata/operatorlogo/alf-8.png" alt="">
                        <div class="search-card__duration">
                            <div class="media">
                                <svg class="search-card__icon" width="16" height="16">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="Images/icons-search.svg#date2"></use>
                                </svg>
                                C 30.09 по 07.10 (7 ночей)
                            </div>
                            <div class="media">
                                <svg class="search-card__icon" width="16" height="16">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="Images/icons-search.svg#food"></use>
                                </svg>
                                Все включено
                            </div>
                            <div class="media">
                                <svg class="search-card__icon" width="16" height="16">
                                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                         xlink:href="Images/icons-search.svg#plane"></use>
                                </svg>
                                Перелет включен (из Киева)
                            </div>
                        </div>
                    </div>
                    <div class="search-card__description">
                        2 пляжа, арендуемых отелем (коралловый El Fanar - расстояние 5 км, и песчаный - Marhaba 10 км).
                    </div>
                </div>
                <div class="search-card__review-block">
                    <div class="search-card__price">
                        <div class="search-card__price-content">
                            <span>
                                <span class="search-card__tour-price">26 372</span> грн
                            </span>
                            за 2 взрослых
                        </div>
                        <a href="#" class="btn btn-brand btn-brand--orange search-card__btn">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a class="btn btn-brand btn-brand--white btn-brand--rounded btn--show-all" href="#">Показать еще</a>