<div class="screen screen-search">
  <img class="screen__bg objectFitCover lazyload" data-src="Images/Main.jpg" alt="">
  <div class="screen-search__content container">
    {% include "../components/breadcrumbs/breadcrumbs.twig" %}
    <div class="screen-search__row">
      <h1 class="screen-search__heading">
        Туры в Египет
      </h1>
    </div>
    {% include "../components/full-search-form/full-search-form.twig" %}
  </div>

</div>
