{% extends "layouts/default.twig" %}
{% set mobile = "" %}
{% if mobile %}
	{% set toggleMobileText = "Полная версия" %}
	{% set toggleMobileLink = "articles-detail.html" %}
{% else %}
	{% set toggleMobileText = "Мобильная версия" %}
	{% set toggleMobileLink = "articles-detail_mobile.html" %}
{% endif %}

{% block searchStyle %}
	<link href="css/bundle/searchStyle.css?v=113" rel="stylesheet"/>
{% endblock %}
{% block head %}
	<link href="css/articles-detail.css?v=113" rel="stylesheet"/>
{% endblock %}

{% block scripts %}{% endblock %}

{% block content %}
	<div class="container">
		{% include "./articles-detail-modules/breadcrumbs.twig" %}
		<h2 class="heading">
			Что привезти из Египта?
		</h2>
		<div class="article">
			<div class="article-wrapper">
				<div class="article-container">
					<div class="article-inner">
						<div class="article-header">
							<div class="article-date">
								23.01.2020
							</div>
							<div class="article-name">
								Исландия
							</div>
						</div>
						{% include "./articles-detail-modules/article-content/island-page.twig" %}
					</div>
					<div class="article-sidebar">
						<div class="social-links">
							<div class="article-sidebar__heading">
								Поделиться
							</div>
							<a href="#" class="article-sidebar__item">
								<svg class="svg-icon " width="24" height="24" fill="#387c89">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#google-gray"></use>
								</svg>
							</a>
							<a href="#" class="article-sidebar__item">
								<svg class="svg-icon " width="24" height="24" fill="#387c89">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#facebook-gray"></use>
								</svg>
							</a>
							<a href="#" class="article-sidebar__item">
								<svg class="svg-icon " width="24" height="24" fill="#387c89">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#twitter-gray"></use>
								</svg>
							</a>
						</div>
					</div>
				</div>
				<div class="article-outer">
					<div class="article-pages">
						<a href="#" class="article-page__prev-article">
							<div class="arrow-prev" href="#" aria-label="Previous">
								<svg class="svg-icon " width="24" height="24" fill="#387c89">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#arrow-bottom"></use>
								</svg>
							</div>
							Предыдущая статья
						</a>
						<a href="#" class="article-page__next-article">
							Следующая статья
							<div class=" arrow-next" href="#" aria-label="Next">
								<svg class="svg-icon " width="24" height="24" fill="#387c89">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#arrow-bottom"></use>
								</svg>
							</div>
						</a>
					</div>
					<div class="form-section">
						<div class="form-section__image">
							<img src="Images/subscribe-2.png" alt="">
						</div>
						<div class="form-section__content">
							<div class="form-section__header">
								Узнавайте о горящих турах первыми!
							</div>
							<div class="form-section__text">
								Подпишитесь на рассылку. Путешествуйте с Турне.
							</div>
							{% include "./articles-detail-modules/subscribe-form.twig" %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="another-articles grey-background-f6f">
		<div class="container">
			<h2 class="heading">
				Статьи, которые могут Вам понравиться
			</h2>
			<div class="row another-articles__box">
				<a href="#" class="col-12 col-md-6 col-lg-3 col-xl-3 another-articles__item">
					<img src="https://img.poehalisnami.ua/contentdata/blog/bc6ee7c2-3ad5-4365-9fb5-b0112f5c055f/1nqmdwob.k00.jpg" alt="">
					<div class="another-articles__date">
						23.01.2020
					</div>
					<div class="another-articles__title">
						Под Киевом презентуют уникальную коллекцию
					</div>
				</a>
				<a href="#" class="col-12 col-md-6 col-lg-3 col-xl-3 another-articles__item">
					<img src="https://img.poehalisnami.ua/contentdata/blog/bc6ee7c2-3ad5-4365-9fb5-b0112f5c055f/1nqmdwob.k00.jpg" alt="">
					<div class="another-articles__date">
						23.01.2020
					</div>
					<div class="another-articles__title">
						Под Киевом презентуют уникальную коллекцию
					</div>
				</a>
				<a href="#" class="col-12 col-md-6 col-lg-3 col-xl-3 another-articles__item">
					<img src="https://img.poehalisnami.ua/contentdata/blog/bc6ee7c2-3ad5-4365-9fb5-b0112f5c055f/1nqmdwob.k00.jpg" alt="">
					<div class="another-articles__date">
						23.01.2020
					</div>
					<div class="another-articles__title">
						Под Киевом презентуют уникальную коллекцию
					</div>
				</a>
				<a href="#" class="col-12 col-md-6 col-lg-3 col-xl-3 another-articles__item">
					<img src="https://img.poehalisnami.ua/contentdata/blog/bc6ee7c2-3ad5-4365-9fb5-b0112f5c055f/1nqmdwob.k00.jpg" alt="">
					<div class="another-articles__date">
						23.01.2020
					</div>
					<div class="another-articles__title">
						Под Киевом презентуют уникальную коллекцию
					</div>
				</a>
			</div>
		</div>
	</div>
{% endblock %}
