{% extends "layouts/default-mobile.twig" %}
{% set mobile = 'mobile' %}
{% if mobile %}
    {% set toggleMobileText = "Полная версия" %}
    {% set toggleMobileLink = "operator-detail.html" %}
    {%  set hotDetailLink = "hot-details-mobile.html" %}
    {%  set excursionDetailLink = "excursion-details-mobile.html" %}
{% else %}
    {% set toggleMobileText = "Мобильная версия" %}
    {% set toggleMobileLink = "operator-detail-mobile.html" %}
    {%  set hotDetailLink = "hot-details.html" %}
    {%  set excursionDetailLink = "excursion-details.html" %}
{% endif %}

{% block searchStyle %}
    <link href="css/bundle/searchStyleMobile.css" rel="stylesheet"/>
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="css/operator-detail.css">
    <link rel="stylesheet" href="css/operator-detail_mobile.css">
{% endblock %}

{% block scripts %}


{% endblock %}

{% block content %}
    {% include "operator/screen-box.twig" %}
    <div class="operator-destination-section">
        <div class="container">
            <h2 class="heading">Популярные направления Анекст тур</h2>
            {% include "operator/destination.twig" %}
        </div>
    </div>

    <div class="container">
        <div class="priorities-section">
            <h2 class="heading">&#10004; Анекс тур - проверенный туроператор</h2>
            {% include "operator/priorities.twig" %}
        </div>
        <div class="operator-tours-section">
            <h2 class="heading">Туры в Египет от Анекс тур</h2>
            {% include "operator/operator-tours.twig" %}
        </div>
        {% include "operator/form-callback.twig" %}
    </div>
    <section class="page-article">
        <div class="container text-collapse-wrap">
            <div class="articles-wrap text-collapse text-collapse--shadow">
                <h2><span style="font-size:12pt">Основные направления туроператора ANEXTOUR</span></h2>
                <div><p dir="ltr"><span>Туроператор Анекс Тур — украинская компания, которая за 14 лет своей деятельности смогла завоевать доверие клиентов и занять лидирующие позиции в рейтинге ведущих туристических брендов страны.</span>
                    </p>
                    <p dir="ltr"><span>Сегодня</span><span> она может похвастаться широким спектром предлагаемых услуг. От туроператора можно заказать незабываемый пляжный отдых, интересную экскурсионную поездку и многие другие туры. Наиболее востребованными направлениями являются Египет, Тунис, Турция, Болгария, Объединенные Арабские Эмираты, Греция. Вам предложат хорошо отработанные схемы маршрутов перелета, огромнейший выбор отелей и сопутствующие услуги (услуги гида, шаттл в аэропорт и пр.).</span>
                    </p>
                    <p dir="ltr"><span>Взыскательным клиентам </span><span>туроператор Anex Tour </span><span>готов предложить поездки в более экзотические уголки планеты:</span>
                    </p>
                    <ul>
                        <li dir="ltr">—<strong>&nbsp;</strong>Индонезию;</li>
                        <li dir="ltr">— Таиланд;</li>
                        <li dir="ltr">— Кубу;</li>
                        <li dir="ltr">— Мальдивы;</li>
                        <li dir="ltr">— Шри-Ланку;</li>
                        <li dir="ltr">— Доминикану;</li>
                        <li dir="ltr">— Танзанию;</li>
                        <li dir="ltr">— Китай.</li>
                    </ul>
                    <p dir="ltr"><span>Также огромным спросом пользуются рекреационные&nbsp;туры. Оздоровительные&nbsp;курорты широко распространены в Индии, Иордании, Израиле и других странах, которые менеджеры Турне советуют клиентам</span><span>, выполняя подбор тура Анекс Тур.</span>
                    </p>
                    <p dir="ltr"><span>У туроператора есть что предложить и путешественникам, желающим познакомиться с культурой и традициями различных стран. Компания постоянно развивает новые экскурсионные направления, разрабатывает интересные программы. Из наиболее востребованных — Грузия, Чехия, Азербайджан, Португалия, Испания, Италия и т. д.</span>
                    </p>
                    <p dir="ltr"><span>Турагентство Анекс Тур</span><span> сотрудничает с крупнейшими авиакомпаниями, поэтому всегда готово посодействовать в бронировании и покупке билетов. Это могут быть как регулярные рейсы, так и чартерные. Обратившись в турфирму, клиент может быть на 100% уверен в том, что для него найдется место на борту самолета. Помимо этого, Анекс тур оказывает услуги бронирования номеров в отелях, оформления документов и многие другие.</span>
                    </p>
                    <p dir="ltr"><span>Главная задача туроператора </span><span>— предоставить качественную путевку клиентам с разными пожеланиями и возможностями.</span><span> Экономные путешественники могут купить горящие туры Анекс Тур, а для тех, кто привык отдыхать роскошно, существуют уникальные предложения с проживанием в самых известных отелей категории премиум.&nbsp;</span>
                    </p>
                    <h2 dir="ltr"><span>Информация о компании</span></h2>
                    <p dir="ltr"><span>Оператор ведет свою деятельность с 2005 года и за это время успел обзавестись надежными партнерами по всему миру. Это авиакомпании («Azurair»), принимающие компании («Blue Sky Travel», «Terramar Group»), страховые фирмы («ВУСО»), банки («Альфа-банк», «Укрсиббанк») и т д. Кроме того, в числе партнеров «ANEXTOUR» можно встретить крупнейшие туристические агентства страны, такие как «Джой тревел», «Поехали с нами», «Роял Вояж» и прочие. </span><span>Поэтому, даже находясь на отдыхе, путешественники окружены заботой.</span><span> </span><span>О комфорте и безопасности туристов беспокоятся представители авиакомпании во время полета, работники трансферной службы по дороге из аэропорта в отель и обратно. Также в гостиницах работают представители туроператора, которые не только предлагают разнообразные экскурсии, но всегда готовы оказать информационную поддержку или помощь в решении любых возникших проблем. В путевке, сформированной Анекс Туром, обязательно предусмотрена страховка, включающая бесплатное медицинское обслуживание за рубежом, в случае необходимости.</span><span>&nbsp;</span>
                    </p>
                    <p dir="ltr"><span>В последние годы компания активно развивает франчайзинговую сеть. Присоединиться к ней могут ТОВ и ФОП, ведущие туристическую деятельность и обладающие договором об аренде офисного помещения. Туроператор предлагает честные и лояльные условия, сотрудничества, постоянную поддержку. Предоставляет корпоративную мебель, вывеску, рекламные материалы и сувенирную продукцию. Проводит обучающие мероприятия, льготные туры.</span><span><br></span><span>Основные преимущества туроператора «ANEXTOUR»:</span>
                    </p>
                    <ul>
                        <li dir="ltr">— Внедрение новых технологий в сфере туризма;</li>
                        <li dir="ltr" role="presentation"><span>— обширный спектр предлагаемых услуг;</span>
                        </li>
                        <li dir="ltr" role="presentation"><span>— профессиональная команда опытных гидов;</span>
                        </li>
                        <li dir="ltr" role="presentation"><span>— высокий уровень обслуживания;</span></li>
                        <li dir="ltr" role="presentation">
                            <span>— обеспечение максимального комфорта туристам.</span></li>
                    </ul>
                    <p dir="ltr"><span>Компания постоянно развивает новые направления и стремится повысить качество работы. Своевременно информирует постоянных клиентов и агентов о новостях сферы туризма, отелях, акциях и прочих важных событиях.</span>
                    </p></div>
                <div><br><strong>Контакты</strong>.<br>Для агентств:<br>+38 (044) 591-15-91 /
                    www.anextour.com.ua<br>Для частных лиц:<br>0-800-509-888
                </div>

            </div>
        </div>
    </section>

{% endblock %}