{% extends "layouts/default-mobile.twig" %}
{% set mobile = 'mobile' %}
{% if mobile %}
	{% set toggleMobileText = "Полная версия" %}
	{% set toggleMobileLink = "search-tours.html" %}
{% else %}
	{% set toggleMobileText = "Мобильная версия" %}
	{% set toggleMobileLink = "search-tours-mobile.html" %}
{% endif %}
{% block searchStyle %}
	<link href="css/bundle/searchStyleMobile.css?v=113" rel="stylesheet"/>
{% endblock %}
{% block head %}
	<link href="css/vertical-filter.css?v=112" rel="stylesheet">
	<link href="css/vertical-filter_mobile.css?v=112" rel="stylesheet">
	<link rel="stylesheet" href="css/search-tours-page.css">
	<link rel="stylesheet" href="css/search-tours-page_mobile.css">
	<link href="css/tour-country.css?v=113" rel="stylesheet">
	<link rel="stylesheet" href="css/tour-country_mobile.css">
{% endblock %}

{% block scripts %}
	<script>
		$(document).ready(function () {
$('.vertical-filter-search input').on('keyup', function () {
$(this).parents('.custom-dropdown').find('.jsDropDownOptions').show();
$(this).parents('.custom-dropdown').addClass('select-open');
})
});
	</script>
{% endblock %}

{% block content %}
	{% include "./search-tours-modules/search-tours__screen-box.twig" %}
	<div class="container">
		<div style="width: 0; height: 0;">
			<svg>
				<symbol id="progressbar" viewbox="0 0 58 58">
					<circle cx="29" cy="29" r="29"/>
					<path fill="none" stroke-dasharray="140" stroke="#dfe3eb" stroke-width="4" d="M29,6.778c12.273,0,22.222,9.949,22.222,22.222
							S41.273,51.222,29,51.222S6.778,41.273,6.778,29S16.727,6.778,29,6.778"/>
					<path fill="none" stroke="#387c89" stroke-width="4" d="M29,6.778c12.273,0,22.222,9.949,22.222,22.222
						S41.273,51.222,29,51.222S6.778,41.273,6.778,29S16.727,6.778,29,6.778"/>
				</symbol>
			</svg>
		</div>
		<div class="row layout-box layout-box--reverse">
			<div class="col-12 col-xl-9">
				<div class="search-tour">
					{% include "./search-tours-modules/search-card.twig" %}
				</div>
				<div class="form-section">
					<div class="form-section__image">
						<img src="Images/subscribe-2.png" alt="">
					</div>
					<div class="form-section__content">
						<div class="form-section__header">
							Узнавайте о турах первыми!
						</div>
						<div class="form-section__text">
							Подпишитесь на рассылку. Путешествуйте с Турне.
						</div>
						{% include "./hot-tours-modules/subscribe-hot-tour-page.twig" %}
					</div>
				</div>
			</div>
			<div class="col-12 col-xl-3 layout-box__sidebar">
                {% include "./tour-country-city-modules/tour-country-filter.twig" %}
			</div>
		</div>
	</div>
	<section class="page-article grey-background-f6f">
		<div class="container text-collapse-wrap">
			<div class="articles-wrap text-collapse text-collapse--shadow">
				<div>
					<h2 dir="ltr">
						<span>Как выбрать тур в Египет?</span>
					</h2>
					<p>
						<span>
							<span>
								<span>Дешевые туры в Египет – одна из причин, почему страна пирамид так популярна среди украинских путешественников. Омывается Египет двумя морями – Средиземным и Красным. Разнообразие отелей на побережье позволяет отдохнуть и на «широкую ногу» в люксовых апартаментах, и провести комфортно отпуск в недорогих, но не менее уютных отелях.</span>
								<span>Купить тур в Египет с авиаперелетом — выгодная ставка для семейного путешествия, ведь практически во всех резортах продуманы программы развлечений как для взрослых, так и для маленьких туристов. Даже не покидая территорию своего отеля можно весело и насыщенно провести время отпуска. Из дополнительных плюсов путешествия в страну пирамид – перелет, продолжительностью не более 4-х часов.</span>
							</span>
						</span>
					</p>
					<h2 dir="ltr">
						<span>Лучшее время для отдыха в Египте</span>
					</h2>
					<p>
						<span>
							<span>
								<span>Египет — тропическая и частично субтропическая страна. Погодные условия на курортах зависят от сезона и региона.&nbsp;</span>
								<span>В июле и августе, в самый разгар жары, когда столбик термометра местами поднимается +50°C, желающих путешествовать гораздо меньше, чем в осенние месяцы , поэтому горящие туры в Египет все включено в этот период появляются чаще.&nbsp;</span>
								<span>Если хорошо спланировать поездку, тогда и летом путешествие пройдет на высшем уровне. Ведь к вечеру, температура воздуха снижается до +26°С, а вода прогрета на уровне +27°С...+29°С — идеальный вариант для пляжного отдыха. Жара переносится легче на побережье Средиземного моря.</span>
								<span>Недорогая путевка в Египет летом выгодна также и любителям дайвинга или снорклинга, ведь высокие температуры воздуха не мешают погружаться под воду. Тем более при жаре медузы не такие активные, поэтому шансы получить ожог сведены к минимуму.&nbsp;</span>
								<span>В целом купальный сезон в Египте длится с апреля по октябрь. А горящие путевки в Египет начинают появляться в начале ноября. В конце осени вода постепенно остывает, с чем снижается и туристическая активность. Рекомендуем в зимние месяцы отдать предпочтение курортам Красного моря – температура воздуха в это время здесь на несколько градусов выше, в сравнении со средиземноморьем. Вода в течение всего дня прогрета до +21°C...+24°С , а воздух охлаждается в среднем до +20°С…+24°С днем, к вечеру столбик термометра опускается на 5-7°С. Несмотря на то, что загорать на пляже в обеденное время вполне комфортно, большую часть времени отдыхающие проводят все же у бассейнов на территории резортов. А вот экскурсии посещать с ноября по январь одно удовольствие. Ведь туристов гораздо меньше, чем в пик сезона, а хорошие погодные условия позволяют осмотреть все интересные места Египта. Осадки в арабской стране бывают редко, даже в зимой.</span>
							</span>
						</span>
					</p>
					<h2 dir="ltr">
						<span>На какой курорт Египта стоит поехать?</span>
					</h2>
					<p>
						<span>
							<span>
								<span>&nbsp;&nbsp;–
									<strong>Дахаб</strong>
									– курорт восточного побережья Синайского полуострова, который подойдет для активного водного отдыха и понравится любителям шумного времяпровождения, ночных дискотек и феерических шоу.&nbsp;</span><br><span>–
									<strong>Марса-Алам</strong>
									– город с протянувшейся на 70 км береговой линией, отличной подойдет для семейного отдыха, а коралловое богатство бирюзовых вод привлекает множество дайверов.</span><br><span>–
									<strong>Каир</strong>
									– центр достопримечательностей, среди которых Врата Египта эры Фатимы, руины Вавилонской крепости, Сфинксы, пирамиды Гизы и Каирская телебашня.</span><br><span>–
									<strong>Сафага</strong>
									– портовый город, в который туристы едут, чтобы оздоровиться, ведь песок на побережье способствует восстановлению опорно-двигательного аппарата и лечению кожных заболеваний.&nbsp;</span><br><span>–
									<strong>Хургада</strong>
									– один из самых популярных курортов среди отдыхающих. Расположен на западном берегу Красного моря. Для дальнейшего путешествия по стране удобнее всего поехать в Египет из Киева через международный аэропорт Хургады. Город также ближе всех расположен ко многим известным достопримечательностям – Долине Фараонов, храму Эдфу и другим.&nbsp;</span><br><span>–
									<strong>Макади-Бей</strong>
									– курорт, созданный исключительно для туристов. Уютный египетский уголок, где можно отдохнуть в полном спокойствии, ведь основная часть развлекательных заведений расположена в пределах отелей. Здесь же находится один из самых больших аквапарков Египта – Makadi Bay Water World.</span>
							</span>
						</span>
					</p>
					<h2 dir="ltr">
						<span>Транспорт</span>
					</h2>
					<p>
						<span>
							<span>
								<span>Трансфер вместе с авиаперелетом предоставляют туроператоры Tez Tour, Travel Professional Group, TUI Украина. Главный способ перемещения по Египту – автобусы. Это самый дешевый транспорт, доставляющий в любую точку страны. Туристические автобусы компаний Super Jet и Delta Bus Company – комфортные, остальные не очень. Сеть железных дорог хорошо развита вокруг Каира и отсутствует в курортных местах.Такси в Египте недорогое (даже между городами), если уметь торговаться. Счетчики не используются. По телефону такси вызвать нельзя, но на улице такси можно найти без проблем. Взять машину напрокат можно, но это вариант для смельчаков.Авиатранспорт и водный транспорт как средство перемещения развиты плохо. Среди городского транспорта в лидерах также автобусы и маршрутки. В Каире есть метро.</span>
							</span>
						</span>
					</p>
					<h2 dir="ltr">
						<span>Что посмотреть в Египте?</span>
					</h2>
					<p>
						<span id="docs-internal-guid-f2b90790-7fff-1c1e-a63a-ebde7c353510">
							<span>–
								<strong>Пирамиды (Хеопса, Хефрена и Микерина), а также Сфинкс</strong>
								– главные архитектурные памятки Египта, таящие в себе вековые загадки.&nbsp;</span><br><span>–
								<strong>Каирский музей</strong>
								– обязательный объект для любителей истории и археологии.</span><br>–
							<strong>Гора Синай</strong>
							<strong>и монастырь Св. Катерины</strong>
							на одноименном полуострове – место, где Моисею были даны 10 заповедей.</span><br><span>–
							<strong>Заповедник Рас-Мохаммед</strong>
							на Синайском полуострове и в заливе Акаба, знаменитый своими горно-пустынными пейзажами на суши и красивейшими коралловыми рифами в воде.</span><br><span>–
							<strong>Пляжи и море в Египте</strong>
							– это элитный Шарм-эль-Шейх, «массовая» Хургада и уютный Дахаб (рай для дайверов).</span>
					</p>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
