<div class="search-resorts">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 col-xl-4 image-box__col">
            <a href="#" class="image-box image-box--resorts">
                <div class="image-box__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="Images/popular-destinations/egipet.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="image-box__body flex-column">

                    <div class="image-box__heading">
                        Шарм-эль-Шейх
                    </div>
                    <div class="image-box__price">
                        от 11 695 грн
                    </div>

                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4 image-box__col">
            <a href="#" class="image-box image-box--resorts">
                <div class="image-box__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="Images/popular-destinations/turciya.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="image-box__body flex-column">

                    <div class="image-box__heading">
                        Хургада
                    </div>
                    <div class="image-box__price">
                        от 12 240 грн
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4 image-box__col">
            <a href="#" class="image-box image-box--resorts">
                <div class="image-box__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="Images/popular-destinations/oae.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="image-box__body flex-column">

                    <div class="image-box__heading">
                        Марса-Алам
                    </div>
                    <div class="image-box__price">
                        от 8 590 грн
                    </div>

                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4 image-box__col">
            <a href="#" class="image-box image-box--resorts">
                <div class="image-box__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="Images/popular-destinations/tailand.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="image-box__body flex-column">

                    <div class="image-box__heading">
                        Макади Бей
                    </div>
                    <div class="image-box__price">
                        от 15 800 грн
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4 image-box__col">
            <a href="#" class="image-box image-box--resorts">
                <div class="image-box__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="Images/popular-destinations/shri-lanka.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="image-box__body flex-column">

                    <div class="image-box__heading">
                        Таба
                    </div>
                    <div class="image-box__price">
                        от 14 100 грн
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4 image-box__col">
            <a href="#" class="image-box image-box--resorts">
                <div class="image-box__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="Images/popular-destinations/italiya.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="image-box__body flex-column">

                    <div class="image-box__heading">
                        Сафага
                    </div>
                    <div class="image-box__price">
                        от 18 750 грн
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4 image-box__col">
            <a href="#" class="image-box image-box--resorts">
                <div class="image-box__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="Images/popular-destinations/ispaniya.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="image-box__body flex-column">

                    <div class="image-box__heading">
                        Айн Эль Сохна
                    </div>
                    <div class="image-box__price">
                        от 15 800 грн
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4 image-box__col">
            <a href="#" class="image-box image-box--resorts">
                <div class="image-box__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="Images/popular-destinations/oae.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="image-box__body flex-column">

                    <div class="image-box__heading">
                        Александрия
                    </div>
                    <div class="image-box__price">
                        от 14 100 грн
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4 image-box__col">
            <a href="#" class="image-box image-box--resorts">
                <div class="image-box__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="Images/popular-destinations/ispaniya.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="image-box__body flex-column">

                    <div class="image-box__heading">
                        Айн Эль Сохна
                    </div>
                    <div class="image-box__price">
                        от 15 800 грн
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4 image-box__col">
            <a href="#" class="image-box image-box--resorts">
                <div class="image-box__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="Images/popular-destinations/egipet.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="image-box__body flex-column">

                    <div class="image-box__heading">
                        Шарм-эль-Шейх
                    </div>
                    <div class="image-box__price">
                        от 11 695 грн
                    </div>

                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4 image-box__col">
            <a href="#" class="image-box image-box--resorts">
                <div class="image-box__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="Images/popular-destinations/turciya.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="image-box__body flex-column">

                    <div class="image-box__heading">
                        Хургада
                    </div>
                    <div class="image-box__price">
                        от 12 240 грн
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4 image-box__col">
            <a href="#" class="image-box image-box--resorts">
                <div class="image-box__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="Images/popular-destinations/oae.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="image-box__body flex-column">

                    <div class="image-box__heading">
                        Марса-Алам
                    </div>
                    <div class="image-box__price">
                        от 8 590 грн
                    </div>

                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4 image-box__col">
            <a href="#" class="image-box image-box--resorts">
                <div class="image-box__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="Images/popular-destinations/tailand.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="image-box__body flex-column">

                    <div class="image-box__heading">
                        Макади Бей
                    </div>
                    <div class="image-box__price">
                        от 15 800 грн
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4 image-box__col">
            <a href="#" class="image-box image-box--resorts">
                <div class="image-box__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="Images/popular-destinations/shri-lanka.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="image-box__body flex-column">

                    <div class="image-box__heading">
                        Таба
                    </div>
                    <div class="image-box__price">
                        от 14 100 грн
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4 image-box__col">
            <a href="#" class="image-box image-box--resorts">
                <div class="image-box__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="Images/popular-destinations/italiya.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="image-box__body flex-column">

                    <div class="image-box__heading">
                        Сафага
                    </div>
                    <div class="image-box__price">
                        от 18 750 грн
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4 image-box__col">
            <a href="#" class="image-box image-box--resorts">
                <div class="image-box__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="Images/popular-destinations/ispaniya.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="image-box__body flex-column">

                    <div class="image-box__heading">
                        Айн Эль Сохна
                    </div>
                    <div class="image-box__price">
                        от 15 800 грн
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4 image-box__col">
            <a href="#" class="image-box image-box--resorts">
                <div class="image-box__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="Images/popular-destinations/oae.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="image-box__body flex-column">

                    <div class="image-box__heading">
                        Александрия
                    </div>
                    <div class="image-box__price">
                        от 14 100 грн
                    </div>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-6 col-lg-4 col-xl-4 image-box__col">
            <a href="#" class="image-box image-box--resorts">
                <div class="image-box__thumbnail responsive-thumbnail">
                    <img class="objectFitCover lazyload"
                         data-src="Images/popular-destinations/ispaniya.jpg">
                    <div class="lds-spinner"></div>
                </div>
                <div class="image-box__body flex-column">

                    <div class="image-box__heading">
                        Айн Эль Сохна
                    </div>
                    <div class="image-box__price">
                        от 15 800 грн
                    </div>
                </div>
            </a>
        </div>
    </div>
    <a class="btn btn-brand btn-brand--white btn-brand--rounded btn--show-all" href="#">Показать еще</a>
</div>