<div class="sidebar-box">
    <div class="sidebar-box__heading">
        Полезная информация
    </div>
    <div class="sidebar-box__content">
        <div class="sidebar-box__item">
            <a href="#" class="sidebar-box__link">
                <svg class="sidebar-icon" width="24" height="24">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="Images/country-icons.svg#plane"></use>
                </svg>
                <span class="sidebar-box__text">
                            Туры в Египет
                        </span>
            </a>
        </div>
        <div class="sidebar-box__item">
            <a href="#" class="sidebar-box__link">
                <svg class="sidebar-icon" width="24" height="24">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="Images/country-icons.svg#hotels"></use>
                </svg>
                <span class="sidebar-box__text">
                            Отели Египта
                        </span>
            </a>
        </div>
        <div class="sidebar-box__item">
            <a href="#" class="sidebar-box__link">
                <svg class="sidebar-icon" width="24" height="24">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="Images/country-icons.svg#visa"></use>
                </svg>
                <span class="sidebar-box__text">
                            Виза в Египет
                        </span>
            </a>
        </div>
        <div class="sidebar-box__item">
            <a href="#" class="sidebar-box__link">
                <svg class="sidebar-icon" width="24" height="24">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="Images/country-icons.svg#dost"></use>
                </svg>
                <span class="sidebar-box__text">
                            Достопримечательности Египта
                        </span>
            </a>
        </div>
        <div class="sidebar-box__item">
            <a href="#" class="sidebar-box__link">
                <svg class="sidebar-icon" width="24" height="24">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="Images/country-icons.svg#weather"></use>
                </svg>
                <span class="sidebar-box__text">
                            Погода в Египте
                        </span>
            </a>
        </div>
        <div class="sidebar-box__item">
            <a href="#" class="sidebar-box__link">
                <svg class="sidebar-icon" width="24" height="24">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="Images/country-icons.svg#currency"></use>
                </svg>
                <span class="sidebar-box__text">
                             Валюта Египта
                        </span>
            </a>
        </div>
        <div class="sidebar-box__item">
            <a href="#" class="sidebar-box__link">
                <svg class="sidebar-icon" width="24" height="24">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="Images/country-icons.svg#suggestion"></use>
                </svg>
                <span class="sidebar-box__text">
                            Советы туристам
                        </span>
            </a>
        </div>
        <div class="sidebar-box__item">
            <a href="#" class="sidebar-box__link">
                <svg class="sidebar-icon" width="24" height="24">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="Images/country-icons.svg#food"></use>
                </svg>
                <span class="sidebar-box__text">
                             Кухня Египта
                        </span>
            </a>
        </div>
        <div class="sidebar-box__item">
            <a href="#" class="sidebar-box__link">
                <svg class="sidebar-icon" width="24" height="24">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="Images/country-icons.svg#embrassy"></use>
                </svg>
                <span class="sidebar-box__text">
                             Посольства Египта
                        </span>
            </a>
        </div>
        <div class="sidebar-box__item">
            <a href="#" class="sidebar-box__link">
                <svg class="sidebar-icon" width="24" height="24">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink"
                         xlink:href="Images/country-icons.svg#culture"></use>
                </svg>
                <span class="sidebar-box__text">
                             Культурные особенности Египта
                        </span>
            </a>
        </div>

    </div>
</div>