<section class="buy-tour">
    <div class="container">
        <div class="details-small-heading buy-tour__title">
            Купить тур в
            {% set textDropdown = "Киев" %}
            {% set iconName = "place" %}
            {% set customDropdownClass = "custom-dropdown--no-border" %}
            {% set hideIcons = "true" %}
            {% from "../components/custom-dropdown/form-city-dropdown.twig" import dropdown %}
            {% include "../components/custom-dropdown/custom-dropdown.twig" %}
            <span class="validation field-validation-valid"><span>Выберите город</span></span>
        </div>
        <div class="slick-carousel-wrap">
            <div class="row buy-tour-slider slick-carousel js-buy-tours-slider">
                <div class="slick-carousel-item col">
                    <div class="buy-tour-card">
                        <img class="buy-tour-card__img" src="Images/logo-2.png">
                        <div class="buy-tour-card__content">
                            <div class="buy-tour-card__title">
                                Поехали с нами
                            </div>
                            <div class="buy-tour-card__text">
                                <a href="tel:+380673339831">(067) 333-98-31</a>
                                <br>
                                <a href="tel:+380673339831">(067) 333-98-31</a>
                                <br>
                                ул. Никольско-Слободская, 2-Б
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slick-carousel-item col">
                    <div class="buy-tour-card">
                        <img class="buy-tour-card__img" src="https://img.turne.com.ua/static/turne/companies/c4622/orig/4622_637086429045883003.jpg">
                        <div class="buy-tour-card__content">
                            <div class="buy-tour-card__title">
                                Tours & Tickets
                            </div>
                            <div class="buy-tour-card__text">
                                <a href="tel:+380673339831">(067) 333-98-31</a>
                                <br>
                                <a href="tel:+380673339831">(067) 333-98-31</a>
                                <br>
                                ул.Нижний Вал 37, оф. 34
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slick-carousel-item col">
                    <div class="buy-tour-card">
                        <img class="buy-tour-card__img" src="Images/logo-2.png">
                        <div class="buy-tour-card__content">
                            <div class="buy-tour-card__title">
                                Поехали с нами
                            </div>
                            <div class="buy-tour-card__text">
                                <a href="tel:+380673339831">(067) 333-98-31</a>
                                <br>
                                <a href="tel:+380673339831">(067) 333-98-31</a>
                                <br>
                                Ул.Пушкинская 2-4/7, оф. 1
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slick-carousel-item col">
                    <div class="buy-tour-card">
                        <img class="buy-tour-card__img" src="https://img.turne.com.ua/static/turne/companies/c4632/orig/4632_637097771699560593.jpg">
                        <div class="buy-tour-card__content">
                            <div class="buy-tour-card__title">
                                Travel Gid
                            </div>
                            <div class="buy-tour-card__text">
                                <a href="tel:+380673339831">(067) 333-98-31</a>
                                <br>
                                <a href="tel:+380673339831">(067) 333-98-31</a>
                                <br>
                                Площадь Свободы 8 офис 206
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slick-carousel-item col">
                    <div class="buy-tour-card">
                        <img class="buy-tour-card__img" src="Images/logo-2.png">
                        <div class="buy-tour-card__content">
                            <div class="buy-tour-card__title">
                                Поехали с нами
                            </div>
                            <div class="buy-tour-card__text">
                                <a href="tel:+380673339831">(067) 333-98-31</a>
                                <br>
                                <a href="tel:+380673339831">(067) 333-98-31</a>
                                <br>
                                вул.Клавдіївська, 40-Г
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slick-carousel-item col">
                    <div class="buy-tour-card">
                        <img class="buy-tour-card__img" src="https://img.turne.com.ua/static/turne/companies/c4623/orig/4623_637087342477496883.jpg">
                        <div class="buy-tour-card__content">
                            <div class="buy-tour-card__title">
                                Турагентство На Каникулах
                            </div>
                            <div class="buy-tour-card__text">
                                <a href="tel:+380673339831">(067) 333-98-31</a>
                                <br>
                                <a href="tel:+380673339831">(067) 333-98-31</a>
                                <br>
                                Златоустовская 55
                            </div>
                        </div>
                    </div>
                </div>
                <div class="media content-spinner jsHotTourListResultsSpinner">
                    <div class="lds-spinner"></div>
                    <span>Подождите, пожалуйста!</span>
                </div>
            </div>
            <div class="slick-navigation">
                <div class="js-dots"></div>
            </div>
        </div>
    </div>
</section>
