<h2 class="details-small-heading">Программа тура</h2>
<div class="detail-text-description">
        <p style="text-align:center"><strong>ТУР с ВЫЕЗДОМ из КИЕВА, ПРОЕЗД ПОЛНОСТЬЮ ВКЛЮЧЕН в
                СТОИМОСТЬ!</strong><br>Когда стремительно холодает, а в воздухе появляются первые снежинки, мы все
            начинаем жить ожиданием чуда – новогодней ночи! Празднично украшаются витрины, города сияют множеством
            огней, в магазинах бойко шуршит оберточная бумага для подарков!... И уже нет сил ждать, душа требует
            праздника! Предлагаем Вам немного приблизить новогодние чудеса и посетить рождественскую ярмарку в
            Кракове: это яркие огни и веселые шоу, множество вкусностей и полезностей, новые друзья, незабываемые
            ощущения и, главное, все это – без отрыва от работы!</p>
        <p style="text-align:center"><strong>ГАРАНТИРОВАНАЯ ДАТА ВЫЕЗДА - 21.12.2019</strong></p>
        <p><br><span
                    style="text-decoration:underline"><strong>День 1: Знакомимся, начинаем путешествие!</strong></span><br>19.00
            Встреча группы на ж/д вокзале г. Киев. Отъезд с Южного терминала ж/д вокзала комфортабельным автобусом.
            Транзит по территории Украины. Возможно присоединение туристов к группе в Житомире, Ровно, Львове.</p>
        <p><span style="text-decoration:underline"><strong>День 2: Первое знакомство!</strong></span><br>03:00
            Возможно присоединение к группе туристов, прибывающих во Львов поездом. Прохождение пограничного
            контроля.</p>
        <p>Переезд в г. Краков, Польша. Поселение в гостиницу категории 3* в 2-местные стандартные номера с
            удобствами.</p>
        <p><strong>Выезд на обзорную экскурсию по Кракову "Здесь живут легенды и драконы..." (в стоимости).</strong><br>Краков
            – один из старейших и прекраснейших городов не только Польши, но и всей Европы. Здесь пересеклись
            исторические пути Запада и Востока, культуры, мысли, идеи и изобретения множества народов и народностей.
            Вас ждет площадь Рынок, Мариацкий костел, знаменитый Вавельский холм – именно здесь по преданию жил
            легендарный дракон. Вас не оставит равнодушным скромное обаяние узких улочек Казимежа и запыленная
            роскошь коридоров Коллегиума Маяс…<br> <br><strong>Прогулка по Рыночной Площади и участие в
                РОЖДЕСТВЕНСКОЙ ЯРМАРКЕ!</strong><br>Вы получите не только эстетическое, но и гастрономическое
            удовольствие! На Рождественской Ярмарке можно будет увидеть и приобрести самые разнообразные
            рождественские сувениры: расписанные вручную елочные игрушки, украшения для дома, керамику, изделия из
            древесины, шерсти, стекла, бижутерию, открытки, подарки, календари. Каждый год Краков готовит для гостей
            ярмарки богатое кулинарное предложение: здесь можно попробовать традиционные блюда на гриле, знаменитые
            польские «пероги» (разновидность вареников с самыми разнообразными начинками) и печеный картофель. Можно
            будет купить австрийский сыр и колбасные изделия, выпить галицийского глинтвейна или хлебного кваса,
            свекольного и сельдерейного сока. Разумеется, будут и рождественские лакомства: жареные орехи в
            карамели, изделия из шоколада и марципана, традиционные пряники. Как всегда, в рамках Краковской
            рождественской ярмарки будет организовано много развлекательных мероприятий. Все это займет у Вас немало
            часов.</p>
        <p>Самостоятельное возвращение в гостиницу. Ночлег.</p>
        <p>
            <span style="text-decoration:underline"><strong>День 3: Краков: знакомый и незнакомый!</strong></span><br>Завтрак
            в гостинице.</p>
        <p><strong>Экскурсия по кварталу Казимеж "Два народа, две истории..." (дополнительно - 15
                евро).</strong><br>Казимеж — краковский район, где от XIV века до 1939 года на территории между
            улицами Иосифа, Тела Господня, Медовой и Дайвор жили евреи. Во время Второй мировой войны там находилось
            еврейское гетто — своего рода концлагерь городского типа. Но это уже XX век, а до этого на территории
            города Казимеж прекрасно сосуществовали две культуры и две религии: христиансво и иудаизм. Наверное,
            больше нигде в мире не найдется пересечение ул. Раббина Майзельса с ул. Тела Господня — это одно из
            доказательств мирного сосуществания двух разных и древних культур.</p>
        <p><strong>Чтобы впечталение о Кракове было абсолютно полным, рекомендуем экскурсию в уникальный подземный
                музей "10 метров вниз - 1000 лет назад..." (дополнительно - 15 евро).</strong><br>Вы увидите
            уникальный, самый большой в Европе музей под центральной площадью, в котором сохранились остатки
            поселений 12 века, а также фрагменты более поздней застройки Рыночной площади времен Болеслава
            Стыдливого и Казимира Великого. Здесь сохранились средневековые мостовые и реликты городской
            инфраструктуры. На территории парка расположено около семи сотен археологических находок, 500 рисунков
            достопримечательностей, 600 цифровых реконструкций в 3D, а также три десятка мультимедийных установок.
            Более 4 тысяч квадратных метров экспозиции оставят незабываемое впечатление.</p>
        <p>Свободное время в Кракове для прогулки по уютным магазинчикам в центре города.</p>
        <p><span style="text-decoration:underline"><strong>День 4: Подземное королевство</strong></span><br>Завтрак
            в отеле. Выселение.</p>
        <p><strong>Отъезд из Кракова. Переезд в г. Величка. Посещение знаменитых соляных копей в Величке
                (дополнительно - 8 евро + входные билеты: взрослый - 21 евро/детский - 16 евро).</strong><br>Эти
            соляные копи являются единственным в мире горнопромышленным объектом, работающим без перерыва от
            средневековья до наших дней. Подземные залы и часовни из кристаллической соли, подземные озёра, солевые
            камеры и гроты, мосты и деревянные пешеходные тропы, изумительная часовня Благословенной Кинги со
            стенами, украшенными соляными барельефами, коллекция шахтерских машин. Подземный город, от 60 до 100м
            под поверхностью земли, ресторан, магазин с сувенирами, концертные и бальные залы.</p>
        <p>Во второй половине дня - отъезд в Украину. По дороге - посещение супермаркета TESCO (по
            возможности!).</p>
        <p><span style="text-decoration:underline"><strong>День 5: Дома всегда ждут!</strong></span><br>Прибытие в
            Киев с 12.00 - 15.00.</p>
        <p><span style="text-decoration:underline"><strong>В стоимость включено:</strong></span></p>
        <ul>
            <li>проезд комфортабельным автобусом из Киева по программе;</li>
            <li>размещение в отеле категории 2-4* (2 ночи);</li>
            <li>завтраки (шведский стол);</li>
            <li>сопровождение руководителем группы;</li>
            <li>экскурсии согласно программе;</li>
        </ul>
        <p><span style="text-decoration:underline"><strong>В стоимость НЕ включено:</strong></span></p>
        <ul>
            <li>личные расходы;</li>
            <li>дополнительные экскурсии по программе;</li>
            <li>медицинское страхование;</li>
        </ul>

</div>