<div class="tour-gallery">
    {% if pageName == "hot-details" %}
        <div class="recommended-badge">
            Топ продаж
        </div>
    {% else %}
        <div class="top-sales">
            Топ продаж
        </div>
    {% endif %}

    {#<div class="tour-gallery__current-slide js-current-slide">2/22</div>#}
    <div class="tour-gallery__slider tour-gallery-slider js-gallery-big" id="galleryBig">
        <div class="tour-gallery__item" data-fancybox-index="0">
            <img class="lazyload" data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h18059/orig/booking18059_1.jpg"
                 alt="">
        </div>
        <div class="tour-gallery__item" data-fancybox-index="1">
            <img class="lazyload" data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h18059/orig/booking18059_10.jpg"
                 alt="">
        </div>
        <div class="tour-gallery__item" data-fancybox-index="2">
            <img class="lazyload" data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h18059/orig/booking18059_11.jpg"
                 alt="">
        </div>
        <div class="tour-gallery__item" data-fancybox-index="3">
            <img class="lazyload" data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h18059/orig/booking18059_13.jpg"
                 alt="">
        </div>
        <div class="tour-gallery__item" data-fancybox-index="4">
            <img class="lazyload"
                    data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h18059/orig/booking18059_14.jpg"
                    alt=""></div>
        <div class="tour-gallery__item" data-fancybox-index="5">
            <img class="lazyload" data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h18059/orig/booking18059_1.jpg"
                 alt="">
        </div>
        <div class="tour-gallery__item" data-fancybox-index="6">
            <img class="lazyload" data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h18059/orig/booking18059_10.jpg"
                 alt="">
        </div>
        <div class="tour-gallery__item" data-fancybox-index="7">
            <img class="lazyload" data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h18059/orig/booking18059_11.jpg"
                 alt="">
        </div>
        <div class="tour-gallery__item" data-fancybox-index="8">
            <img class="lazyload" data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h18059/orig/booking18059_13.jpg"
                 alt="">
        </div>
    </div>
    <div class="tour-gallery__slider tour-gallery-nav js-gallery-thumbnail"
         id="galleryThumbnail">
        <div class="tour-gallery-nav__item">
            <img class="lazyload" data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h18059/orig/booking18059_1.jpg"
                 alt="">
        </div>
        <div class="tour-gallery-nav__item">
            <img class="lazyload" data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h18059/orig/booking18059_10.jpg"
                 alt="">
        </div>
        <div class="tour-gallery-nav__item">
            <img class="lazyload" data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h18059/orig/booking18059_11.jpg"
                 alt="">
        </div>
        <div class="tour-gallery-nav__item">
            <img class="lazyload" data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h18059/orig/booking18059_13.jpg"
                 alt="">
        </div>
        <div class="tour-gallery-nav__item">
            <img class="lazyload"
                    data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h18059/orig/booking18059_14.jpg"
                    alt="">
        </div>
        <div class="tour-gallery-nav__item">
            <img class="lazyload" data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h18059/orig/booking18059_1.jpg"
                 alt="">
        </div>
        <div class="tour-gallery-nav__item">
            <img class="lazyload" data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h18059/orig/booking18059_10.jpg"
                 alt="">
        </div>
        <div class="tour-gallery-nav__item">
            <img class="lazyload" data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h18059/orig/booking18059_11.jpg"
                 alt="">
        </div>
        <div class="tour-gallery-nav__item tour-gallery-nav__old">
            <img class="lazyload" data-src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h18059/orig/booking18059_13.jpg"
                 alt="">
            <div class="tour-gallery-nav__old-text">+10</div>
        </div>
    </div>
</div>