<div class="tour-gallery">
    <div class="top-sales">
        Топ продаж
    </div>
    <div class="tour-gallery-no-photo">
        <img src="Images/no-photo.jpg" alt="">
        <div class="tour-gallery-no-photo__text">На данный момент фото к этому отелю отсутсвуют :(</div>
    </div>
</div>