<section id="reviews" class="reviews-section">
    <h2 class="reviews-section__title details-small-heading">
        Отзывы об отеле Sharming Inn Hotel (ex. Sol Y Mar Sharming Inn) 4*
    </h2>
    <div class="reviews-section__content">
        <div class="reviews-section__count">Все отзывы туристов 45</div>
        <div class="reviews-section__total-reviews">
            <div class="total-reviews__facilities">
                <div class="total-reviews__progress-bar">
                    <svg class="radial-progress-bar" width="58" height="58" viewbox="0 0 58 58"
                         style="stroke-dasharray: 109.2, 140">
                        <use href="#progressbar"></use>
                        <text text-anchor="middle" x="50%" y="34" fill="#387c89">3.9/5</text>
                    </svg>
                </div>
                <div class="total-reviews__facilities-items">
                    <div class="total-reviews__facilities-item">Расположение -
                        <span class="total-reviews__rating">4</span>
                    </div>
                    <div class="total-reviews__facilities-item">Питание -
                        <span class="total-reviews__rating">4</span>
                    </div>
                    <div class="total-reviews__facilities-item">Номера -
                        <span class="total-reviews__rating">4</span>
                    </div>
                    <div class="total-reviews__facilities-item">Развлечения -
                        <span class="total-reviews__rating">4</span>
                    </div>
                    <div class="total-reviews__facilities-item">Обслуживание -
                        <span class="total-reviews__rating">4</span>
                    </div>
                </div>
                <button class="btn btn-brand btn-brand--cloudBurst total-reviews__leave-feedback" data-toggle="modal" data-target="#modal-reviews">
                    Оставить отзыв
                </button>
            </div>
        </div>
        <div class="reviews-section__reviews-body">
            <div class="reviews-section__item">

                <svg class="radial-progress-bar" width="58" height="58" viewbox="0 0 58 58"
                     style="stroke-dasharray: 109.2, 140">
                    <use href="#progressbar"></use>
                    <text text-anchor="middle" x="50%" y="34" fill="#387c89">3.9/5</text>
                </svg>

                <div class="reviews-section__item-wrapper">
                    <div class="reviews-section__heading-content">
                        <div class="reviews-section__user-name">Юлия</div>
                        <div class="reviews-section__comment-date">
                            11 окт 2019
                        </div>
                        <div class="reviews-section__recommendation">
                            <svg class="reviews-section__recomendation-icon" width="24" height="24">
                                <use xlink:href="Images/icons-search.svg#recomend"></use>
                            </svg>
                            Рекомендует отель
                        </div>
                    </div>
                    <div class="reviews-section__commentary">
                        <div class="jsTouristCommentAnnouncement">Приехала я отдыхать со своей подругой, долго
                            собирались наконец-то собрались, выбирали отель наугад .Должна сразу предупредить тех кто
                            любит завышенной комфорт, чтобы было всё идеально, то я думаю вам нужно платить побольше
                            денег и выбирать другие места. А за эти деньги которые мы заплатили я считаю что это просто
                            прекрасный отель. Номер у нас был стандартный. С необходимая мебель и пусть даже не новый но
                            зато удобной.А еще имелось TВ, чайник со всеми принадлежностями( кофе, чай, сахар),
                            холодильник, телефон.У нас был балкон на котором стояли удобные кресла, столик, на столике
                            была пепельница, как раз кстати потому что подруга очень много курит. Всё работало ничего не
                            ломалось и нам этого, было достаточно. Что касается территории отеля то она была очень
                            красочной и ухоженной. Приятно что днем, что вечерами по ней прогуливаться. Персонал тут
                            говорит на несколько языках. Многие аниматоры говорят на русском пусть не очень хорошо, но
                            всё-таки. Аниматоры есть детские и взрослые,
                        </div>
                        <div class="collapse" id="collapse0"> Приехала я отдыхать со своей подругой, долго собирались
                            наконец-то собрались, выбирали отель наугад .Должна сразу предупредить тех кто любит
                            завышенной комфорт, чтобы было всё идеально, то я думаю вам нужно платить побольше денег и
                            выбирать другие места. А за эти деньги которые мы заплатили я считаю что это просто
                            прекрасный отель. Номер у нас был стандартный. С необходимая мебель и пусть даже не новый но
                            зато удобной.А еще имелось TВ, чайник со всеми принадлежностями( кофе, чай, сахар),
                            холодильник, телефон.У нас был балкон на котором стояли удобные кресла, столик, на столике
                            была пепельница, как раз кстати потому что подруга очень много курит. Всё работало ничего не
                            ломалось и нам этого, было достаточно. Что касается территории отеля то она была очень
                            красочной и ухоженной. Приятно что днем, что вечерами по ней прогуливаться. Персонал тут
                            говорит на несколько языках. Многие аниматоры говорят на русском пусть не очень хорошо, но
                            всё-таки. Аниматоры есть детские и взрослые, устраивают разные развлечения, конкурсы,
                            представления. Всегда с ними очень весело, увлекают нас всякие игры.Например волейбол,
                            многие занимались водной гимнастикой, аэробикой. Понравился аква-центр с различными водными
                            видов спорта. Заказали экскурсии на medaliontours.com , у гида Mohamed amon +201027660085
                            ….местный частный ..был профессионал.Посетили остров Утопия, ездили на квадроциклах по
                            Сафари и посетили город Луксор. Впечатление было Вау не перечесть. Мы тоже попробовали
                            подводное плавание. Подводный мир очень красочный очень разнообразный тоже. Посещали храмы и
                            Ездили на пирамиды , грех было упустить такой шанс. Сделали отличные фотоки у нас уже
                            инстаграм горит лайками!!!. Приходилось постоянно посещать спортзал, заниматься на
                            тренажерах, потому что после вкусной и обильной еды, боялись не влезть в штаны.Ходили курить
                            кальян мне если честно не понравилось, но подруга была счастлива. Пляж был песчаным и море
                            прозрачным. Кругом лежаки, матрасы, зонтики, перегородки. В общем пляжная атрибутика. Также
                            на пляже был бар где можно было и выпить и закусить.Бар и возле бассейна был, можно было не
                            вылезать из воды и при этом наслаждаться каким-нибудь напитком.Проводилась дискотека, можно
                            было хорошенько поплясать, что мы делали. В ресторанах подают прекрасную кухню, мы ходили в
                            азиатский ресторан, в итальянский пару раз. Чаще всего в главном ресторане нравился
                            тематический шведский стол.Всегда что-то новенькое, вкусненькое, особенно выпечка на ней мы
                            как раз таки и толстели. Многие отдыхали тут семьями, некоторые приезжали уже даже несколько
                            раз и очень расхваливали, что они были в других местах, но тут им понравилось больше. Нам
                            тут тоже нравилось. Ну что сказать напоследок всё было супер! Мы с подругой оторвались по
                            полной.Думаю наши приятные воспоминания будут долго греть нас в эту длинную зиму.
                        </div>
                    </div>
                    <a href="#collapse0" data-toggle="collapse"
                       class="reviews-section__readMore-btn jsTouristCommentReadMore">
                        Читать полностью
                    </a>
                    <div class="slick-carousel-wrap">
                        <div class="reviews-carousel slick-carousel js-detail-reviews-carousel">
                            <div class="reviews-carousel__item">
                                <a class="js-adv-feedback-fancybox" data-fancybox="reviews-group-1"
                                   href="https://www.turne.com.ua/reviewdata/pimg/4495889/af7943f0-c1d3-4069-bfa1-439a38f0bc8d_orig.jpg">
                                    <img class="lazyload" src=""
                                         data-src="https://www.turne.com.ua/reviewdata/pimg/4495889/af7943f0-c1d3-4069-bfa1-439a38f0bc8d_orig.jpg">
                                </a>
                            </div>
                            <div class="reviews-carousel__item">
                                <a class="js-adv-feedback-fancybox" data-fancybox="reviews-group-1"
                                   href="https://www.youtube.com/watch?v=rbCCe0liJ48&t=13s">
                                    <img class="lazyload" src=""
                                         data-src="https://img.youtube.com/vi/rbCCe0liJ48/mqdefault.jpg">
                                </a>
                            </div>
                            <div class="reviews-carousel__item">
                                <a class="js-adv-feedback-fancybox" data-fancybox="reviews-group-1"
                                   href="https://www.turne.com.ua/reviewdata/pimg/4495889/4851e836-ec76-431c-a998-d66027b6a472_orig.jpg">
                                    <img class="lazyload" src=""
                                         data-src="https://www.turne.com.ua/reviewdata/pimg/4495889/4851e836-ec76-431c-a998-d66027b6a472_orig.jpg">
                                </a>
                            </div>
                            <div class="reviews-carousel__item">
                                <a class="js-adv-feedback-fancybox" data-fancybox="reviews-group-1"
                                   href="https://www.turne.com.ua/reviewdata/pimg/4495889/cd888c23-179f-4e65-90b8-7f70ef8502a7_orig.jpg">
                                    <img class="lazyload" src=""
                                         data-src="https://www.turne.com.ua/reviewdata/pimg/4495889/cd888c23-179f-4e65-90b8-7f70ef8502a7_orig.jpg">
                                </a>
                            </div>
                            <div class="reviews-carousel__item">
                                <a class="js-adv-feedback-fancybox" data-fancybox="reviews-group-1"
                                   href="https://www.turne.com.ua/reviewdata/pimg/4495889/77417feb-5260-4607-b9d5-59baa03acce9_orig.jpg">
                                    <img class="lazyload" src=""
                                         data-src="https://www.turne.com.ua/reviewdata/pimg/4495889/77417feb-5260-4607-b9d5-59baa03acce9_orig.jpg">
                                </a>
                            </div>
                            <div class="reviews-carousel__item">
                                <a class="js-adv-feedback-fancybox" data-fancybox="reviews-group-1"
                                   href="https://www.turne.com.ua/reviewdata/pimg/4495889/77417feb-5260-4607-b9d5-59baa03acce9_orig.jpg">
                                    <img class="lazyload" src=""
                                         data-src="https://www.turne.com.ua/reviewdata/pimg/4495889/77417feb-5260-4607-b9d5-59baa03acce9_orig.jpg">
                                </a>
                            </div>
                            <div class="reviews-carousel__item">
                                <a class="js-adv-feedback-fancybox" data-fancybox="reviews-group-1"
                                   href="https://www.turne.com.ua/reviewdata/pimg/4495889/77417feb-5260-4607-b9d5-59baa03acce9_orig.jpg">
                                    <img class="lazyload" src=""
                                         data-src="https://www.turne.com.ua/reviewdata/pimg/4495889/77417feb-5260-4607-b9d5-59baa03acce9_orig.jpg">
                                </a>
                            </div>
                        </div>
                        <div class="slick-navigation">
                            <div class="js-dots"></div>
                        </div>
                    </div>
                </div>
                <div class="reviews-section__review-rating">
                    <div class="reviews-section__rating-item">
                        Расположение
                        <span class="reviews-section__rating">4</span>
                    </div>
                    <div class="reviews-section__rating-item">
                        Питание
                        <span class="reviews-section__rating">4</span>
                    </div>
                    <div class="reviews-section__rating-item">
                        Номера
                        <span class="reviews-section__rating">4</span>
                    </div>
                    <div class="reviews-section__rating-item">
                        Развлечения
                        <span class="reviews-section__rating">4</span>
                    </div>
                    <div class="reviews-section__rating-item">
                        Обслуживание
                        <span class="reviews-section__rating">4</span>
                    </div>
                </div>
            </div>

            <div class="reviews-section__item">

                <svg class="radial-progress-bar" width="58" height="58" viewbox="0 0 58 58"
                     style="stroke-dasharray: 109.2, 140">
                    <use href="#progressbar"></use>
                    <text text-anchor="middle" x="50%" y="34" fill="#387c89">3.9/5</text>
                </svg>

                <div class="reviews-section__item-wrapper">
                    <div class="reviews-section__heading-content">
                        <div class="reviews-section__user-name">Юлия</div>
                        <div class="reviews-section__comment-date">
                            11 окт 2019
                        </div>
                        <div class="reviews-section__recommendation">
                            <svg class="reviews-section__recomendation-icon reviews-section__recomendation-icon--rotate"
                                 width="24" height="24">
                                <use xlink:href="Images/icons-search.svg#recomend"></use>
                            </svg>
                            Не рекомендует отель
                        </div>
                    </div>
                    <div class="reviews-section__commentary">
                        <div class="jsTouristCommentAnnouncement">Приехала я отдыхать со своей подругой, долго
                            собирались наконец-то собрались, выбирали отель наугад .Должна сразу предупредить тех кто
                            любит завышенной комфорт, чтобы было всё идеально, то я думаю вам нужно платить побольше
                            денег и выбирать другие места. А за эти деньги которые мы заплатили я считаю что это просто
                            прекрасный отель. Номер у нас был стандартный. С необходимая мебель и пусть даже не новый но
                            зато удобной.А еще имелось TВ, чайник со всеми принадлежностями( кофе, чай, сахар),
                            холодильник, телефон.У нас был балкон на котором стояли удобные кресла, столик, на столике
                            была пепельница, как раз кстати потому что подруга очень много курит. Всё работало ничего не
                            ломалось и нам этого, было достаточно. Что касается территории отеля то она была очень
                            красочной и ухоженной. Приятно что днем, что вечерами по ней прогуливаться. Персонал тут
                            говорит на несколько языках. Многие аниматоры говорят на русском пусть не очень хорошо, но
                            всё-таки. Аниматоры есть детские и взрослые,
                        </div>
                        <div class="collapse" id="collapse1"> Приехала я отдыхать со своей подругой, долго собирались
                            наконец-то собрались, выбирали отель наугад .Должна сразу предупредить тех кто любит
                            завышенной комфорт, чтобы было всё идеально, то я думаю вам нужно платить побольше денег и
                            выбирать другие места. А за эти деньги которые мы заплатили я считаю что это просто
                            прекрасный отель. Номер у нас был стандартный. С необходимая мебель и пусть даже не новый но
                            зато удобной.А еще имелось TВ, чайник со всеми принадлежностями( кофе, чай, сахар),
                            холодильник, телефон.У нас был балкон на котором стояли удобные кресла, столик, на столике
                            была пепельница, как раз кстати потому что подруга очень много курит. Всё работало ничего не
                            ломалось и нам этого, было достаточно. Что касается территории отеля то она была очень
                            красочной и ухоженной. Приятно что днем, что вечерами по ней прогуливаться. Персонал тут
                            говорит на несколько языках. Многие аниматоры говорят на русском пусть не очень хорошо, но
                            всё-таки. Аниматоры есть детские и взрослые, устраивают разные развлечения, конкурсы,
                            представления. Всегда с ними очень весело, увлекают нас всякие игры.Например волейбол,
                            многие занимались водной гимнастикой, аэробикой. Понравился аква-центр с различными водными
                            видов спорта. Заказали экскурсии на medaliontours.com , у гида Mohamed amon +201027660085
                            ….местный частный ..был профессионал.Посетили остров Утопия, ездили на квадроциклах по
                            Сафари и посетили город Луксор. Впечатление было Вау не перечесть. Мы тоже попробовали
                            подводное плавание. Подводный мир очень красочный очень разнообразный тоже. Посещали храмы и
                            Ездили на пирамиды , грех было упустить такой шанс. Сделали отличные фотоки у нас уже
                            инстаграм горит лайками!!!. Приходилось постоянно посещать спортзал, заниматься на
                            тренажерах, потому что после вкусной и обильной еды, боялись не влезть в штаны.Ходили курить
                            кальян мне если честно не понравилось, но подруга была счастлива. Пляж был песчаным и море
                            прозрачным. Кругом лежаки, матрасы, зонтики, перегородки. В общем пляжная атрибутика. Также
                            на пляже был бар где можно было и выпить и закусить.Бар и возле бассейна был, можно было не
                            вылезать из воды и при этом наслаждаться каким-нибудь напитком.Проводилась дискотека, можно
                            было хорошенько поплясать, что мы делали. В ресторанах подают прекрасную кухню, мы ходили в
                            азиатский ресторан, в итальянский пару раз. Чаще всего в главном ресторане нравился
                            тематический шведский стол.Всегда что-то новенькое, вкусненькое, особенно выпечка на ней мы
                            как раз таки и толстели. Многие отдыхали тут семьями, некоторые приезжали уже даже несколько
                            раз и очень расхваливали, что они были в других местах, но тут им понравилось больше. Нам
                            тут тоже нравилось. Ну что сказать напоследок всё было супер! Мы с подругой оторвались по
                            полной.Думаю наши приятные воспоминания будут долго греть нас в эту длинную зиму.
                        </div>
                    </div>
                    <a href="#collapse1" data-toggle="collapse"
                       class="reviews-section__readMore-btn jsTouristCommentReadMore">
                        Читать полностью
                    </a>
                </div>
                <div class="reviews-section__review-rating">
                    <div class="reviews-section__rating-item">
                        Расположение
                        <span class="reviews-section__rating">4</span>
                    </div>
                    <div class="reviews-section__rating-item">
                        Питание
                        <span class="reviews-section__rating">4</span>
                    </div>
                    <div class="reviews-section__rating-item">
                        Номера
                        <span class="reviews-section__rating">4</span>
                    </div>
                    <div class="reviews-section__rating-item">
                        Развлечения
                        <span class="reviews-section__rating">4</span>
                    </div>
                    <div class="reviews-section__rating-item">
                        Обслуживание
                        <span class="reviews-section__rating">4</span>
                    </div>
                </div>
            </div>
            <a class="btn btn-brand btn-brand--white btn-brand--rounded btn--show-all reviews-section__btn" href="#">СМОТРЕТЬ
                ВСЕ</a>
        </div>
    </div>
</section>
