<section class="hotel-info__section hotel-info">
    <h2 class="details-small-heading">
        Общая информация об отеле
    </h2>
    <div><p>Отель California 4*, расположен в красивейшем районе Дурреса. <br> Гостиница
            California предлагает своим гостям комфортабельные номера со всеми удобствами и интерьером в современном
            стиле, вкусное и разнообразное питание, богатую инфраструктуру, а приветливый персонал предоставит широкий
            спектр сервисных услуг.<strong>&nbsp;<br><br></strong><strong>Расположение:<br></strong><br> Отель
            расположен в рекреационной зоне Дуррес, в 10 км от центра, примерно в 50 км от Тираны, в 300 метрах от
            песчаного пляжа.<br> Дуррес является одним из старейших городов в Албании на Адриатическом море. Туристы в
            основном привлекают широкие песчаные пляжи, римские памятники и живописные гавани. Дуррес наиболее
            популярный курорт на албанском побережье.<strong><br><br>Номера:</strong></p>
        <ul>
            <li>- 2 чел. с возможностью 1 или 2 дополнительных</li>
        </ul>
        <p><br> <strong>Описание номеров:</strong></p>
        <ul>
            <li>- ванная комната (ванна или душ),</li>
            <li>- ЖК-телевизор,</li>
            <li>- кондиционер,</li>
            <li>- мини-бар (за дополнительную плату),</li>
            <li>- Wi-Fi,</li>
            <li>- балкон.</li>
        </ul>
        <p><strong>Инфраструктура и услуги:</strong></p>
        <ul>
            <li>- 2 ресторана, бар</li>
            <li>- Крытый бассейн, открытый бассейн с прекрасным садом</li>
            <li>- Бесплатный Wi-Fi / бассейн</li>
            <li>- Сауна, фитнес</li>
            <li>- Лифт, сейф на рецепции, конференц-зал</li>
            <li>- Сувенирный магазин</li>
        </ul>
        <p><strong>Питание:</strong></p>
        <ul>
            <li>завтрак и ужин шведский стол, напитки за дополнительную плату.</li>
        </ul>
        <p><strong>&nbsp;Спорт и досуг</strong></p>
        <ul>
            <li><span>Фитнес-центр, </span></li>
            <li><span>Плавательный бассейн, </span></li>
            <li><span>Закрытый бассейн</span></li>
        </ul>
        <p><br> &nbsp;&nbsp;</p></div>
</section>





