<div class="slick-carousel-wrap hotel-tours-wrap">
    <div class="hotel-tours slick-carousel slick-carousel--only-mobile js-detail-tours-carousel">
        <div class="hotel-tours__item">
            <div class="hotel-tours__th col-200">Дата/длительность</div>
            <div class="hotel-tours__th">Вылет из</div>
            <div class="hotel-tours__th">Туроператор</div>
            <div class="hotel-tours__th">Тип номера</div>
            <div class="hotel-tours__th col-140">Питание</div>
            <div class="hotel-tours__th">Цена за тур</div>
            <div class="hotel-tours__th col-140">Заказать</div>
        </div>
        <div class="hotel-tours__item slick-carousel-item">
            <div class="hotel-tours__td">
                <svg class="hotel-tours__icon" width="16" height="16">
                    <use xlink:href="Images/icons-search.svg#date2"></use>
                </svg>
                <div>
                    <span class="hotel-tours__date">17.10 - 24.10</span>
                    <span class="hotel-tours__duration">7 ночей</span>
                </div>
            </div>
            <div class="hotel-tours__td">
                <svg class="hotel-tours__icon" width="16" height="16">
                    <use xlink:href="Images/icons-search.svg#plane"></use>
                </svg>
                <div>
                    <span class="hide-desktop">Вылет из </span>Днепропетровск
                </div>
            </div>
            <div class="hotel-tours__td">
                <img class="hotel-tours__logo" src="https://img.poehalisnami.ua/contentdata/operatorlogo/anex-tour.png" alt="">
            </div>
            <div class="hotel-tours__td">
                <svg class="hotel-tours__icon" width="16" height="16">
                    <use xlink:href="Images/icons-search.svg#rooms"></use>
                </svg>
                Standart Room
            </div>
            <div class="hotel-tours__td">
                <svg class="hotel-tours__icon" width="16" height="16">
                    <use xlink:href="Images/icons-search.svg#food"></use>
                </svg>
                AI (все включено)
            </div>
            <div class="hotel-tours__td"><b class="hotel-tours__price">17 500 грн</b></div>
            <div class="hotel-tours__td">
                <div class="hotel-tours__buy-tour">
                    <button class="btn btn-brand btn-brand--orange" type="button" data-toggle="modal" data-target="#applicationModalmobile">
                        Оставить заявку
                    </button>
                    {#<a href="#" class="btn btn-brand btn-brand--white hotel-tours__buy-btn">Забронировать</a>#}
                </div>
            </div>
        </div>
        <div class="hotel-tours__item slick-carousel-item">
            <div class="hotel-tours__td">
                <svg class="hotel-tours__icon" width="16" height="16">
                    <use xlink:href="Images/icons-search.svg#date2"></use>
                </svg>
                <div>
                    <span class="hotel-tours__date">17.10 - 24.10</span>
                    <span class="hotel-tours__duration">7 ночей</span>
                </div>
            </div>
            <div class="hotel-tours__td">
                <svg class="hotel-tours__icon" width="16" height="16">
                    <use xlink:href="Images/icons-search.svg#plane"></use>
                </svg>
                <div>
                    <span class="hide-desktop">Вылет из </span>Днепропетровск
                </div>
            </div>
            <div class="hotel-tours__td">
                <img class="hotel-tours__logo" src="https://img.poehalisnami.ua/contentdata/operatorlogo/join-up.png" alt="">
            </div>
            <div class="hotel-tours__td">
                <svg class="hotel-tours__icon" width="16" height="16">
                    <use xlink:href="Images/icons-search.svg#rooms"></use>
                </svg>
                Standart Room
            </div>
            <div class="hotel-tours__td">
                <svg class="hotel-tours__icon" width="16" height="16">
                    <use xlink:href="Images/icons-search.svg#food"></use>
                </svg>
                AI (все включено)
            </div>
            <div class="hotel-tours__td"><b class="hotel-tours__price">17 500 грн</b></div>
            <div class="hotel-tours__td">
                <div class="hotel-tours__buy-tour">
                    <button class="btn btn-brand btn-brand--orange" type="button" data-toggle="modal" data-target="#applicationModalmobile">
                        Оставить заявку
                    </button>
                    {#<a href="#" class="btn btn-brand btn-brand--white hotel-tours__buy-btn">Забронировать</a>#}
                </div>
            </div>
        </div>
        <div class="hotel-tours__item slick-carousel-item">
            <div class="hotel-tours__td">
                <svg class="hotel-tours__icon" width="16" height="16">
                    <use xlink:href="Images/icons-search.svg#date2"></use>
                </svg>
                <div>
                    <span class="hotel-tours__date">17.10 - 24.10</span>
                    <span class="hotel-tours__duration">7 ночей</span>
                </div>
            </div>
            <div class="hotel-tours__td">
                <svg class="hotel-tours__icon" width="16" height="16">
                    <use xlink:href="Images/icons-search.svg#plane"></use>
                </svg>
                <div>
                    <span class="hide-desktop">Вылет из </span>Днепропетровск
                </div>
            </div>
            <div class="hotel-tours__td">
                <img class="hotel-tours__logo" src="https://img.poehalisnami.ua/contentdata/operatorlogo/mouzenidis.png" alt="">
            </div>
            <div class="hotel-tours__td">
                <svg class="hotel-tours__icon" width="16" height="16">
                    <use xlink:href="Images/icons-search.svg#rooms"></use>
                </svg>
                Standart Room
            </div>
            <div class="hotel-tours__td">
                <svg class="hotel-tours__icon" width="16" height="16">
                    <use xlink:href="Images/icons-search.svg#food"></use>
                </svg>
                AI (все включено)
            </div>
            <div class="hotel-tours__td"><b class="hotel-tours__price">17 500 грн</b></div>
            <div class="hotel-tours__td">
                <div class="hotel-tours__buy-tour">
                    <button class="btn btn-brand btn-brand--orange" type="button" data-toggle="modal" data-target="#applicationModalmobile">
                        Оставить заявку
                    </button>
                    {#<a href="#" class="btn btn-brand btn-brand--white hotel-tours__buy-btn">Забронировать</a>#}
                </div>
            </div>
        </div>
        <div class="hotel-tours__item slick-carousel-item">
            <div class="hotel-tours__td">
                <svg class="hotel-tours__icon" width="16" height="16">
                    <use xlink:href="Images/icons-search.svg#date2"></use>
                </svg>
                <div>
                    <span class="hotel-tours__date">17.10 - 24.10</span>
                    <span class="hotel-tours__duration">7 ночей</span>
                </div>
            </div>
            <div class="hotel-tours__td">
                <svg class="hotel-tours__icon" width="16" height="16">
                    <use xlink:href="Images/icons-search.svg#plane"></use>
                </svg>
                <div>
                    <span class="hide-desktop">Вылет из </span>Днепропетровск
                </div>
            </div>
            <div class="hotel-tours__td">
                <img class="hotel-tours__logo" src="https://img.poehalisnami.ua/contentdata/operatorlogo/mouzenidis.png" alt="">
            </div>
            <div class="hotel-tours__td">
                <svg class="hotel-tours__icon" width="16" height="16">
                    <use xlink:href="Images/icons-search.svg#rooms"></use>
                </svg>
                Standart Room
            </div>
            <div class="hotel-tours__td">
                <svg class="hotel-tours__icon" width="16" height="16">
                    <use xlink:href="Images/icons-search.svg#food"></use>
                </svg>
                AI (все включено)
            </div>
            <div class="hotel-tours__td"><b class="hotel-tours__price">17 500 грн</b></div>
            <div class="hotel-tours__td">
                <div class="hotel-tours__buy-tour">
                    <button class="btn btn-brand btn-brand--orange" type="button" data-toggle="modal" data-target="#applicationModalmobile">
                        Оставить заявку
                    </button>
                    {#<a href="#" class="btn btn-brand btn-brand--white hotel-tours__buy-btn">Забронировать</a>#}
                </div>
            </div>
        </div>
        <div class="hotel-tours__item slick-carousel-item">
            <div class="hotel-tours__td">
                <svg class="hotel-tours__icon" width="16" height="16">
                    <use xlink:href="Images/icons-search.svg#date2"></use>
                </svg>
                <div>
                    <span class="hotel-tours__date">17.10 - 24.10</span>
                    <span class="hotel-tours__duration">7 ночей</span>
                </div>
            </div>
            <div class="hotel-tours__td">
                <svg class="hotel-tours__icon" width="16" height="16">
                    <use xlink:href="Images/icons-search.svg#plane"></use>
                </svg>
                <div>
                    <span class="hide-desktop">Вылет из </span>Днепропетровск
                </div>
            </div>
            <div class="hotel-tours__td">
                <img class="hotel-tours__logo" src="https://img.poehalisnami.ua/contentdata/operatorlogo/join-up.png" alt="">
            </div>
            <div class="hotel-tours__td">
                <svg class="hotel-tours__icon" width="16" height="16">
                    <use xlink:href="Images/icons-search.svg#rooms"></use>
                </svg>
                Standart Room
            </div>
            <div class="hotel-tours__td">
                <svg class="hotel-tours__icon" width="16" height="16">
                    <use xlink:href="Images/icons-search.svg#food"></use>
                </svg>
                AI (все включено)
            </div>
            <div class="hotel-tours__td"><b class="hotel-tours__price">17 500 грн</b></div>
            <div class="hotel-tours__td">
                <div class="hotel-tours__buy-tour">
                    <button class="btn btn-brand btn-brand--orange" type="button" data-toggle="modal" data-target="#applicationModalmobile">
                        Оставить заявку
                    </button>
                    {#<a href="#" class="btn btn-brand btn-brand--white hotel-tours__buy-btn">Забронировать</a>#}
                </div>
            </div>
        </div>
        <div class="hotel-tours__item slick-carousel-item">
            <div class="hotel-tours__td">
                <svg class="hotel-tours__icon" width="16" height="16">
                    <use xlink:href="Images/icons-search.svg#date2"></use>
                </svg>
                <div>
                    <span class="hotel-tours__date">17.10 - 24.10</span>
                    <span class="hotel-tours__duration">7 ночей</span>
                </div>
            </div>
            <div class="hotel-tours__td">
                <svg class="hotel-tours__icon" width="16" height="16">
                    <use xlink:href="Images/icons-search.svg#plane"></use>
                </svg>
                <div>
                    <span class="hide-desktop">Вылет из </span>Днепропетровск
                </div>
            </div>
            <div class="hotel-tours__td">
                <img class="hotel-tours__logo" src="https://img.poehalisnami.ua/contentdata/operatorlogo/join-up.png" alt="">
            </div>
            <div class="hotel-tours__td">
                <svg class="hotel-tours__icon" width="16" height="16">
                    <use xlink:href="Images/icons-search.svg#rooms"></use>
                </svg>
                Standart Room
            </div>
            <div class="hotel-tours__td">
                <svg class="hotel-tours__icon" width="16" height="16">
                    <use xlink:href="Images/icons-search.svg#food"></use>
                </svg>
                AI (все включено)
            </div>
            <div class="hotel-tours__td"><b class="hotel-tours__price">17 500 грн</b></div>
            <div class="hotel-tours__td">
                <div class="hotel-tours__buy-tour">
                    <button class="btn btn-brand btn-brand--orange" type="button" data-toggle="modal" data-target="#applicationModalmobile">
                        Оставить заявку
                    </button>
                    {#<a href="#" class="btn btn-brand btn-brand--white hotel-tours__buy-btn">Забронировать</a>#}
                </div>
            </div>
        </div>
    </div>
    <div class="slick-navigation">
        {#<div class="js-dots"></div>#}
    </div>
</div>
<a class="btn btn-brand btn-brand--white btn-brand--rounded btn--show-all" href="#">Показать еще</a>
