<section id="hotel-desc" class="hotel-info__section hotel-info">
    <h2 class="details-small-heading">
        Общая информация об отеле
    </h2>

        <div class="text-collapse-wrap hotel-info__text-collapse">
            <div class="articles-wrap text-collapse text-collapse--shadow">
                <p>
                    <span style="font-weight:400">Отель Reef Oasis Blue Bay Resort &amp; Spa 5* расположен на первой береговой линии в бухте Рас-Умм-Сид. Это место подойдет для отдыха и семейных пар с детьми, и молодежи. В 8 км отсюда находится ТРЦ «1001 ночь», в 5 км — бухта Наама-Бей, а к ближайшему аэропорту — 15 км.</span>
                </p>
                <p><span style="font-weight:400">Резорт представляет собой комплекс двухэтажных корпусов. Всего в гостинице насчитывается 698 номеров. Купить тур в отель Риф Оазис Блю Бей могут и люди с ограниченными возможностями, для них обустроены специальные уютные апартаменты. Все номера с кондиционерами, телевизорами, балконом и ванной комнатой. Бесплатно предоставляется пользование сейфом, телефоном, феном и мини-баром. Room service платный.</span></p>
                <p>
                    <span style="font-weight:400">Отель Reef Oasis Blue Bay Resort &amp; Spa 5* расположен на первой береговой линии в бухте Рас-Умм-Сид. Это место подойдет для отдыха и семейных пар с детьми, и молодежи. В 8 км отсюда находится ТРЦ «1001 ночь», в 5 км — бухта Наама-Бей, а к ближайшему аэропорту — 15 км.</span>
                </p>
                <p><span style="font-weight:400">Резорт представляет собой комплекс двухэтажных корпусов. Всего в гостинице насчитывается 698 номеров. Купить тур в отель Риф Оазис Блю Бей могут и люди с ограниченными возможностями, для них обустроены специальные уютные апартаменты. Все номера с кондиционерами, телевизорами, балконом и ванной комнатой. Бесплатно предоставляется пользование сейфом, телефоном, феном и мини-баром. Room service платный.</span></p>

            </div>
        </div>

    {#<div>
        <p>
            <span style="font-weight:400">Отель Reef Oasis Blue Bay Resort &amp; Spa 5* расположен на первой береговой линии в бухте Рас-Умм-Сид. Это место подойдет для отдыха и семейных пар с детьми, и молодежи. В 8 км отсюда находится ТРЦ «1001 ночь», в 5 км — бухта Наама-Бей, а к ближайшему аэропорту — 15 км.</span>
        </p>
        <p><span style="font-weight:400">Резорт представляет собой комплекс двухэтажных корпусов. Всего в гостинице насчитывается 698 номеров. Купить тур в отель Риф Оазис Блю Бей могут и люди с ограниченными возможностями, для них обустроены специальные уютные апартаменты. Все номера с кондиционерами, телевизорами, балконом и ванной комнатой. Бесплатно предоставляется пользование сейфом, телефоном, феном и мини-баром. Room service платный.</span></p>
    </div>#}
    <div class="hotel-info__content-block">
        <div class="hotel-info__items">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="hotel-info__item-title active" id="v-pills-info-tab" data-toggle="pill" href="#v-pills-info">
                    Об отеле
                </a>
                <a class=" hotel-info__item-title" id="v-pills-location-tab" data-toggle="pill"
                   href="#v-pills-place">
                    Местоположение
                </a>
                <a class=" hotel-info__item-title" id="v-pills-hotelTerritory-tab" data-toggle="pill"
                   href="#v-pills-territory">
                    Территория
                </a>
                <a class="hotel-info__item-title" id="v-pills-beach-tab" data-toggle="pill" href="#v-pills-beach">
                    Пляж
                </a>
                <a class="hotel-info__item-title" id="v-pills-pool-tab" data-toggle="pill" href="#v-pills-room"
                   role="tab" aria-controls="v-pills-pool" aria-selected="false">
                    Номера
                </a>
                <a class="hotel-info__item-title" id="v-pills-pool-tab" data-toggle="pill" href="#v-pills-pool">
                    Бассейны
                </a>
                <a class="hotel-info__item-title" id="v-pills-entertainment-tab" data-toggle="pill"
                   href="#v-pills-sport">
                    Развлечение и спорт
                </a>
                <a class="hotel-info__item-title" id="v-pills-forChildren-tab" data-toggle="pill"
                   href="#v-pills-kids">
                    Для детей
                </a>
            </div>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active desc" id="v-pills-info">
                <a class="hotel-info__collapse-heading" data-toggle="collapse" href="#collapse-info">
                    Об отеле
                    <span class="arrow-icon"></span>
                </a>
                <div id="collapse-info" class="collapse show">
                    <div class="desc__content">
                        <div class="label label--desc-content">Пляжный</div>
                        <div class="label label--desc-content">все включено</div>
                        <div class="label label--desc-content">Check-in 14:00</div>
                        <div class="label label--desc-content">Check-out 12:00</div>
                        <p class="desc__content-additional"><strong class="color--blue-accent">Время
                                постройки/реконструкции:</strong> 2002/2017</p>
                        <p class="desc__content-additional"><strong class="color--blue-accent">Дополнительная информация
                                о питании:</strong></p>
                        <p><strong>Система питания</strong>:</p>
                        <ul>
                            <li>HB (завтрак+ужин),&nbsp; AI (всё включено)</li>
                            <li><strong>Система «все включено»</strong> работает с 10:00 до 00:00, включает алкогольные
                                и безалкогольные напитки местного производства (за исключением вина). Все напитки
                                подаются в стаканах по одному за раз.&nbsp;
                            </li>
                            <li><strong>За отдельную плату:</strong> молочные коктейли, эспрессо, воздушный кофе, свежий
                                сок, импортные алкогольные напитки, напитки в бутылках.<br><br></li>
                        </ul>
                        <p class="desc__content-additional"><strong class="color--blue-accent">Виды номеров:</strong>
                        </p>
                        <ul>
                            <li><strong>Standard Room </strong>(30 м2, макс. 3 чел., вид из номера на сад/бассейн)</li>
                        </ul>
                        <p class="desc__content-additional"><strong class="color--blue-accent">Типы корпусов:</strong>
                        </p>
                        <p><span>&nbsp;Отель состоит из комплекса 2х-этажных зданий</span></p>
                        <p class="desc__content-additional"><strong class="color--blue-accent">Дополнительно об отеле
                                Sharm Inn Amarein:</strong></p>
                        <ul>
                            <li>Вызов врача (платно)</li>
                            <li>сейф на ресепш</li>
                            <li>автобус на пляж по расписанию (2 пляжа, арендуемых отелем (коралловый El Fanar -
                                расстояние 5 км, и песчаный - Marhaba 10 км)
                            </li>
                            <li>аптека</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade desc" id="v-pills-place">
                <a class="hotel-info__collapse-heading collapsed" data-toggle="collapse" href="#collapse-location">
                    Местоположение
                    <span class="arrow-icon"></span>
                </a>
                <div id="collapse-location" class="collapse">
                    <div class="desc__content">
                        <div class="label label--desc-content">2 линия (до моря нужно пройтись)</div>
                        <div class="media media--desc">
                            <div class="media__image"><span class="label">20</span></div>
                            <div class="media__body">Расстояние до аэропорта, км</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade desc" id="v-pills-territory">
                <a class="hotel-info__collapse-heading collapsed" data-toggle="collapse" href="#collapse-territory">
                    Территория
                    <span class="arrow-icon"></span>
                </a>
                <div id="collapse-territory" class="collapse">
                    <div class="desc__content">
                        <div class="desc__divider desc__divider--free">
                            <div class="label label--desc-divider"><h3><span>Бесплатно</span></h3></div>
                        </div>
                        <ul class="desc__content-list">
                            <li><i class="adv-icon adv-icon--parking"></i> Места для парковки</li>
                        </ul>
                        <div class="desc__divider desc__divider--charge">
                            <div class="label label--desc-divider">
                                <h3>
                                    <svg class="svg-icon svg-icon--sm svg-icon--fill-orange">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xlink:href="Images/infrastructure/icons.svg#charge"></use>
                                    </svg>
                                    <span>Платно</span></h3>
                            </div>
                        </div>
                        <ul class="desc__content-list">
                            <li><i class="adv-icon adv-icon--wifi"></i> Wi-Fi в лобби</li>
                            <li><i class="adv-icon adv-icon--shower"></i> Прачечная/Химчистка</li>
                        </ul>
                        <p class="desc__content-additional"><strong class="color--blue-accent">Бары: </strong></p>
                        <ul>
                            <li><strong>Macumba бар у бассейна:</strong> с 10:00-00:00;</li>
                            <li><strong>Blues bar:</strong> с 18:00-02:00 (платно);</li>
                            <li><strong>Bedouin Tent:</strong> кальян с 18:00-00:00 (платно)</li>
                        </ul>
                        <p class="desc__content-additional"><strong class="color--blue-accent">Рестораны: </strong></p>
                        <p><span>Один основной ресторан. Шведский стол:</span></p>
                        <ul>
                            <li><span>Завтрак: с 07:00 до 10:00</span></li>
                            <li><span>обед: с 13:00 до 15:00</span></li>
                            <li><span>ужин: 19:00 до 21:00</span></li>
                        </ul>
                        <p class="desc__content-additional"><strong class="color--blue-accent">Рестораны a la
                                carte: </strong></p>
                        <ul>
                            <li><span><strong>Kafr Amarein:</strong> ресторан морепродуктов, 12:00-23:00,&nbsp;по предварительной резервации;</span>
                            </li>
                            <li><span><strong>Jive Bollywood:</strong> индийская кухня, 12:00-00:00, по предварительной резервации;</span>
                            </li>
                            <li><span><strong>Jive British sport bar:</strong> 09:00-03:00;</span></li>
                            <li><span>Посещение ресторанов платно</span></li>
                        </ul>
                        <p class="desc__content-additional"><strong class="color--blue-accent">SPA: </strong></p>
                        <p>Оздоровительный спа-центр с полным спектром услуг (платно)</p></div>
                </div>
            </div>
            <div class="tab-pane fade desc" id="v-pills-beach">
                <a class="hotel-info__collapse-heading collapsed" data-toggle="collapse" href="#collapse-beach">
                    Пляж
                    <span class="arrow-icon"></span>
                </a>
                <div id="collapse-beach" class="collapse">
                    <div class="desc__content"><span class="label label--desc-content">Песчаный</span> <span
                                class="label label--desc-content">Собственный</span> <span
                                class="label label--desc-content">Песок, Кораллы</span>
                        <div class="desc__divider desc__divider--free">
                            <div class="label label--desc-divider"><h3><span>Бесплатно</span></h3></div>
                        </div>
                        <ul class="desc__content-list">
                            <li><i class="adv-icon adv-icon--umbrella"></i> Зонтики</li>
                            <li><i class="adv-icon adv-icon--towels"></i> Полотенца</li>
                            <li><i class="adv-icon adv-icon--beachchair"></i> Шезлонги</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade desc" id="v-pills-room">
                <a class="hotel-info__collapse-heading collapsed" data-toggle="collapse" href="#collapse-room">
                    Номера
                    <span class="arrow-icon"></span>
                </a>
                <div id="collapse-room" class="collapse">
                    <div class="desc__content">
                        <div class="desc__divider desc__divider--free">
                            <div class="label label--desc-divider"><h3><span>Бесплатно</span></h3></div>
                        </div>
                        <ul class="desc__content-list">
                            <li><i class="adv-icon adv-icon--hairdryer"></i> Фен</li>
                            <li><i class="adv-icon adv-icon--conditioning"></i> Кондиционер</li>
                        </ul>
                        <div class="desc__divider desc__divider--charge">
                            <div class="label label--desc-divider">
                                <h3>
                                    <svg class="svg-icon svg-icon--sm svg-icon--fill-orange">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xlink:href="Images/infrastructure/icons.svg#charge"></use>
                                    </svg>
                                    <span>Платно</span></h3>
                            </div>
                        </div>
                        <ul class="desc__content-list">
                            <li><i class="adv-icon adv-icon--minibar"></i> Мини-бар в номере</li>
                        </ul>
                        <p class="desc__content-additional"><strong class="color--blue-accent">Уборка номеров и смена
                                белья: </strong></p>
                        <ul>
                            <li>уборка номера – ежедневно</li>
                            <li>смена белья – по запросу</li>
                        </ul>
                        <p class="desc__content-additional"><strong class="color--blue-accent">Дополнительно о номерах в
                                Sharm Inn Amarein 4*: </strong></p>
                        <ul>
                            <li>Ванна</li>
                            <li>балкон/терраса</li>
                            <li>сплит кондиционер</li>
                            <li>ТВ</li>
                            <li>холодильник</li>
                            <li>телефон (платно)</li>
                            <li>пол: плитка</li>
                            <li>чайные принадлежности по запросу (платно)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade desc" id="v-pills-pool">
                <a class="hotel-info__collapse-heading collapsed" data-toggle="collapse" href="#collapse-pool">
                    Бассейны
                    <span class="arrow-icon"></span>
                </a>
                <div id="collapse-pool" class="collapse">
                    <div class="desc__content">
                        <div class="desc__divider desc__divider--free">
                            <div class="label label--desc-divider"><h3><span>Бесплатно</span></h3></div>
                        </div>
                        <ul class="desc__content-list">
                            <li><i class="adv-icon adv-icon--umbrella"></i> Зонтики</li>
                            <li><i class="adv-icon adv-icon--beachchair"></i> Шезлонги</li>
                        </ul>
                        <div class="media media--desc">
                            <div class="media__image"><span class="label">1</span></div>
                            <div class="media__body">Количество бассейнов</div>
                        </div>
                        <p class="desc__content-additional"><strong class="color--blue-accent">Бассейны: </strong></p>
                        <p><span id="sobi2Details_field_hotel_desc">1 открытый бассейн</span></p></div>
                </div>
            </div>
            <div class="tab-pane fade desc" id="v-pills-sport">
                <a class="hotel-info__collapse-heading collapsed" data-toggle="collapse" href="#collapse-sport">
                    Развлечение и спорт
                    <span class="arrow-icon"></span>
                </a>
                <div id="collapse-sport" class="collapse">
                    <div class="desc__content">
                        <div class="desc__divider desc__divider--free">
                            <div class="label label--desc-divider"><h3><span>Бесплатно</span></h3></div>
                        </div>
                        <ul class="desc__content-list">
                            <li><i class="adv-icon adv-icon--animation"></i> Аниматоры</li>
                            <li><i class="adv-icon adv-icon--ppong"></i> Настольный тенис</li>
                            <li><i class="adv-icon adv-icon--fitnes"></i> Фитнес-клуб</li>
                        </ul>
                        <div class="desc__divider desc__divider--charge">
                            <div class="label label--desc-divider">
                                <h3>
                                    <svg class="svg-icon svg-icon--sm svg-icon--fill-orange">
                                        <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                             xlink:href="Images/infrastructure/icons.svg#charge"></use>
                                    </svg>
                                    <span>Платно</span></h3>
                            </div>
                        </div>
                        <ul class="desc__content-list">
                            <li><i class="adv-icon adv-icon--bath"></i> Сауна</li>
                            <li><i class="adv-icon adv-icon--billard"></i> Бильярд</li>
                            <li><i class="adv-icon adv-icon--watersport"></i> Водный спорт</li>
                            <li><i class="adv-icon adv-icon--massage"></i> Массаж</li>
                        </ul>
                        <p class="desc__content-additional"><strong class="color--blue-accent">Остальные бесплатные
                                развлечения: </strong></p>
                        <ul>
                            <li>Акваджим,</li>
                            <li>дартс,</li>
                            <li>водное поло</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade desc" id="v-pills-kids">
                <a class="hotel-info__collapse-heading collapsed" data-toggle="collapse" href="#collapse-kids">
                    Для детей
                    <span class="arrow-icon"></span>
                </a>
                <div id="collapse-kids" class="collapse">
                    <div class="desc__content">
                        <ul class="desc__content-list">
                            <li><i class="adv-icon adv-icon--pool"></i> Бассейн</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





