<div class="details-tour__info info-box js-fixed-mobile-order-offset-top">
    <div>
        <div class="info-box__heading">
            Информация о туре
        </div>
        <div class="review-score">
            <svg class="radial-progress-bar" width="58" height="58" viewBox="0 0 58 58"
                 style="stroke-dasharray: 109.2, 140">
                <use href="#progressbar"></use>
                <text text-anchor="middle" x="50%" y="34" fill="#387c89">3.9/5</text>
            </svg>
            <span>27 отзывов</span>
        </div>
    </div>
    {#<ul class="info-box__facilities">
        <li class="media">
            <svg class="svg-icon" width="16" height="16">
                <use xlink:href="Images/icons-search.svg#date2"></use>
            </svg>
            Вылет 21.10, 7 ночей
        </li>
        <li class="media">
            <svg class="svg-icon" width="16" height="16">
                <use xlink:href="Images/icons-search.svg#plane"></use>
            </svg>
            Днепропетровск
        </li>
        <li class="media">
            <svg class="svg-icon" width="16" height="16">
                <use xlink:href="Images/icons-search.svg#rooms"></use>
            </svg>
            Standard Room
        </li>
        <li class="media">
            <svg class="svg-icon" width="16" height="16">
                <use xlink:href="Images/icons-search.svg#food"></use>
            </svg>
            AI (все включено)
        </li>
    </ul>
    <div class="info-box__included">
        Включено
    </div>
    <div>Страховка, перелет, групповой трансфер</div>
    <div class="info-box__columns">
        <div class="info-box__price-wrap">
            <div class="info-box__price">
                18 750 <span>грн</span>
            </div>
            <span>за тур 2 взрослых</span>
        </div>
    </div>#}
    <div class="clearfix expired-tour">
        <div class="expired-tour__text">По заданным параметрам с 04.04 по 12.04 в Sharming Inn Hotel (ex. Sol Y Mar
            Sharming Inn), 4* для 2 взрослых туров не найдено.
            <div class="mt-3">Оставьте запрос, и наши менеджеры подберут вам лучший тур.</div>
        </div>

    </div>
    <div class="info-box__buttons">
        <button class="btn btn-brand btn-brand--orange" data-toggle="modal" data-target="#applicationModalmobile">
            Оставить заявку
        </button>
        <button class="btn btn-brand btn-brand--orange fixed-mobile-button js-mobile-popup-order" data-toggle="modal"
                data-target="#applicationModalmobile">Оставить заявку
        </button>
    </div>
</div>