<div class="details-tour__info info-box js-fixed-mobile-order-offset-top">
    <div>
        <div class="info-box__heading">
            Информация об отеле
        </div>
        <a href="#" class="review-score">
                <svg class="radial-progress-bar" width="58" height="58" viewBox="0 0 58 58"
                     style="stroke-dasharray: 109.2, 140">
                    <use href="#progressbar"></use>
                    <text text-anchor="middle" x="50%" y="34" fill="#387c89">3.9/5</text>
                </svg>
                <span>27 отзывов</span>
        </a>
    </div>

    <div class="info-box-hotel">
        <div class="info-box-hotel__description">
            Отель был открыт в 1999 году, последняя реновация проводилась в 2013 году. Общая площадь территории
            составляет 33 000 кв.м. Отель состоит из 3-этажного здания и отдельно стоящих 2-этажных вилл.
        </div>
        <div class="info-box-hotel__services">
            <div class="media">
                <svg class="svg-icon " width="16" height="16">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#hotels2"></use>
                </svg>
                <span><strong>Тип отеля:</strong> пляжный</span>
            </div>
            <div class="media">
                <svg class="svg-icon" width="16" height="16">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#sea-line"></use>
                </svg>
                <span><strong>Расположение:</strong> 1 линия  (на берегу моря), 9 км до аэропорта, 100 м до моря, 20 км до города</span>
            </div>
            <div class="media">
                <svg class="svg-icon" width="16" height="16">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#beach"></use>
                </svg>
                <span><strong>Пляж:</strong> песчаный, собственный, понтон, кораллы</span>
            </div>
        </div>
    </div>
    <div class="info-box__columns">
        <div class="info-box__price-wrap">
            <div class="info-box__price">
                <span>от&nbsp;</span>18&nbsp;750&nbsp;<span>грн</span>
            </div>
            <span>за тур 2 взрослых</span>
        </div>
    </div>

    <div class="info-box__buttons">
        <button class="btn btn-brand btn-brand--orange" data-toggle="modal" data-target="#applicationModalmobile">
            Оставить заявку
        </button>
        <button class="btn btn-brand btn-brand--orange fixed-mobile-button js-mobile-popup-order" data-toggle="modal"
                data-target="#applicationModalmobile">Оставить заявку
        </button>
    </div>

</div>