<div class="map-section">
    <h2 class="details-small-heading">
        Отель Sharming Inn Hotel (ex. Sol Y Mar Sharming Inn), 4* на карте
    </h2>
    <div class="map-area leaflet-container leaflet-touch leaflet-fade-anim leaflet-touch-zoom" id="hotelMap"
         data-lat="27.245919" data-lng="33.844344" tabindex="0"
         data-gesture-handling-touch-content="Чтобы переместить карту, проведите по ней двумя пальцами"
         data-gesture-handling-scroll-content="Чтобы изменить масштаб, прокручивайте карту, удерживая клавишу Ctrl."
         style="outline: none;">
        <div class="leaflet-pane leaflet-map-pane" style="transform: translate3d(125px, -26px, 0px);">
            <div class="leaflet-pane leaflet-tile-pane">
                <div class="leaflet-layer " style="z-index: 1; opacity: 1;">
                    <div class="leaflet-tile-container leaflet-zoom-animated"
                         style="z-index: 18; transform: translate3d(0px, 0px, 0px) scale(1);"><img alt=""
                                                                                                   role="presentation"
                                                                                                   src="https://tile.openstreetmap.org/15/19464/13804.png"
                                                                                                   class="leaflet-tile leaflet-tile-loaded"
                                                                                                   style="width: 256px; height: 256px; transform: translate3d(295px, -41px, 0px); opacity: 1;"><img
                                alt="" role="presentation" src="https://tile.openstreetmap.org/15/19464/13805.png"
                                class="leaflet-tile leaflet-tile-loaded"
                                style="width: 256px; height: 256px; transform: translate3d(295px, 215px, 0px); opacity: 1;"><img
                                alt="" role="presentation" src="https://tile.openstreetmap.org/15/19463/13804.png"
                                class="leaflet-tile leaflet-tile-loaded"
                                style="width: 256px; height: 256px; transform: translate3d(39px, -41px, 0px); opacity: 1;"><img
                                alt="" role="presentation" src="https://tile.openstreetmap.org/15/19465/13804.png"
                                class="leaflet-tile leaflet-tile-loaded"
                                style="width: 256px; height: 256px; transform: translate3d(551px, -41px, 0px); opacity: 1;"><img
                                alt="" role="presentation" src="https://tile.openstreetmap.org/15/19463/13805.png"
                                class="leaflet-tile leaflet-tile-loaded"
                                style="width: 256px; height: 256px; transform: translate3d(39px, 215px, 0px); opacity: 1;"><img
                                alt="" role="presentation" src="https://tile.openstreetmap.org/15/19465/13805.png"
                                class="leaflet-tile leaflet-tile-loaded"
                                style="width: 256px; height: 256px; transform: translate3d(551px, 215px, 0px); opacity: 1;"><img
                                alt="" role="presentation" src="https://tile.openstreetmap.org/15/19462/13804.png"
                                class="leaflet-tile leaflet-tile-loaded"
                                style="width: 256px; height: 256px; transform: translate3d(-217px, -41px, 0px); opacity: 1;"><img
                                alt="" role="presentation" src="https://tile.openstreetmap.org/15/19466/13804.png"
                                class="leaflet-tile leaflet-tile-loaded"
                                style="width: 256px; height: 256px; transform: translate3d(807px, -41px, 0px); opacity: 1;"><img
                                alt="" role="presentation" src="https://tile.openstreetmap.org/15/19462/13805.png"
                                class="leaflet-tile leaflet-tile-loaded"
                                style="width: 256px; height: 256px; transform: translate3d(-217px, 215px, 0px); opacity: 1;"><img
                                alt="" role="presentation" src="https://tile.openstreetmap.org/15/19466/13805.png"
                                class="leaflet-tile leaflet-tile-loaded"
                                style="width: 256px; height: 256px; transform: translate3d(807px, 215px, 0px); opacity: 1;"><img
                                alt="" role="presentation" src="https://tile.openstreetmap.org/15/19461/13804.png"
                                class="leaflet-tile leaflet-tile-loaded"
                                style="width: 256px; height: 256px; transform: translate3d(-473px, -41px, 0px); opacity: 1;"><img
                                alt="" role="presentation" src="https://tile.openstreetmap.org/15/19461/13805.png"
                                class="leaflet-tile leaflet-tile-loaded"
                                style="width: 256px; height: 256px; transform: translate3d(-473px, 215px, 0px); opacity: 1;">
                    </div>
                </div>
            </div>
            <div class="leaflet-pane leaflet-shadow-pane"></div>
            <div class="leaflet-pane leaflet-overlay-pane"></div>
            <div class="leaflet-pane leaflet-marker-pane"><img src="https://img.poehalisnami.ua/images/pin.png"
                                                               class="leaflet-marker-icon leaflet-zoom-animated leaflet-interactive"
                                                               alt="" tabindex="0"
                                                               style="margin-left: -20px; margin-top: -51px; width: 67px; height: 58px; transform: translate3d(445px, 187px, 0px); z-index: 187;">
            </div>
            <div class="leaflet-pane leaflet-tooltip-pane"></div>
            <div class="leaflet-pane leaflet-popup-pane"></div>
            <div class="leaflet-proxy leaflet-zoom-animated"
                 style="transform: translate3d(4.98281e+06px, 3.53408e+06px, 0px) scale(16384);"></div>
        </div>
        <div class="leaflet-control-container">
            <div class="leaflet-top leaflet-left">
                <div class="leaflet-control-zoom leaflet-bar leaflet-control"><a class="leaflet-control-zoom-in" href="#"
                                                                                 title="Zoom in" role="button"
                                                                                 aria-label="Zoom in">+</a><a
                            class="leaflet-control-zoom-out" href="#" title="Zoom out" role="button"
                            aria-label="Zoom out">−</a></div>
            </div>
            <div class="leaflet-top leaflet-right"></div>
            <div class="leaflet-bottom leaflet-left"></div>
            <div class="leaflet-bottom leaflet-right">
                <div class="leaflet-control-attribution leaflet-control"><a href="https://leafletjs.com"
                                                                            title="A JS library for interactive maps">Leaflet</a>
                </div>
            </div>
        </div>
    </div>
</div>