<div class="hotel-detail-null-results container" style="display: none;">
    <div class="hotel-detail-null-results__heading">
        На ближайшие даты не найдено подходящих туров в отель.
    </div>
    Попробуйте изменить параметры поиска или доверьте подбор тура профессионалу.
</div>