<div class="detail-office-info">
    <h2 style="text-align:center">Новый прекрасный с отличными
        отзывами&nbsp;отель</h2>
    <h2 style="text-align:center">на 1-й линии с АКВАПАРКОМ !&nbsp;</h2>
    <p>&nbsp; Отель расположен на первой береговой линии. Общая площадь территории составляет 25000 кв.м.&nbsp;&nbsp;
        &nbsp;Гости могут посещать территорию соседнего отеля Hawaii Le Jardin Resort &amp; Aqua Park Resort.&nbsp;Собственный
        песчаный пляж протяженностью 200 метров.Зонтики, шезлонги, матрасы, пляжные полотенца -
        бесплатно.Инфраструктура</p>
    <ul>
        <li>Главный ресторан рассчитан на 460 гостей (07.00 -10.00, 12:30 -14:30, 19:00-21:30)</li>
        <li>Средиземноморский Аля Карт рeсторан в соседнем отеле Hawaii Le Jardin Resort &amp;Aqua Park Resort
            (19:00-21:30, за дополнительную плату)
        </li>
        <li>Азиатский Аля Карт рeсторан рассчитан на 70 гостей (19:00-21:30, за дополнительную плату)</li>
        <li>Рыбный Аля Карт ресторан на пляже рассчитан на 90 гостей (19:00-21:30, за дополнительную плату)</li>
        <li>Бар на пляже (10:00 до заката солнца)</li>
        <li>Бар у бассейна (10:00 до заката солнца)</li>
        <li>Splash бар закусок (12:30-17:00)</li>
        <li>Бистро Бар (17:00-23:00)</li>
        <li>Лобби бар (10:00-24:00)</li>
        <li>2 бассейна для взрослых (1 с подогревом в зимний период)</li>
        <li>Детский бассейн с подогревом в зимний период</li>
        <li>Бассейн без подогрева для взрослых и детей на территории второй береговой линии Club</li>
        <li>Аквапарк (12 горок для взрослых и 6 горок для детей, часы работы: 10.00 –12.00/15:00 – 17:00, по
            правилам пользования горок - минимальный рост гостей 120 см)
        </li>
        <li>Конференц зал (площадь 120 кв.м., рассчитан на 100 гостей)</li>
        <li>Тренажерный зал (09:00-19:00, бесплатно)</li>
        <li>Оздоровительный центр (платно)</li>
        <li>Салон красоты (платно)</li>
        <li>Амфитеатр</li>
        <li>Магазины</li>
        <li>Обмен валюты в соседнем отеле Hawaii Le Jardin Resort &amp;Aqua Park Resort</li>
        <li>Парковка (бесплатно)</li>
        <li>Теннисный корт, освещение и оборудование (платно)</li>
        <li>Пляжный волейбол (бесплатно)</li>
        <li>Поле для мини футбола доступно на пляже (бесплатно)</li>
        <li>Дайвинг центр (платно)</li>
    </ul>
    <p>В номерах представлено: ванная комната с душевой кабиной, фен, индивидуальный кондиционер, спутниковое
        телевидение (2 русских и 2 украинских канала, музыкальные каналы), мини бар (согласно концепции отеля),
        набор для приготовления чая и кофе (бесплатно, чай, кофе и сахар предоставляется только один раз, за
        весь период отдыха), дополнительная кровать (бесплатно, по запросу), сейф (бесплатно), балкон или
        терраса.Уборка номера: ежедневно.</p>
    <h3 class="info-title">ДЛЯ ДЕТЕЙ&nbsp;</h3>
    <div class="hotel-facility-content">
        <ul>
            <li>Детский бассейн с подогревом в зимний период</li>
            <li>Аквапарк в соседнем отеле Hawaii Le Jardin Resort &amp;Aqua Park Resort</li>
            <li>Детский клуб для детей от 3 до 12 лет</li>
            <li>Детская площадка на пляже</li>
            <li>Детская кроватка (по запросу, бесплатно)</li>
        </ul>
    </div>
    <p>&nbsp;&nbsp;</p>
    <h2 style="text-align:center">У нас есть туры во все страны мира, на любой бюджет</h2>
    <h2 style="text-align:center">(095) 260-62-00<br>(067) 565-52-10<br>(063) 361-17-30</h2></div>