<section class="price-graphic__block">
  <h2 class="details-small-heading">
    График низких цен
  </h2>
  <div class="price-graphic__wrapper">
    <a href="#" class="price-graphic__item">
      <div class="price-graphic__date">17.10</div>
      <div class="price-graphic__price lowest-price">от 17 500 грн</div>
    </a>
    <a href="#" class="price-graphic__item">
      <div class="price-graphic__date">17.10</div>
      <div class="price-graphic__price">от 17 500 грн</div>
    </a>
    <a href="#" class="price-graphic__item">
      <div class="price-graphic__date">17.10</div>
      <div class="price-graphic__price">от 17 500 грн</div>
    </a>
    <a href="#" class="price-graphic__item">
      <div class="price-graphic__date">17.10</div>
      <div class="price-graphic__price">от 17 500 грн</div>
    </a>
    <a href="#" class="price-graphic__item">
      <div class="price-graphic__date">17.10</div>
      <div class="price-graphic__price">от 17 500 грн</div>
    </a>
    <a href="#" class="price-graphic__item">
      <div class="price-graphic__date">17.10</div>
      <div class="price-graphic__price">от 17 500 грн</div>
    </a>
    <a href="#" class="price-graphic__item price-graphic__item--nolink">
      <div class="price-graphic__date">17.10</div>
      <div class="price-graphic__price">от 17 500 грн</div>
    </a>
    <a href="#" class="price-graphic__item price-graphic__item--nolink">
      <div class="price-graphic__date">17.10</div>
      <div class="price-graphic__price lowest-price">от 17 500 грн</div>
    </a>
  </div>
</section>
