<nav>
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link arrow-link arrow-prev" href="#" aria-label="Previous">
                <svg class="svg-icon " width="16" height="16" fill="#387c89">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#arrow-bottom"></use>
                </svg>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">4</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">6</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">7</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">8</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">9</a>
        </li>
        <li class="page-item">
            <a class=" arrow-next arrow-link page-link" href="#" aria-label="Next">
                <svg class="svg-icon " width="16" height="16" fill="#387c89">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#arrow-bottom"></use>
                </svg>
            </a>
        </li>
    </ul>
</nav>