<div class="custom-dropzone-wrap file-upload">
    <div class="file-upload__heading media">
        <svg class="file-upload__icon" width="32" height="32">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/file-icons.svg#photo-upload"></use>
        </svg>
        Добавьте фото
    </div>
    <div class="custom-dropzone js-custom-dropzone">
        <div class="dz-message">
           <div class="dz-message-desktop">
               Просто перетащите сюда фотографии <br>
               или <span>выберите файлы</span>
           </div>
            <div class="dz-message-mobile">
                Выбрать файлы
            </div>
        </div>
        <div class="custom-dropzone-preview custom-dropzone-preview--desktop custom-dropzone-preview-container js-dz-preview-desktop">

        </div>
    </div>
    <div class="custom-dropzone-preview custom-dropzone-preview--mobile custom-dropzone-preview-container js-dz-preview-mobile">

    </div>
    <div class="custom-dropzone__count js-dz-count">
        Еще можно загрузить 10 фотографий
    </div>
    <div class="file-upload-format">

            Загружайте файлы формата
            JPG, GIF, PNG размером до 5Мб

    </div>
</div>

<div class="video-uploader file-upload">
    <div class="file-upload__heading media">
        <svg class="file-upload__icon" width="32" height="32">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/file-icons.svg#video-upload"></use>
        </svg>
        Добавьте видео
    </div>
    <div class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control autoHide" placeholder="Введите ссылку на YouTube видео">
            <span class="validation field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-brand btn-brand--orange js-add-video">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill="#FFF" fill-rule="evenodd"
                          d="M12 4a1 1 0 0 1 1 1v5.999L19 11a1 1 0 0 1 0 2h-6v6a1 1 0 0 1-2 0v-6H5a1 1 0 0 1 0-2h6V5a1 1 0 0 1 1-1z"/>
                </svg>
            </button>
        </div>
    </div>
    <div class="video-uploader__text">Вы можете загрузить до 10 видео</div>
    <div class="video-uploader__preview-content js-video-uploader-preview">

    </div>
</div>