<div class="row">
    <div class="col-12 col-md-6 col-xl-3 image-box__col">
        <div class="image-box">
            <a href="#" class="image-box__thumbnail responsive-thumbnail">
                <img class="objectFitCover lazyload"
                     data-src="Images/popular-destinations/egipet.jpg">
                <div class="lds-spinner"></div>
            </a>
            <div class="image-box__body">
                <a href="#" class="row no-gutters image-box__row">
                    <span class="col image-box__heading">
                        Египет
                    </span>
                    <span class="col image-box__price">
                        от 1 695 грн
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 image-box__col">
        <div class="image-box">
            <a href="#" class="image-box__thumbnail responsive-thumbnail">
                <img class="objectFitCover lazyload"
                     data-src="Images/popular-destinations/turciya.jpg">
                <div class="lds-spinner"></div>
            </a>
            <div class="image-box__body">
                <a href="#" class="row no-gutters image-box__row">
                    <span class="col image-box__heading">
                        Турция
                    </span>
                    <span class="col image-box__price">
                        от 6 999 грн
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 image-box__col">
        <div class="image-box">
            <a href="#" class="image-box__thumbnail responsive-thumbnail">
                {#<img class="objectFitCover lazyload"
                     data-src="Images/popular-destinations/oae.jpg">#}
                <img class="objectFitCover lazyload" data-src="Images/no-photo-small.jpg">
                <div class="lds-spinner"></div>
            </a>
            <div class="image-box__body">
                <a href="#" class="row no-gutters image-box__row">
                    <span class="col image-box__heading">
                        ОАЭ
                    </span>
                    <span class="col image-box__price">
                        от 10 550 грн
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 image-box__col">
        <div class="image-box">
            <a href="#" class="image-box__thumbnail responsive-thumbnail">
                <img class="objectFitCover lazyload"
                     data-src="Images/popular-destinations/tailand.jpg">
                <div class="lds-spinner"></div>
            </a>
            <div class="image-box__body">
                <a href="#" class="row no-gutters image-box__row">
                    <span class="col image-box__heading">
                        Тайланд
                    </span>
                    <span class="col image-box__price">
                        от 17 990 грн
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 image-box__col">
        <div class="image-box">
            <a href="#" class="image-box__thumbnail responsive-thumbnail">
                <img class="objectFitCover lazyload"
                     data-src="Images/popular-destinations/tailand.jpg">
                <div class="lds-spinner"></div>
            </a>
            <div class="image-box__body">
                <a href="#" class="row no-gutters image-box__row">
                    <span class="col image-box__heading">
                        Тайланд
                    </span>
                    <span class="col image-box__price">
                        от 17 990 грн
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 image-box__col">
        <div class="image-box">
            <a href="#" class="image-box__thumbnail responsive-thumbnail">
                <img class="objectFitCover lazyload"
                     data-src="Images/popular-destinations/tailand.jpg">
                <div class="lds-spinner"></div>
            </a>
            <div class="image-box__body">
                <a href="#" class="row no-gutters image-box__row">
                    <span class="col image-box__heading">
                        Тайланд
                    </span>
                    <span class="col image-box__price">
                        от 17 990 грн
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 image-box__col">
        <div class="image-box">
            <a href="#" class="image-box__thumbnail responsive-thumbnail">
                <img class="objectFitCover lazyload"
                     data-src="Images/popular-destinations/tailand.jpg">
                <div class="lds-spinner"></div>
            </a>
            <div class="image-box__body">
                <a href="#" class="row no-gutters image-box__row">
                    <span class="col image-box__heading">
                        Тайланд
                    </span>
                    <span class="col image-box__price">
                        от 17 990 грн
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-xl-3 image-box__col">
        <div class="image-box">
            <a href="#" class="image-box__thumbnail responsive-thumbnail">
                <img class="objectFitCover lazyload"
                     data-src="Images/popular-destinations/tailand.jpg">
                <div class="lds-spinner"></div>
            </a>
            <div class="image-box__body">
                <a href="#" class="row no-gutters image-box__row">
                    <span class="col image-box__heading">
                        Тайланд
                    </span>
                    <span class="col image-box__price">
                        от 17 990 грн
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>