<div class="row">
	<div class="col-12 col-md-6 col-lg-12 col-xl-12 search-tour-col">
		<div class="search-card">
			<a href="#" class="search-card__image responsive-thumbnail">
				<img src="Images/bus-tours.jpg" alt="" class="objectFitCover lazyload">
				<div class="lds-spinner"></div>
			</a>
			<div class="search-card__inner">
				<div class="search-card__body">
					<div class="search-card__about-trip">
						<div class="search-card__date">
							24.01 – 27.01 (3 ночи)
						</div>
						<div class=" search-card__date-info">
							Без ночных перездов
						</div>
					</div>
					<a href="#" class="search-card__heading">
						Уикенд как в сказке! Будапешт, Любляна и Венеция!
					</a>
					<div class="search-card__countries">
						Венгрия, Италия, Словения
					</div>
					<div class="search-card__countries-tour">
						Будапешт – Любляна – Венеция
					</div>
					<div class="search-card__about-tour">
						<div class="media">
							<svg class="search-card__icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#food"></use>
							</svg>
							Питание:<strong>завтрак</strong>
						</div>
						<div class="media">
							<svg class="search-card__icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#plane"></use>
							</svg>
							Выезд из<strong>Львова</strong>
						</div>
					</div>
				</div>
				<a href="#" class="search-card__review-block">
					<div class="search-card__price">
						<div class="search-card__price-content">
							<span>
								от
								<span class="search-card__tour-price">17 372
								</span>
								грн
							</span>
							за 2 взрослых
						</div>
						<span class="btn btn-brand btn-brand--orange search-card__btn">Подробнее</span>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-lg-12 col-xl-12 search-tour-col">
		<div class="search-card">
			<a href="#" class="search-card__image responsive-thumbnail">
				<img src="Images/bus-tours.jpg" alt="" class="objectFitCover lazyload">
				<div class="lds-spinner"></div>
			</a>
			<div class="search-card__inner">
				<div class="search-card__body">
					<div class="search-card__about-trip">
						<div class="search-card__date">
							24.01 – 27.01 (3 ночи)
						</div>
						<div class=" search-card__date-info">
							Без ночных перездов
						</div>
					</div>
					<a href="#" class="search-card__heading">
						Уикенд как в сказке! Будапешт, Любляна и Венеция!
					</a>
					<div class="search-card__countries">
						Венгрия, Италия, Словения
					</div>
					<div class="search-card__countries-tour">
						Будапешт – Любляна – Венеция
					</div>
					<div class="search-card__about-tour">
						<div class="media">
							<svg class="search-card__icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#food"></use>
							</svg>
							Питание:<strong>завтрак</strong>
						</div>
						<div class="media">
							<svg class="search-card__icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#bus"></use>
							</svg>
							Выезд из<strong>Львова</strong>
						</div>
					</div>
				</div>
				<a href="#" class="search-card__review-block">
					<div class="search-card__price">
						<div class="search-card__price-content">
							<span>
								от
								<span class="search-card__tour-price">17 372
								</span>
								грн
							</span>
							за 2 взрослых
						</div>
						<span class="btn btn-brand btn-brand--orange search-card__btn">Подробнее</span>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-lg-12 col-xl-12 search-tour-col">
		<div class="search-card">
			<a href="#" class="search-card__image responsive-thumbnail">
				<img src="Images/bus-tours.jpg" alt="" class="objectFitCover lazyload">
				<div class="lds-spinner"></div>
			</a>
			<div class="search-card__inner">
				<div class="search-card__body">
					<div class="search-card__about-trip">
						<div class="search-card__date">
							24.01 – 27.01 (3 ночи)
						</div>
						<div class=" search-card__date-info">
							Без ночных перездов
						</div>
					</div>
					<a href="#" class="search-card__heading">
						Уикенд как в сказке! Будапешт, Любляна и Венеция!
					</a>
					<div class="search-card__countries">
						Венгрия, Италия, Словения
					</div>
					<div class="search-card__countries-tour">
						Будапешт – Любляна – Венеция
					</div>
					<div class="search-card__about-tour">
						<div class="media">
							<svg class="search-card__icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#food"></use>
							</svg>
							Питание:<strong>завтрак</strong>
						</div>
						<div class="media">
							<svg class="search-card__icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#bus"></use>
							</svg>
							Выезд из<strong>Львова</strong>
						</div>
					</div>
				</div>
				<a href="#" class="search-card__review-block">
					<div class="search-card__price">
						<div class="search-card__price-content">
							<span>
								от
								<span class="search-card__tour-price">17 372
								</span>
								грн
							</span>
							за 2 взрослых
						</div>
						<span class="btn btn-brand btn-brand--orange search-card__btn">Подробнее</span>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-lg-12 col-xl-12 search-tour-col">
		<div class="search-card">
			<a href="#" class="search-card__image responsive-thumbnail">
				<img src="Images/bus-tours.jpg" alt="" class="objectFitCover lazyload">
				<div class="lds-spinner"></div>
			</a>
			<div class="search-card__inner">
				<div class="search-card__body">
					<div class="search-card__about-trip">
						<div class="search-card__date">
							24.01 – 27.01 (3 ночи)
						</div>
						<div class=" search-card__date-info">
							Без ночных перездов
						</div>
					</div>
					<a href="#" class="search-card__heading">
						Уикенд как в сказке! Будапешт, Любляна и Венеция!
					</a>
					<div class="search-card__countries">
						Венгрия, Италия, Словения
					</div>
					<div class="search-card__countries-tour">
						Будапешт – Любляна – Венеция
					</div>
					<div class="search-card__about-tour">
						<div class="media">
							<svg class="search-card__icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#food"></use>
							</svg>
							Питание:<strong>завтрак</strong>
						</div>
						<div class="media">
							<svg class="search-card__icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#bus"></use>
							</svg>
							Выезд из<strong>Львова</strong>
						</div>
					</div>
				</div>
				<a href="#" class="search-card__review-block">
					<div class="search-card__price">
						<div class="search-card__price-content">
							<span>
								от
								<span class="search-card__tour-price">17 372
								</span>
								грн
							</span>
							за 2 взрослых
						</div>
						<span class="btn btn-brand btn-brand--orange search-card__btn">Подробнее</span>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-lg-12 col-xl-12 search-tour-col">
		<div class="search-card">
			<a href="#" class="search-card__image responsive-thumbnail">
				<img src="Images/bus-tours.jpg" alt="" class="objectFitCover lazyload">
				<div class="lds-spinner"></div>
			</a>
			<div class="search-card__inner">
				<div class="search-card__body">
					<div class="search-card__about-trip">
						<div class="search-card__date">
							24.01 – 27.01 (3 ночи)
						</div>
						<div class=" search-card__date-info">
							Без ночных перездов
						</div>
					</div>
					<a href="#" class="search-card__heading">
						Уикенд как в сказке! Будапешт, Любляна и Венеция!
					</a>
					<div class="search-card__countries">
						Венгрия, Италия, Словения
					</div>
					<div class="search-card__countries-tour">
						Будапешт – Любляна – Венеция
					</div>
					<div class="search-card__about-tour">
						<div class="media">
							<svg class="search-card__icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#food"></use>
							</svg>
							Питание:<strong>завтрак</strong>
						</div>
						<div class="media">
							<svg class="search-card__icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#bus"></use>
							</svg>
							Выезд из<strong>Львова</strong>
						</div>
					</div>
				</div>
				<a href="#" class="search-card__review-block">
					<div class="search-card__price">
						<div class="search-card__price-content">
							<span>
								от
								<span class="search-card__tour-price">17 372
								</span>
								грн
							</span>
							за 2 взрослых
						</div>
						<span class="btn btn-brand btn-brand--orange search-card__btn">Подробнее</span>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="col-12 col-xl-12 search-tour-col">
        {% include "hot-tours__form-callback.twig" %}
    </div>
	<div class="col-12 col-md-6 col-lg-12 col-xl-12 search-tour-col">
		<div class="search-card">
			<a href="#" class="search-card__image responsive-thumbnail">
				<img src="Images/bus-tours.jpg" alt="" class="objectFitCover lazyload">
				<div class="lds-spinner"></div>
			</a>
			<div class="search-card__inner">
				<div class="search-card__body">
					<div class="search-card__about-trip">
						<div class="search-card__date">
							24.01 – 27.01 (3 ночи)
						</div>
						<div class=" search-card__date-info">
							Без ночных перездов
						</div>
					</div>
					<a href="#" class="search-card__heading">
						Уикенд как в сказке! Будапешт, Любляна и Венеция!
					</a>
					<div class="search-card__countries">
						Венгрия, Италия, Словения
					</div>
					<div class="search-card__countries-tour">
						Будапешт – Любляна – Венеция
					</div>
					<div class="search-card__about-tour">
						<div class="media">
							<svg class="search-card__icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#food"></use>
							</svg>
							Питание:<strong>завтрак</strong>
						</div>
						<div class="media">
							<svg class="search-card__icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#bus"></use>
							</svg>
							Выезд из<strong>Львова</strong>
						</div>
					</div>
				</div>
				<a href="#" class="search-card__review-block">
					<div class="search-card__price">
						<div class="search-card__price-content">
							<span>
								от
								<span class="search-card__tour-price">17 372
								</span>
								грн
							</span>
							за 2 взрослых
						</div>
						<span class="btn btn-brand btn-brand--orange search-card__btn">Подробнее</span>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 col-lg-12 col-xl-12 search-tour-col">
		<div class="search-card">
			<a href="#" class="search-card__image responsive-thumbnail">
				<img src="Images/bus-tours.jpg" alt="" class="objectFitCover lazyload">
				<div class="lds-spinner"></div>
			</a>
			<div class="search-card__inner">
				<div class="search-card__body">
					<div class="search-card__about-trip">
						<div class="search-card__date">
							24.01 – 27.01 (3 ночи)
						</div>
						<div class=" search-card__date-info">
							Без ночных перездов
						</div>
					</div>
					<a href="#" class="search-card__heading">
						Уикенд как в сказке! Будапешт, Любляна и Венеция!
					</a>
					<div class="search-card__countries">
						Венгрия, Италия, Словения
					</div>
					<div class="search-card__countries-tour">
						Будапешт – Любляна – Венеция
					</div>
					<div class="search-card__about-tour">
						<div class="media">
							<svg class="search-card__icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#food"></use>
							</svg>
							Питание:<strong>завтрак</strong>
						</div>
						<div class="media">
							<svg class="search-card__icon" width="16" height="16">
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/icons-search.svg#bus"></use>
							</svg>
							Выезд из<strong>Львова</strong>
						</div>
					</div>
				</div>
				<a href="#" class="search-card__review-block">
					<div class="search-card__price">
						<div class="search-card__price-content">
							<span>
								от
								<span class="search-card__tour-price">17 372
								</span>
								грн
							</span>
							за 2 взрослых
						</div>
						<span class="btn btn-brand btn-brand--orange search-card__btn">Подробнее</span>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
<a class="btn btn-brand btn-brand--white btn-brand--rounded btn--show-all" href="#">Показать еще</a>
