<section class="city-from__section">
	<div class="row city-from__row">
		<div>
			<a href="#" class="city-from__item">Киев</a>
		</div>
		<div>
			<a href="#" class="city-from__item">Львов</a>
		</div>
		<div>
			<a href="#" class="city-from__item">Харьков</a>
		</div>
		<div>
			<a href="#" class="city-from__item">Одесса</a>
		</div>
		<div>
			<a href="#" class="city-from__item">Полтава</a>
		</div>
		<div>
			<a href="#" class="city-from__item">Днепр</a>
		</div>
		<div>
			<a href="#" class="city-from__item">Запорожье</a>
		</div>
		<div>
			<a href="#" class="city-from__item">Ровно</a>
		</div>
	</div>
</section>
