{% macro dropdown(mobile) %}
<div class="b-dropdown_complex-b b-dropdown m-dropdown no-user-select jsDropDownOptions"
     style="display: none;">
    <div class="m-dropdown__header">
        <button class="m-dropdown__back back-icon jsMultiSelectDone"></button>
        <span class="m-dropdown__title">Город</span>
    </div>
    <ul class="li-town">
        <li data-id="2" class="jsDropDownItem dd-item">
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner"> Днепра </span>
            </label>
        </li>
        <li data-id="4" class="jsDropDownItem dd-item">
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner"> Запорожья </span>
            </label>
        </li>
        <li data-id="1" class="jsDropDownItem dd-item active">
            <label class="brand-checkbox">
                <input type="checkbox" checked>
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner"> Киева </span>
            </label>
        </li>
        <li data-id="5" class="jsDropDownItem dd-item">
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner"> Кривого Рога </span>
            </label>
        </li>
        <li data-id="6" class="jsDropDownItem dd-item">
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner"> Львова </span>
            </label>
        </li>
        <li data-id="7" class="jsDropDownItem dd-item">
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner"> Николаева </span>
            </label>
        </li>
        <li data-id="8" class="jsDropDownItem dd-item">
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner"> Одессы </span>
            </label>
        </li>
        <li data-id="121" class="jsDropDownItem dd-item">
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner"> Ровно </span>
            </label>
        </li>
        <li data-id="11" class="jsDropDownItem dd-item">
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner"> Харькова </span>
            </label>
        </li>
        <li data-id="41" class="jsDropDownItem dd-item">
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner"> Херсона </span>
            </label>
        </li>
        <li class="dd-item m-divider jsItemLabel"></li>
        <li data-id="0" class="jsDropDownItem dd-item">
            <label class="brand-checkbox">
                <input type="checkbox">
                <span class="brand-checkbox__media"></span>
                <span class="brand-checkbox__inner"> Без проезда </span>
            </label>
        </li>
    </ul>
    <div class="town-bottom town-bottom-controls jsControlPanel">
        <button class="btn btn-brand btn-brand--orange jsMultiSelectDone">ПРИМЕНИТЬ</button>
    </div>
</div>
{% endmacro %}