{% macro dropdown(mobile) %}
<div class="b-dropdown_simple-b b-dropdown m-dropdown no-user-select jsDropDownOptions"
     style="display: none;">
    <div class="m-dropdown__header">
        <button class="m-dropdown__back back-icon jsMultiSelectDone"></button>
        <span class="m-dropdown__title">Страна</span>
    </div>
    <ul class="li-town">
        <li class="jsDropDownItem dd-item">
            Австралия
        </li>
        <li class="jsDropDownItem dd-item">
            Австрия
        </li>
        <li class="jsDropDownItem dd-item active">
            Азербайджан
        </li>
        <li class="jsDropDownItem dd-item">
            Албания
        </li>
        <li class="jsDropDownItem dd-item">
            Алжир
        </li>
        <li class="jsDropDownItem dd-item">
            Ангола
        </li>
        <li class="jsDropDownItem dd-item">
            Андорра
        </li>
        <li class="jsDropDownItem dd-item">
            Антигуа
        </li>
        <li class="jsDropDownItem dd-item">
           Аргентина
        </li>
        <li class="jsDropDownItem dd-item">
            Армения
        </li>
        <li class="jsDropDownItem dd-item">
            Аруба
        </li>
        <li class="jsDropDownItem dd-item">
            Афганистан
        </li>
        <li class="jsDropDownItem dd-item">
            Багамские острова
        </li>
        <li class="jsDropDownItem dd-item">
            Бангладеш
        </li>
        <li class="jsDropDownItem dd-item">
            Барбадос
        </li>
        <li class="jsDropDownItem dd-item">
            Барбадос
        </li>
        <li class="jsDropDownItem dd-item">
            Австралия
        </li>
        <li class="jsDropDownItem dd-item">
            Австрия
        </li>
        <li class="jsDropDownItem dd-item active">
            Азербайджан
        </li>
        <li class="jsDropDownItem dd-item">
            Албания
        </li>
        <li class="jsDropDownItem dd-item">
            Алжир
        </li>
        <li class="jsDropDownItem dd-item">
            Ангола
        </li>
        <li class="jsDropDownItem dd-item">
            Андорра
        </li>
        <li class="jsDropDownItem dd-item">
            Антигуа
        </li>
        <li class="jsDropDownItem dd-item">
            Аргентина
        </li>
        <li class="jsDropDownItem dd-item">
            Армения
        </li>
        <li class="jsDropDownItem dd-item">
            Аруба
        </li>
        <li class="jsDropDownItem dd-item">
            Афганистан
        </li>
        <li class="jsDropDownItem dd-item">
            Багамские острова
        </li>
        <li class="jsDropDownItem dd-item">
            Бангладеш
        </li>
        <li class="jsDropDownItem dd-item">
            Барбадос
        </li>
        <li class="jsDropDownItem dd-item">
            Барбадос
        </li>
    </ul>
</div>
{% endmacro %}