{% macro dropdown(mobile) %}
<div class="b-dropdown_simple-b b-dropdown m-dropdown no-user-select jsDropDownOptions"
     style="display: none;">
    <div class="m-dropdown__header">
        <button class="m-dropdown__back back-icon jsMultiSelectDone"></button>
        <span class="m-dropdown__title">Город</span>
    </div>
    <ul class="li-town">
        <li class="jsDropDownItem dd-item">
            Киев
        </li>
        <li class="jsDropDownItem dd-item">
            Бахмут
        </li>
        <li class="jsDropDownItem dd-item active">
            Белая Церковь
        </li>
        <li class="jsDropDownItem dd-item">
            Борисполь
        </li>
        <li class="jsDropDownItem dd-item">
            Боярка
        </li>
        <li class="jsDropDownItem dd-item">
            Бровары
        </li>
        <li class="jsDropDownItem dd-item">
            Вишневое
        </li>
        <li class="jsDropDownItem dd-item">
            Гайсин
        </li>
        <li class="jsDropDownItem dd-item">
            Днепр
        </li>
        <li class="jsDropDownItem dd-item">
            Житомир
        </li>
        <li class="jsDropDownItem dd-item">
            Запорожье
        </li>
        <li class="jsDropDownItem dd-item">
            Измаил
        </li>
        <li class="jsDropDownItem dd-item">
            Ирпень
        </li>
        <li class="jsDropDownItem dd-item">
            Калуш
        </li>
        <li class="jsDropDownItem dd-item">
            Конотоп
        </li>
        <li class="jsDropDownItem dd-item">
            Котовск
        </li>
        <li class="jsDropDownItem dd-item">
            Краматорск
        </li>
        <li class="jsDropDownItem dd-item">
            Кременчуг
        </li>
        <li class="jsDropDownItem dd-item">
            Кривой Рог
        </li>
    </ul>
</div>
{% endmacro %}