{% macro dropdown(mobile) %}
<div class="b-dropdown_complex-b b-dropdown m-dropdown no-user-select jsDropDownOptions"
     style="display: none;">
    <div class="m-dropdown__header">
        <button class="m-dropdown__back back-icon jsMultiSelectDone"></button>
        <span class="m-dropdown__title">Выезд из</span>
    </div>
    <div class="peopleQuantity">
        <div class="peopleQuantity__row">
            <div>Взрослые</div>
            <div class="peopleQuantity__control js-counter">
                <button class="peopleQuantity__minus js-decrementer"></button>
                <input class="js-number-input peopleQuantity__input" type="number" value="0" min="0" max="3"
                       data-start="2">
                <button class="peopleQuantity__plus js-incrementer"></button>
            </div>
        </div>
        <div class="peopleQuantity__row">
            <div>Дети</div>
            <div class="peopleQuantity__control js-counter">
                <button class="peopleQuantity__minus js-decrementer"></button>
                <input class="js-number-input peopleQuantity__input" type="number" value="0" min="0" max="3">
                <button class="peopleQuantity__plus js-incrementer"></button>
            </div>
        </div>
        <div class="peopleQuantity__heading">Возраст детей</div>
        <div class="peopleQuantity__row">
            <div class="custom-dropdown">
                <div class="custom-dropdown__control js-control-child">
                    <div class="custom-dropdown__text">
                        <div class="ellipsis-text">15</div>
                    </div>
                    <div class="custom-dropdown__expanded arrow-icon"></div>
                </div>
                <div class="b-dropdown_simple-b b-dropdown no-user-select jsDropDownChild" style="display: none;">
                    <ul class="li-town">
                        <li class="jsDropDownItem dd-item">
                            1
                        </li>
                        <li class="jsDropDownItem dd-item">
                            2
                        </li>
                        <li class="jsDropDownItem dd-item active">
                            3
                        </li>
                        <li class="jsDropDownItem dd-item">
                            4
                        </li>
                        <li class="jsDropDownItem dd-item">
                            5
                        </li>
                        <li class="jsDropDownItem dd-item">
                            6
                        </li>
                        <li class="jsDropDownItem dd-item">
                            7
                        </li>
                        <li class="jsDropDownItem dd-item">
                            8
                        </li>
                        <li class="jsDropDownItem dd-item">
                            9
                        </li>
                        <li class="jsDropDownItem dd-item">
                            10
                        </li>
                        <li class="jsDropDownItem dd-item">
                            11
                        </li>
                        <li class="jsDropDownItem dd-item">
                            12
                        </li>
                        <li class="jsDropDownItem dd-item">
                            13
                        </li>
                        <li class="jsDropDownItem dd-item">
                            14
                        </li>
                        <li class="jsDropDownItem dd-item">
                            15
                        </li>
                        <li class="jsDropDownItem dd-item">
                            16
                        </li>
                        <li class="jsDropDownItem dd-item">
                            17
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="peopleQuantity__row">
            <div class="custom-dropdown">
                <div class="custom-dropdown__control js-control-child">
                    <div class="custom-dropdown__text">
                        <div class="ellipsis-text">15</div>
                    </div>
                    <div class="custom-dropdown__expanded arrow-icon"></div>
                </div>
                <div class="b-dropdown_simple-b b-dropdown no-user-select jsDropDownChild" style="display: none;">
                    <ul class="li-town">
                        <li class="jsDropDownItem dd-item">
                            1
                        </li>
                        <li class="jsDropDownItem dd-item">
                            2
                        </li>
                        <li class="jsDropDownItem dd-item active">
                            3
                        </li>
                        <li class="jsDropDownItem dd-item">
                            4
                        </li>
                        <li class="jsDropDownItem dd-item">
                            5
                        </li>
                        <li class="jsDropDownItem dd-item">
                            6
                        </li>
                        <li class="jsDropDownItem dd-item">
                            7
                        </li>
                        <li class="jsDropDownItem dd-item">
                            8
                        </li>
                        <li class="jsDropDownItem dd-item">
                            9
                        </li>
                        <li class="jsDropDownItem dd-item">
                            10
                        </li>
                        <li class="jsDropDownItem dd-item">
                            11
                        </li>
                        <li class="jsDropDownItem dd-item">
                            12
                        </li>
                        <li class="jsDropDownItem dd-item">
                            13
                        </li>
                        <li class="jsDropDownItem dd-item">
                            14
                        </li>
                        <li class="jsDropDownItem dd-item">
                            15
                        </li>
                        <li class="jsDropDownItem dd-item">
                            16
                        </li>
                        <li class="jsDropDownItem dd-item">
                            17
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="peopleQuantity__row">
            <div class="custom-dropdown">
                <div class="custom-dropdown__control js-control-child">
                    <div class="custom-dropdown__text">
                        <div class="ellipsis-text">15</div>
                    </div>
                    <div class="custom-dropdown__expanded arrow-icon"></div>
                </div>
                <div class="b-dropdown_simple-b b-dropdown no-user-select jsDropDownChild" style="display: none;">
                    <ul class="li-town">
                        <li class="jsDropDownItem dd-item">
                            1
                        </li>
                        <li class="jsDropDownItem dd-item">
                            2
                        </li>
                        <li class="jsDropDownItem dd-item active">
                            3
                        </li>
                        <li class="jsDropDownItem dd-item">
                            4
                        </li>
                        <li class="jsDropDownItem dd-item">
                            5
                        </li>
                        <li class="jsDropDownItem dd-item">
                            6
                        </li>
                        <li class="jsDropDownItem dd-item">
                            7
                        </li>
                        <li class="jsDropDownItem dd-item">
                            8
                        </li>
                        <li class="jsDropDownItem dd-item">
                            9
                        </li>
                        <li class="jsDropDownItem dd-item">
                            10
                        </li>
                        <li class="jsDropDownItem dd-item">
                            11
                        </li>
                        <li class="jsDropDownItem dd-item">
                            12
                        </li>
                        <li class="jsDropDownItem dd-item">
                            13
                        </li>
                        <li class="jsDropDownItem dd-item">
                            14
                        </li>
                        <li class="jsDropDownItem dd-item">
                            15
                        </li>
                        <li class="jsDropDownItem dd-item">
                            16
                        </li>
                        <li class="jsDropDownItem dd-item">
                            17
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="town-bottom town-bottom-controls jsControlPanel">
        <button class="btn btn-brand btn-brand--orange jsMultiSelectDone">ПРИМЕНИТЬ</button>
    </div>
</div>
{% endmacro %}