<p>
	<span>Несмотря на то, что
		<a href="../../tour/oae" target="_blank" rel="noopener noreferrer">ОАЭ</a>
		славится отличными пляжами, в
		<a href="../../tour/oae/dubajj" target="_blank" rel="noopener noreferrer">Дубай</a>
		путешественники в первую очередь приезжают, чтобы осмотреть современные достопримечательности, многие из которых занесены в Книгу рекордов Гиннесса. В числе самых привлекательных для туристов мест и
	</span>поющие фонтаны в Дубае возле крупнейшего ТРЦ — Дубай Молл<span>. Чем же они примечательны и откуда лучше любоваться музыкально-танцевальным шоу, расскажем далее в статье.</span>
</p>
<h3>
	<strong>Захватывающее зрелище у Бурдж-Халифа</strong>
</h3>
<p>
	<span>Самый зрелищный фонтан Эмиратов расположен в центре Дубая вблизи небоскреба Бурдж-Халифа. Построен он на озере площадью 120000 кв.м., что можно сравнить с 12 футбольными полями.</span>
</p>
<p>
	<span>Дубайский фонтан считается одним из самых больших в мире. Вспышки света, которые появляются во время шоу, видны в радиусе 30 км. А высота струи порой достигает уровня 50-этажного дома!</span>
</p>
<p>
	<span>Фонтаны могут «станцевать» под любое произведение. Как правило, для шоу выбирают классические композиции и известные хиты эстрадных исполнителей: песни Майкла Джексона, Адель, Уитни Хьюстон, Андреа Бочелли и даже Аллы Пугачевой. Для создания невероятного зрелища работают более 6 тыс. прожекторов. Они включаются поочередно, чтобы подсветить каждый бит, или вместе каскадом для акцента на самых высоких нотах. Игра света сопровождается танцем струй фонтана, которые умеют «прыгать», кружиться вокруг своей оси и плавно наклоняться в разные стороны.</span>
</p>
<p>
	<span>В 2010 году конструкция была доработана: к ней подключили дымогенераторы и газовые форсунки. Благодаря чему,
	</span>шоу фонтанов в Дубае<span>
		стало сопровождаться новыми эффектами во время представления. Теперь на пике музыкального произведения вместе со взлетом воды вверх, имитируются вспышки огня и дымовая завеса, что добавляет помпезности происходящему.<br><br>
		<img src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h18059/orig/booking18059_1.jpg" alt="#">
		<br></span>
</p>
<p>
	<span>Посмотреть бесплатно на
	</span>танцующие фонтаны Дубая можно в любой день. Расписание<span>
		их работы редко меняется: традиционно шоу продолжается с 6 до 11 вечера, а в четверг, пятницу и субботу на полчаса дольше. Также есть дневные представления — в час дня.&nbsp;</span>
</p>
<h2>
	<strong>Лучшие места для просмотра шоу</strong>
</h2>
<ul>
	<li style="font-weight:400">
		<span style="font-weight:400">Рестораны и кафе с видом на Сук аль Бахар и Дубай Молл или те, что расположены в ТРЦ вдоль фонтанов, например Karma Kafe, TGI Friday's;</span>
	</li>
	<li style="font-weight:400">
		<span style="font-weight:400">мост Сук аль Бахар Бридж;</span>
	</li>
	<li style="font-weight:400">
		<span style="font-weight:400">смотровые площадки Бурдж-Халифа.</span>
	</li>
</ul>
<h2>
	<strong>История строительства</strong>
</h2>
<p style="font-weight:400">Проект фонтанов в Дубае разработали инженеры и архитекторы компании WET Design, которые также создали подобную конструкцию в Лас-Вегасе. А более 200 млн. долларов на строительство были выделены арабской инвестиционной организацией Emaar. Возведение достопримечательности началось в 2008 году, а уже через год
</p>
<p style="font-weight:400">
	которого прозвучала композиция «Sama Dubai», в честь Шейха Мохаммеда.<br><br>
	<img src="https://img.poehalisnami.ua/static/hotels/egipet/sharm-el-shejjkh/h18059/orig/booking18059_1.jpg" alt="#">
</p>
