<p>
	<font face="verdana, geneva" size="2">Группа "Лавика" не просто дарит слушателям искренность чувств в каждой ноте, но и буквально устраивает туристические экскурсии в каждом клипе. В дебютном&nbsp;видео&nbsp;"Счастье цвета платины" они увлекали зрителя по ночным черногорским улочкам, а в новом ролике "Вечный рай" музыканты закружат головы всех мечтающих об отпуске яркими красками Адриатического побережья, бирюзой морских волн и сказочными островами курортного городка Будва. Клип только 15 июля появится в эфире, а они уже готовятся открывать новые горизонты и хитро улыбаются на вопросы о следующем клипе, обещая зрителям очередное приключение. И пока выдерживается интрига будущих сюрпризов, вокалистка Лавика, гитарист и перкуссионист Ваня и диджей Назар рассказали порталу turne.com.ua, где по их мнению прячется "Вечный рай" и мелодия какой страны зазвучит в их будущих хитах!</font>
</p>
<p>
	<font face="verdana, geneva" size="2">
		<strong>1. Не так давно вы вернулись из Черногории со съемок клипа "Счастье цвета платины". Чем особенно запомнилась эта страна?</strong>
	</font>
	<font face="verdana, geneva" size="2">Лавика: Черногорию вдоль и поперек изучила еще лет 5 назад. Мы с моим парнем любим эту страну за сочетание природной красоты и романтических маленьких улочек с уютными кофейнями. Море цвета бирюзы, туманные горы, пальмы, хвойные леса и итальянские дворики... - невероятная красота!</font>
	<font face="verdana, geneva" size="2">Назар: Помимо впечатляющей природы не могли не порадовать приятные, отзывчивые люди, которые украинский язык знают лучше, чем английский с русским, приятно :).</font>
</p>
<p>
	<font face="verdana, geneva" size="2">
		<strong>2. За неделю в Черногории вы успели снять еще один клип на песню "Вечный рай". А если бы сами выбирали место съемок, где на планете, по-вашему, "вечный рай"?</strong>
	</font>
	<font face="verdana, geneva" size="2">Лавика: Для меня это необитаемые острова в Таиланде! Шалаш, костер, гитара, любимый. И совсем нет электричества...</font>
	<font face="verdana, geneva" size="2">Назар: Вечный рай окружает нас повсюду, нужно просто его только заметить, в Черногории нам это удалось)</font>
	<font face="verdana, geneva" size="2">Ваня: И знаете, все-таки вечный рай - это скорее состояние, а не место. Человек одинаково счастлив что в Тайге, что в Буркина-Фасо, если его окружают близкие люди и он занимается любимым делом :)</font>
</p>
<p>
	<font face="verdana, geneva" size="2">
		<strong>3. Есть ли уже идеи по поводу следующих клипов? Снова за границу или обойдетесь местными локациями?</strong>
	</font>
	<font face="verdana, geneva" size="2">Лавика: Идеи есть. Страна выбрана. :) Пока в секрете! Профеcсиональная работа съемочной группы творит чудеса и зритель никогда не поверит в то, что показанная локация дикого пляжа снята не на Гоа, а под Киевом на реке, но тут вопрос в атмосфере снятого! И зритель определенно это чувствует, а ведь так хочется подарить ему «кусочек настоящего путешествия»!</font>
</p>
<p>
	<font face="verdana, geneva" size="2">
		<strong>4. На съемках "Счастья цвета платины в Киеве вы устраивали стритрейсинг. А как относитесь к экстремальному отдыху, необычным экспериментам? Что было самым безумным поступком в жизни?</strong>
	</font>
	<font face="verdana, geneva" size="2">Лавика: Я занималась триклаймбингом (дословно - древолазание; от «tree» и «climb» - «дерево» и «забираться» - прим. ред.) в Таиланде. Обучалась этому профессионально. Еще чуть с парашютом не прыгнула. Прошла подготовку, а перед прыжком оказалось, что моего веса недостаточно... Вот, жду пока поправлюсь :)</font>
	<font face="verdana, geneva" size="2">Ваня: Экстремальный отдых - это скорее не мое призвание, в прямом смысле этого понятия :) Хотя жизнь в палатке на пляже посреди бушующего урагана - тот еще экстрим :)</font>
</p>
<p>
	<font face="verdana, geneva" size="2">
		<strong>5. Люба, в одном из твоих интервью ты говорила, что выступала какой-то период в Таиланде. Как это получилось? Ты выступала для наших туристов или для их жителей? Какую музыку они предпочитают?</strong>
	</font>
	<font face="verdana, geneva" size="2">Лавика: Несколько лет назад мы с родителями поехали в Таиланд и жили в отеле, неподалеку от которого был красивый ресторан с живой музыкой прямо на берегу моря. Я, конечно же, не удержалась и как-то раз решила устроить родителям сюрприз, спев их любимые песни. После меня приглашали каждый вечер, а на следующий год пришло официальное предложение от целой сети отелей. :)<br>Пела я в тайских кафешках, дорогих отельных ресторанах, но больше всего впечатлило, когда пригласили на городскую площадь, в честь праздника... вот там я европейцев совсем не помню! В репертуаре были известные мировые хиты на английском языке, авторские песни и, конечно же, украинские народные!</font>
</p>
<p>
	<font face="verdana, geneva" size="2">
		<strong><img style="float: right; margin: 10px; display: none !important;" src="https://turne.com.ua/data/img/banner/Lavikaturne1.jpg" alt="">6. Съемки, гастроли - даже в курортных городах это больше работа. А планируете полноценный отпуск этим летом и куда?</strong>
	</font>
	<font face="verdana, geneva" size="2">Лавика: У нас этой осенью планируется выпуск альбома, очень много работы. Надеюсь, что хоть на неделю получится вырваться - давно мечтаю о львовских улочках.</font>
	<font face="verdana, geneva" size="2">Ваня: Да, к сожалению, из-за плотного графика вряд ли вырвемся с женой летом, а вот ближе к новогодним праздникам порадуем себя поездкой к теплому морю, бесконечному пляжу и бесплатному бару :)</font>
</p>
<p>
	<font face="verdana, geneva" size="2">
		<strong>7. На музыкальные фестивали ездите? В Украине, например, в Коктебель, во Львове; на Sziget в Будапеште?</strong>
	</font>
	<font face="verdana, geneva" size="2">Лавика: Планировала этим летом на Сигет, но не позволяет время. Недавно были на барабанном фестивале под Одессой, организатором которого является наш тренер, Ваня Пух. :)</font>
	<font face="verdana, geneva" size="2">Ваня: я езжу только на те фестивали, которые сам организовываю, или на которых выступаю. Их количества в год мне хватает с головой, чтобы не хотеть ехать куда-нибудь еще :)</font>
</p>
<p>
	<font face="verdana, geneva" size="2">
		<strong>8. Лучший отпуск - время поправить здоровье или бессонные ночи веселья?</strong>
	</font>
	<font face="verdana, geneva" size="2">Ваня: и то и другое! Поправляем здоровье бессонными ночами :)</font>
	<font face="verdana, geneva" size="2">Лавика: Лучший отпуск - когда живешь без часов и будильника!</font>
</p>
<p>
	<font face="verdana, geneva" size="2">
		<strong>9. Курортный роман - табу или без него отпуск не отпуск?</strong>
	</font>
	<font face="verdana, geneva" size="2">Лавика: У меня замечательный парень и только наши с ним совместные поездки для меня настоящий отпуск.</font>
	<font face="verdana, geneva" size="2">Ваня: Мне курортные романы мало интересны. Я женат, и всегда отдыхаю с супругой, так что вопрос снимается сам собой :)</font>
	<font face="verdana, geneva" size="2">Назар: Всё зависит от цели отпуска;)</font>
</p>
<p>
	<font face="verdana, geneva" size="2">
		<strong>10. Без чего помимо стандартного набора вещей не отправитесь в дорогу?</strong>
	</font>
	<font face="verdana, geneva" size="2">Лавика: Без блокнотика с ручкой. Люблю в путешествиях все записывать. Вдали от дома всегда рождается что-то ресурсное.</font>
	<font face="verdana, geneva" size="2">Ваня: Без плеера и какого-нибудь музыкального инструмента, ну и, конечно же, фото и видео камеры :)</font>
	<font face="verdana, geneva" size="2">Назар: Деньги на сегодняшний день очень сложно считать стандартным набором вещей, но без них дорога может показаться очень длинной:)</font>
</p>
<p>
	<font face="verdana, geneva" size="2">
		<strong><img style="float: left; margin: 10px; display: none !important;" src="https://turne.com.ua/data/img/banner/Lavikaturne2.jpg" alt="">11. Как часто отдыхаете - по собственной программе (может, даже в палатке) или с комфортом в отеле?</strong>
	</font>
	<font face="verdana, geneva" size="2">Ваня: 50/50:) зависимо от желания. Иногда так хорошо оторваться от социума и наслаждаться дикой жизнью в палатке, а иногда завтрак в номере 5-звездочной гостинницы тоже очень радует :)</font>
</p>
<p>
	<font face="verdana, geneva" size="2">
		<strong>12. Что вам ближе - восточная философия или динамика запада? Способны ли на дауншифтинг - бросить привычную жизнь и жить с минимумом запросов вдали от суеты?</strong>
	</font>
	<font face="verdana, geneva" size="2">Лавика: Не вижу для себя отдыха в суетливом городе. Походный рюкзак, пару купальников, шорты, джинсы и вперед жить на берегу моря в соломенной хижине!</font>
	<font face="verdana, geneva" size="2">Назар: Все зависит от цели, которая нас приводит в движение по утрам. Не могу отрицать ни первого ни второго, так как привык всё делить на два , но в крайности бросаться не стоит...</font>
	<font face="verdana, geneva" size="2">Назар: Все зависит от цели, которая нас приводит в движение по утрам. Не могу отрицать ни первого ни второго, так как привык всё делить на два , но в крайности бросаться не стоит...</font>
	<font face="verdana, geneva" size="2">Лавика: Привлекает все, что создавалось в древнем мире. Все, что относится к этнической музыке, к фольклору- имеет большую историческую ценность народов Земли и именно это аутентично! Кельтские запевы, буддистские мантры монахов, древняя Скандинавия, тотемные песни разных племен, балканские ритмы - это все мы изучаем и стараемся вносить в наше творчество. Когда кто-то из нас едет в другую страну - прежде всего идет в музыкальные лавки и покупает сувениры в виде национальной музыки страны, в которой находится!</font>
	<font face="verdana, geneva" size="2">Ваня: Мне нравятся Балканские страны, а так же Иран, Египет :)</font>
	<font face="verdana, geneva" size="2">Назар: как не крути, а USA на 1-м месте, это касается современной музыки. Желаний очень много, но стараемся не забывать и о музыкальных потребностях нашей страны.</font>
</p>
<p>
	<font face="verdana, geneva" size="2">
		<strong>13. Музыка какой страны (современная и национальная) вам интересна? Есть желание использовать что-то в своем творчестве?</strong>
	</font>
	<font face="verdana, geneva" size="2">Лавика: Привлекает все, что создавалось в древнем мире. Все, что относится к этнической музыке, к фольклору- имеет большую историческую ценность народов Земли и именно это аутентично! Кельтские запевы, буддистские мантры монахов, древняя Скандинавия, тотемные песни разных племен, балканские ритмы - это все мы изучаем и стараемся вносить в наше творчество. Когда кто-то из нас едет в другую страну - прежде всего идет в музыкальные лавки и покупает сувениры в виде национальной музыки страны, в которой находится!</font>
	<font face="verdana, geneva" size="2">Ваня: Мне нравятся Балканские страны, а так же Иран, Египет :)</font>
	<font face="verdana, geneva" size="2">Назар: как не крути, а USA на 1-м месте, это касается современной музыки. Желаний очень много, но стараемся не забывать и о музыкальных потребностях нашей страны.</font>
</p>
<p>
	<font face="verdana, geneva" size="2">
		<strong>14. И напоследок, где посоветуете читателям обязательно побывать, что испытать или что увидеть?</strong>
	</font>
	<font face="verdana, geneva" size="2">Лавика: Советую пожить в буддистском храме и обучиться правильной медитации. В Таиланде монахи очень дружелюбные и помогут с размещением и обучением просто так! Так же незабываемые впечатления от проживания без электричества с керосиновыми лампами на реке Квай! И очень советую хоть раз в жизни загадать желание в Храме Лежачего Будды в Бангкоке! ;) Всегда сбывается!</font>
	<font face="verdana, geneva" size="2">Ваня: Одно из мест, которое мне понравилось - это юг Испании. Замечательная история, неповторимая атмосфера, и очень вкусная кухня :)</font>
	<font face="verdana, geneva" size="2">Назар: Жизнь короткая штука, так что советую жить так, чтобы ни о чем не жалеть, и воспоминания оставались только приятными. Плохих мест на этой планете пока что повидать не удалось, так что желаю всем побывать везде и испытать по возможность всё :)</font>
</p>
