<p>
	<img height="150" src="https://turne.com.ua/data/img/Articles/september/pict1565_club_sorgun.jpg" width="200" align="right">
	Даже если шеф отправил вас в отпуск, когда на город уже опустились серой кашей осенние тучи, вы еще можете взять у лета свое. И даже съездить туда, откуда в августе вернулись ваши загорелые сотрудники, ведь в сентябре–октябре отдыхать, загорать и купаться можно почти во всех излюбленных нашими туристами странах. Представляем пять мест, где еще можно догнать ускользающее лето: Крым,
	<a href="#">
		Турция
	</a>,
	<a href="#">
		Испания
	</a>,
	<a href="#">
		Кипр
	</a>,
	<a href="#">
		Тунис
	</a>.
</p>
<p>
	В заключение предлагаем вам сводную таблицу "метеорологических условий" в самых популярных туристических странах мира:
</p>
<p>
	Если повезет, позагорать получится, даже не выезжая за пределы Украины. Купальный сезон в
	<strong>Крыму</strong>
	обычно продолжается до октября. Самые жаркие дни, разумеется, приходятся на июль – август, но в это же время достигают своего максимума количество отдыхающих и цены на размещение. Со второй половины сентября снижается стоимость гостиничных номеров, а среднемесячная температура воздуха все еще составляет 23-24С. Многие вполне обоснованно считают, что октябрь – оптимальное время для отдыха на Черноморском побережье.
</p>
<p>
	<a href="#">
		Турция
	</a>
	тоже до конца октября готова принять любителей морских купаний. Правда, нужно учитывать, что вечера уже не будут такими теплыми, как летом, и для прогулок под луной понадобятся свитер и брюки. Достаточно прохладно к тому времени станет в
	<strong>
		Бодруме
	</strong>
	и
	<strong>
		Мармарисе</strong>
	, да и чартерные перевозки к середине октября прекратятся. Дожди, скорее всего, будут идти в октябре в
	<strong>
		Кемере
	</strong>, расположенном на склонах гор. Зато
	<strong>
		Белек
	</strong>,
	<strong>
		Сиде
	</strong>
	и особенно
	<strong>
		Аланья
	</strong>
	, где сезон продолжает до начала ноября, – то, что нужно для любителей отдыха у моря. Средняя температура воздуха в середине осени составляет там +26-28С, температура воды +23-24С. К тому же цены в это время падают там практически на четверть, а отели проводят множество специальных рекламных акций.
</p>
<p>
	Как не парадоксально, на юге
	<a href="#">
		Испании
	</a>
	из-за холодного течения, идущего вдоль берега, купальный сезон закончится раньше, чем на севере. Поэтому на
	<strong>
		Коста-дель-Соль
	</strong>
	лучше ехать до 20-х чисел сентября. Зато на
	<strong>
		Коста-Брава
	</strong>
	благодаря теплому течению можно купаться и в октябре. Комфортный отдых ждет вас и в Коммуне Валенсия, состоящей из трех провинций –
	<strong>
		Кастельо
	</strong>,
	<strong>
		Валенсия
	</strong>
	и
	<strong>
		Аликанте
	</strong>. Летом тут невыносимо жарко, поэтому многие специально выбирают время для отдыха с октября по декабрь, когда температура воздуха составляет +30-33С. Мы советуем вам поехать туда на две недели, и одну из них посвятить экскурсиям: только в "бабье лето" ни жара, ни дожди не помешают вам провести целый день в городе.
</p>
<p>
	<img height="150" src="https://turne.com.ua/data/img/Articles/september/pict1635_justiniano_varuna.jpg" width="200" align="left">
	Ехать на
	<a href="#">
		Кипр
	</a>
	тоже лучше всего именно в октябре. Вы можете выбрать любой курорт для отдыха: октябрь на Кипре – это разгар сезона. Средняя температура воздуха будет составлять +27С, воды +22С. Даже в полдень здесь не будет изнуряющей жары, и можно будет валяться на пляже, не опасаясь палящих солнечных лучей. Да еще и можно будет посидеть на исключительно полезной витаминной диете – в это время здесь много дешевых фруктов.</p>
<p>
	В
	<a href="#">
		Тунис
	</a>
	мы бы тоже не советовали ехать в разгар сезона, например, в августе, когда температура воздуха достигает отметки +40С. Комфортнее всего отдыхать там в октябре – в "бархатный сезон": температура воздуха составляет +29С, море прогревается до +22С. Плавательный сезон длится здесь до середины ноября, и до ноября продолжает свою работу чартерная программа. Отдыхать в середине осени особенно приятно еще и потому, что после 10 сентября отели вводят 30-50% скидки на размещение.
</p>
<table cellspacing="1" cellpadding="7" width="640" border="1">
	<tbody>
		<tr>
			<td width="33%">
				<p align="justify">
					<b>
						<font size="2">Страна</font>
					</b>
				</p>
			</td>
			<td width="33%">
				<p>
					<b>
						<font size="2">Средняя дневная температура СЕНТЯБРЯ</font>
					</b>
				</p>
			</td>
			<td width="33%">
				<p>
					<b>
						<font size="2">Средняя дневная температура ОКТЯБРЯ</font>
					</b>
				</p>
			</td>
		</tr>
		<tr>
			<td width="33%">
				<p align="justify">
					<font size="2">Болгария Золотые Пески)</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+26</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+20</font>
				</p>
			</td>
		</tr>
		<tr>
			<td width="33%">
				<p align="justify">
					<font size="2">Греция</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+28</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+24</font>
				</p>
			</td>
		</tr>
		<tr>
			<td width="33%">
				<p align="justify">
					<font size="2">Египет</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+33</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+30</font>
				</p>
			</td>
		</tr>
		<tr>
			<td width="33%">
				<p align="justify">
					<font size="2">Израиль (Эйлат)</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+36</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+33</font>
				</p>
			</td>
		</tr>
		<tr>
			<td width="33%">
				<p align="justify">
					<font size="2">Испания</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+28</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+22</font>
				</p>
			</td>
		</tr>
		<tr>
			<td width="33%">
				<p align="justify">
					<font size="2">Италия</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+26</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+20</font>
				</p>
			</td>
		</tr>
		<tr>
			<td width="33%">
				<p align="justify">
					<font size="2">Канарские о-ва</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+25</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+28</font>
				</p>
			</td>
		</tr>
		<tr>
			<td width="33%">
				<p align="justify">
					<font size="2">Кипр (Ларнака)</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+32</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+28</font>
				</p>
			</td>
		</tr>
		<tr>
			<td width="33%">
				<p align="justify">
					<font size="2">Крит</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+25</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+24</font>
				</p>
			</td>
		</tr>
		<tr>
			<td width="33%">
				<p align="justify">
					<font size="2">Мальта</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+27</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+20</font>
				</p>
			</td>
		</tr>
		<tr>
			<td width="33%">
				<p align="justify">
					<font size="2">ОАЭ (Дубай)</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+36</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+33</font>
				</p>
			</td>
		</tr>
		<tr>
			<td width="33%">
				<p align="justify">
					<font size="2">Таиланд</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+30</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+30</font>
				</p>
			</td>
		</tr>
		<tr>
			<td width="33%">
				<p align="justify">
					<font size="2">Тунис</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+28</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+26</font>
				</p>
			</td>
		</tr>
		<tr>
			<td width="33%">
				<p align="justify">
					<font size="2">Турция (Анталья)
					</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+24</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+20</font>
				</p>
			</td>
		</tr>
		<tr>
			<td width="33%">
				<p align="justify">
					<font size="2">Хорватия</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+23</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+21</font>
				</p>
			</td>
		</tr>
		<tr>
			<td width="33%">
				<p align="justify">
					<font size="2">Чехия</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+22</font>
				</p>
			</td>
			<td width="33%">
				<p align="center">
					<font size="2">+18</font>
				</p>
			</td>
		</tr>
	</tbody>
</table>
