<div class="screen screen-search">
    <img class="screen__bg objectFitCover lazyload"
         data-src="Images/Main.jpg" alt="">
    <div class="screen-search__content container">
        <div class="screen-search__row">
            <h1 class="screen-search__heading">
                Поиск туров от лучших туроператоров
            </h1>
            {#{% if not mobile %}
            <div class="slick-carousel operators-header-slider  js-operator-header-carousel">
                <div class="slick-carousel-item">
                    <img class="lazyload" data-src="Images/operator-logo-white/pegas.png" alt="">
                </div>
                <div class="slick-carousel-item">
                    <img class="lazyload" data-src="Images/operator-logo-white/mouzenidis.png" alt="">
                </div>
                <div class="slick-carousel-item">
                    <img class="lazyload" data-src="Images/operator-logo-white/anex-tour.png" alt="">
                </div>
                <div class="slick-carousel-item">
                    <img class="lazyload" data-src="Images/operator-logo-white/pegas.png" alt="">
                </div>
                <div class="slick-carousel-item">
                    <img class="lazyload" data-src="Images/operator-logo-white/mouzenidis.png" alt="">
                </div>
                <div class="slick-carousel-item">
                    <img class="lazyload" data-src="Images/operator-logo-white/anex-tour.png" alt="">
                </div>

            </div>
            {% endif %}#}
        </div>

        {% include "../full-search-form/full-search-form.twig" %}
    </div>

</div>