<div class="sidebar-section">
	<div class="sidebar-box">
		<div class="sidebar-box__heading">
			Курорты Египта
		</div>
		<div class="sidebar-box__content">
			<div class="sidebar-box__item">
				<a href="#" class="sidebar-box__link">
					<div class="sidebar-box__link-content">
						Шарм-эль-Шейх
						<br>
						<span>
							от 15 688 грн
						</span>
					</div>
					<div class="sidebar-box__weather">
						31℃
						<svg class="sidebar-icon" width="24" height="24">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#sun"></use>
        </svg>
					</div>
				</a>
			</div>
			<div class="sidebar-box__item">
				<a href="#" class="sidebar-box__link">
					<div class="sidebar-box__link-content">
						Шарм-эль-Шейх
						<br>
						<span>
							от 15 688 грн
						</span>
					</div>
					<div class="sidebar-box__weather">
						31℃
						<svg class="sidebar-icon" width="24" height="24">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#sun"></use>
        </svg>
					</div>
				</a>
			</div>
			<div class="sidebar-box__item">
				<a href="#" class="sidebar-box__link">
					<div class="sidebar-box__link-content">
						Шарм-эль-Шейх
						<br>
						<span>
							от 15 688 грн
						</span>
					</div>
					<div class="sidebar-box__weather">
						31℃
						<svg class="sidebar-icon" width="24" height="24">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#sun"></use>
        </svg>
					</div>
				</a>
			</div>
			<div class="sidebar-box__item">
				<a href="#" class="sidebar-box__link">
					<div class="sidebar-box__link-content">
						Шарм-эль-Шейх
						<br>
						<span>
							от 15 688 грн
						</span>
					</div>
					<div class="sidebar-box__weather">
						31℃
					<svg class="sidebar-icon" width="24" height="24">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#sun-cloud"></use>
        </svg>
					</div>
				</a>
			</div>
			<div class="sidebar-box__item">
				<a href="#" class="sidebar-box__link">
					<div class="sidebar-box__link-content">
						Шарм-эль-Шейх
						<br>
						<span>
							от 15 688 грн
						</span>
					</div>
					<div class="sidebar-box__weather">
						31℃
						<svg class="sidebar-icon" width="24" height="24">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#cloud"></use>
        </svg>
					</div>
				</a>
			</div>
			<div class="sidebar-box__item">
				<a href="#" class="sidebar-box__link">
					<div class="sidebar-box__link-content">
						Шарм-эль-Шейх
						<br>
						<span>
							от 15 688 грн
						</span>
					</div>
					<div class="sidebar-box__weather">
						31℃
						<img src="./Images/sun.png" alt="#">
					</div>
				</a>
			</div>
			<div class="sidebar-box__item">
				<a href="#" class="sidebar-box__link">
					Все курорты
				</a>
			</div>
		</div>
	</div>
	<div class="sidebar-box">
		<div class="sidebar-box__heading">
			Полезная информация
		</div>
		<div class="sidebar-box__content">
			<div class="sidebar-box__item">
			<svg class="sidebar-icon" width="24" height="24">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#hotels"></use>
        </svg>
				<a href="#" class="sidebar-box__link">
					Отели Египта
				</a>
			</div>
			<div class="sidebar-box__item">
		<svg class="sidebar-icon" width="24" height="24">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#plane"></use>
        </svg>
				<a href="#" class="sidebar-box__link">
					Туры в Египет
				</a>
			</div>
			<div class="sidebar-box__item">
		<svg class="sidebar-icon" width="24" height="24">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#visa"></use>
        </svg>
				<a href="#" class="sidebar-box__link">
					Виза в Египет
				</a>
			</div>
			<div class="sidebar-box__item">
			<svg class="sidebar-icon" width="24" height="24">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#dost"></use>
        </svg>
				<a href="#" class="sidebar-box__link">
					Достопримечательности Египта
				</a>
			</div>
			<div class="sidebar-box__item">
			<svg class="sidebar-icon" width="24" height="24">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#weather"></use>
        </svg>
				<a href="#" class="sidebar-box__link">
					Погода в Египте
				</a>
			</div>
			<div class="sidebar-box__item">
		<svg class="sidebar-icon" width="24" height="24">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#currency"></use>
        </svg>
				<a href="#" class="sidebar-box__link">
					Валюта Египта
				</a>
			</div>
			<div class="sidebar-box__item">
			<svg class="sidebar-icon" width="24" height="24">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#suggestion"></use>
        </svg>
				<a href="#" class="sidebar-box__link">
					Советы туристам
				</a>
			</div>
			<div class="sidebar-box__item">
			<svg class="sidebar-icon" width="24" height="24">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#food"></use>
        </svg>
				<a href="#" class="sidebar-box__link">
					Кухня Египта
				</a>
			</div>
			<div class="sidebar-box__item">
			<svg class="sidebar-icon" width="24" height="24">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#embrassy"></use>
        </svg>
				<a href="#" class="sidebar-box__link">
					Посольства Египта
				</a>
			</div>
			<div class="sidebar-box__item">
			<svg class="sidebar-icon" width="24" height="24">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="Images/country-icons.svg#culture"></use>
        </svg>
			<a href="#" class="sidebar-box__link">
				Культурные особенности Египта
			</a>
		</div>
	</div>
</div>
</div>
