<div class="hotel-booking__contact ">
	<div class="hotel-booking__heading">
		<div class="hotel-booking__item-num">
			1
		</div>
		<div class="hotel-booking__item-heading">
			Контактная
			<br>
			информация
		</div>
		<div class="arrow-icon"></div>
	</div>
	<div class="hotel-booking__text">
		Информация для связи с вами
	</div>
	<div class="hotel-booking__contact-form hotel-booking__body">
		<form action="/" class="hotel-booking__contacts-form">
			<div class="form-group">
				<label class="contacts-form__label">Ваше имя</label>
				<input class="form-control input-placeholder autoHide" type="text">
			</div>
			<div class="form-group">
				<label class="contacts-form__label">Ваша фамилия</label>
				<input class="form-control input-placeholder autoHide" type="text">
			</div>
			<div class="form-group">
				<label class="contacts-form__label">Ваш email</label>
				<input class="form-control input-placeholder autoHide" type="email">
			</div>
			<div class="form-group">
				<label class="contacts-form__label">Номер телефона</label>
				<input class="form-control input-placeholder autoHide" type="tel" value="+380">
			</div>
		</form>
		<div class="hotel-booking__label-confirm">
			<label class="brand-checkbox">
				<input type="checkbox" checked>
				<span class="brand-checkbox__media"></span>
				<span class="brand-checkbox__inner">
					Я ознакомился с
					<span>условиями договора</span>
				</span>
			</label>
		</div>
		<div class="hotel-booking__verification-buttons">
				<input class="btn btn-brand btn-brand--cloudBurst hotel-booking__next-btn" type="submit" value="Далее">
		</div>
	</div>
</div>
