<div class="hotel-booking__passport  ">
	<div class="hotel-booking__heading">
		<div class="hotel-booking__item-num">
			2
		</div>
		<div class="hotel-booking__item-heading">
			Паспортные
			<br>
			данные
		</div>
		<div class="arrow-icon"></div>
	</div>

	<div class="hotel-booking__text">
		Введите паспортные данные всех туристов
	</div>
	<div class="hotel-booking__passport-form hotel-booking__body">
		<div class="hotel-booking__passport-item">
			<div class="hotel-booking__person" data-toggle="collapse" data-target="#collapsePersonOne" aria-expanded="false" aria-controls="collapsePersonOne">
				<img src="./Images/who-blue.png" alt="">
				Первый турист (взрослый)
			</div>
			<div class="collapsePerson show collapse" id="collapsePersonOne">
				<div class="form-group">
					<label class="contacts-form__label">Ваше имя</label>
					<input class="form-control input-placeholder autoHide" type="text">
				</div>
				<div class="form-group">
					<label class="contacts-form__label">Ваша фамилия</label>
					<input class="form-control input-placeholder autoHide" type="text">
				</div>
				<div class="form-group">
					<label class="contacts-form__label">Пол</label>
					<div class="hotel-booking__sex">
						<label class="toogle">
							<input type="radio" checked="checked" name="sex-1">
							<span class="checkmark male">М</span>
						</label>
						<label class="toogle">
							<input type="radio" name="sex-1">
							<span class="checkmark female">Ж</span>
						</label>
					</div>
				</div>
				<div class="form-group">
					<label class="contacts-form__label">Дата рождения</label>
					<input class="form-control input-placeholder autoHide" type="text" placeholder="дд.мм.гггг">
				</div>
				<div class="form-group">
					<label class="contacts-form__label">Гражданство</label>
					<div class="custom-dropdown custom-dropdown--no-border">
						<div class="custom-dropdown__control">
							<div class="custom-dropdown__text">
								<div class="ellipsis-text">Украина</div>
							</div>
							<div class="custom-dropdown__expanded arrow-icon"></div>
						</div>
						<div class="b-dropdown_complex-b b-dropdown m-dropdown no-user-select jsDropDownOptions" style="display: none;">
							<div class="m-dropdown__header">
								<button class="m-dropdown__back back-icon"></button>
								<span class="m-dropdown__title">Гражданство</span>
							</div>
							<ul class="li-town">
								<li data-id="2" class="jsDropDownItem dd-item">
									<label class="brand-checkbox">
										<span class="brand-checkbox__inner">
											Россия
										</span>
									</label>
								</li>
								<li data-id="4" class="jsDropDownItem dd-item">
									<label class="brand-checkbox">
										<span class="brand-checkbox__inner">
											Белоруссия
										</span>
									</label>
								</li>
								<li data-id="4" class="jsDropDownItem dd-item">
									<label class="brand-checkbox">
										<span class="brand-checkbox__inner">
											Молдавия
										</span>
									</label>
								</li>

								<li class="dd-item m-divider jsItemLabel"></li>
							</ul>
							<div class="town-bottom town-bottom-controls jsControlPanel">
								<button class="btn btn-brand btn-brand--orange jsMultiSelectDone">ПРИМЕНИТЬ</button>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="contacts-form__label">Загран паспорт</label>
					<input class="form-control input-placeholder autoHide" type="text" placeholder="Серия и номер">
				</div>
				<div class="form-group">
					<label class="contacts-form__label">Действителен до</label>
					<input class="form-control input-placeholder autoHide" type="text" placeholder="дд.мм.гггг">
				</div>
			</div>
		</div>
		<div class="hotel-booking__passport-item">
			<div class="hotel-booking__person" data-toggle="collapse" data-target="#collapsePersonTwo" aria-expanded="false" aria-controls="collapsePersonTwo">
				<img src="./Images/who-blue.png" alt="">
				Второй турист (взрослый)
			</div>
			<div class="collapsePerson collapse" id="collapsePersonTwo">
				<div class="form-group">
					<label class="contacts-form__label">Ваше имя</label>
					<input class="form-control input-placeholder autoHide" type="text">
				</div>
				<div class="form-group">
					<label class="contacts-form__label">Ваша фамилия</label>
					<input class="form-control input-placeholder autoHide" type="text">
				</div>
				<div class="form-group">
					<label class="contacts-form__label">Пол</label>
					<div class="hotel-booking__sex">
						<label class="toogle">
							<input type="radio" checked="checked" name="sex-2">
							<span class="checkmark male">М</span>
						</label>
						<label class="toogle">
							<input type="radio" name="sex-2">
							<span class="checkmark female">Ж</span>
						</label>
					</div>
				</div>
				<div class="form-group">
					<label class="contacts-form__label">Дата рождения</label>
					<input class="form-control input-placeholder autoHide" type="text" placeholder="дд.мм.гггг">
				</div>
				<div class="form-group">
					<label class="contacts-form__label">Гражданство</label>
					<div class="custom-dropdown custom-dropdown--no-border">
						<div class="custom-dropdown__control">
							<div class="custom-dropdown__text">
								<div class="ellipsis-text">Украина</div>
							</div>
							<div class="custom-dropdown__expanded arrow-icon"></div>
						</div>
						<div class="b-dropdown_complex-b b-dropdown m-dropdown no-user-select jsDropDownOptions" style="display: none;">
							<div class="m-dropdown__header">
								<button class="m-dropdown__back back-icon"></button>
								<span class="m-dropdown__title">Гражданство</span>
							</div>
							<ul class="li-town">
								<li data-id="2" class="jsDropDownItem dd-item">
									<label class="brand-checkbox">
										<span class="brand-checkbox__inner">
											Россия
										</span>
									</label>
								</li>
								<li data-id="4" class="jsDropDownItem dd-item">
									<label class="brand-checkbox">
										<span class="brand-checkbox__inner">
											Белоруссия
										</span>
									</label>
								</li>
								<li data-id="4" class="jsDropDownItem dd-item">
									<label class="brand-checkbox">
										<span class="brand-checkbox__inner">
											Молдавия
										</span>
									</label>
								</li>

								<li class="dd-item m-divider jsItemLabel"></li>
							</ul>
							<div class="town-bottom town-bottom-controls jsControlPanel">
								<button class="btn btn-brand btn-brand--orange jsMultiSelectDone">ПРИМЕНИТЬ</button>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="contacts-form__label">Загран паспорт</label>
					<input class="form-control input-placeholder autoHide" type="text" placeholder="Серия и номер">
				</div>
				<div class="form-group">
					<label class="contacts-form__label">Действителен до</label>
					<input class="form-control input-placeholder autoHide" type="text" placeholder="дд.мм.гггг">
				</div>
			</div>
		</div>
		<div class="hotel-booking__passport-item">
			<div class="hotel-booking__person" data-toggle="collapse" data-target="#collapsePersonThree" aria-expanded="false" aria-controls="collapsePersonThree">
				<img src="./Images/who-blue.png" alt="">
				Третий турист (ребенок)
			</div>
			<div class="collapsePerson  collapse" id="collapsePersonThree">
				<div class="form-group">
					<label class="contacts-form__label">Ваше имя</label>
					<input class="form-control input-placeholder autoHide" type="text">
				</div>
				<div class="form-group">
					<label class="contacts-form__label">Ваша фамилия</label>
					<input class="form-control input-placeholder autoHide" type="text">
				</div>
				<div class="form-group">
					<label class="contacts-form__label">Пол</label>
					<div class="hotel-booking__sex">
						<label class="toogle">
							<input type="radio" checked="checked" name="child">
							<span class="checkmark male">М</span>
						</label>
						<label class="toogle">
							<input type="radio" name="child">
							<span class="checkmark female">Ж</span>
						</label>
					</div>
				</div>
				<div class="form-group">
					<label class="contacts-form__label">Дата рождения</label>
					<input class="form-control input-placeholder autoHide" type="text" placeholder="дд.мм.гггг">
				</div>
				<div class="form-group">
					<label class="contacts-form__label">Гражданство</label>
					<div class="custom-dropdown custom-dropdown--no-border">
						<div class="custom-dropdown__control">
							<div class="custom-dropdown__text">
								<div class="ellipsis-text">Украина</div>
							</div>
							<div class="custom-dropdown__expanded arrow-icon"></div>
						</div>
						<div class="b-dropdown_simple-b b-dropdown m-dropdown no-user-select jsDropDownOptions" style="display: none;">
							<div class="m-dropdown__header">
								<button class="m-dropdown__back back-icon"></button>
								<span class="m-dropdown__title">Гражданство</span>
							</div>
							<ul class="li-town">
								<li data-id="2" class="jsDropDownItem dd-item">
								Герман
								</li>
								<li data-id="4" class="jsDropDownItem dd-item">
									Белоруссия
								</li>
								<li data-id="4" class="jsDropDownItem dd-item">
									Молдавия
								</li>
								<li class="dd-item m-divider jsItemLabel"></li>
							</ul>
							<div class="town-bottom town-bottom-controls jsControlPanel">
								<button class="btn btn-brand btn-brand--orange jsMultiSelectDone">ПРИМЕНИТЬ</button>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="contacts-form__label">Загран паспорт</label>
					<input class="form-control input-placeholder autoHide" type="text" placeholder="Серия и номер">
				</div>
				<div class="form-group">
					<label class="contacts-form__label">Действителен до</label>
					<input class="form-control input-placeholder autoHide" type="text" placeholder="дд.мм.гггг">
				</div>
			</div>
		</div>
		<div class="hotel-booking__verification-buttons">
			<input class="btn btn-brand btn-brand--cloudBurst hotel-booking__prev-btn" type="submit" value="Назад">
			<input class="btn btn-brand btn-brand--cloudBurst hotel-booking__next-btn" type="submit" value="Далее">
	</div>
	</div>
	
</div>
